beautifulsoup4==4.12.3
celery==5.3.6
django==5.0.1
django-admin-interface==0.28.5
django-browser-reload==1.12.1
django-celery-results==2.5.1
django-colorfield==0.11.0
django-debug-toolbar==4.2.0
django-tailwind==3.8.0
honcho==1.1.0
psycopg2==2.9.9
python-dotenv==1.0.1
python-telegram-bot==20.7
python-dateutil==2.8.2
redis==5.0.1
selenium==4.17.2
undetected_chromedriver==3.5.4