body{background-color:#eff0f2 !important;}
a{text-decoration:none !important;}
.bp5-button,.bp5-file-upload-input::after{border-radius:5px;box-shadow:none !important;}
.bp5-button-group.bp5-vertical:not(.bp5-minimal) > .bp5-popover-target:first-child .bp5-button{border-radius:5px 5px 0 0;}
.bp5-button-group.bp5-vertical:not(.bp5-minimal) > .bp5-popover-target:last-child .bp5-button{border-radius:0 0 5px 5px;}
.bp5-card{border-radius:10px;box-shadow:none;}
.bp5-card-list>.bp5-card{border-radius:0;}
.bp5-callout{border-radius:5px;}
.bp5-control.bp5-switch .bp5-control-indicator, .bp5-control.bp5-switch .bp5-control-indicator::before{transition:none;}
.bp5-control-group:not(.bp5-vertical)>:not(:last-child){margin-right:5px;}
.bp5-file-upload-input::after{content:"Обзор";}
.bp5-input:not(:focus),.bp5-file-upload-input,.bp5-html-select>select,textarea:not(:focus){background-color:white;border-radius:3px;box-shadow:inset 0 0 0 1px rgba(17, 20, 24, 0.2);}
.bp5-menu{border-radius:5px;}
