{% extends "extensions/base.html" %}

{% block content %}
<div class="flex flex-col gap-4 mt-12">
    <div class="bg-white rounded-2xl p-2 pt-4 w-96">
        <form class="flex flex-col gap-4" action="" method="post" novalidate>
            {% csrf_token %}
            <div>
                <h1 class="font-bold text-2xl text-">Вход</h1>
                <div class="text-">Портрет Geo</div>
            </div>

            {% if messages %}
            {% for message in messages %}
            <div class="bg-rose-100 flex items-center justify-between px-2 py-1 rounded text-sm text-rose-900">
                {{message}}
                <span class="material-symbols-outlined text-rose-900 text-sm">info_i</span>
            </div>
            {% endfor %}
            {% endif %}

            <div class="flex flex-col gap-1" action="" method="post" novalidate>
                {{ form.username }}
                {{ form.password }}
            </div>

            <div class="flex">
                <button class="button_widget" type="submit">Войти</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
