{% load extensions %}
<div class="__bcaed682__">
    <style type="text/css">
        {% include "widget/_rating.css" %}
    </style>
    <div class="__a96f6dd4__">
        <div class="__c7edcdff__">
            {{rating}}
        </div>
    </div>
    <div class="__49d00207__">
        <div class="__552a3473__">
            <img class="__d18c5315__" height=10 src="https://geo.portrate.io/static/{{stars_svg}}" width=70>
            <div class="__fcf081f6__">
                {{reviews_total_count}} {{reviews_total_count|rupluralize:"отзыв, отзыва, отзывов"}}
            </div>
            <div class="__3f72df2d__">
                виджет от <a class="__3abeac1f__" href="https://portrate.io" target="_blank"><img src="https://geo.portrate.io/static/images/dashboard/logo.svg" width=40></a>
            </div>
        </div>
    </div>
</div>