{% load static %}

<div id="RATE_WIDGET_CONTAINER"
     style="
        background: #F6F6F6;
        box-shadow: 0 0 5px 0 rgba(0,0,0,.05);
        bottom:15px;
        border-radius:10px;
        display:flex;
        gap:10px;
        height:80px;
        left:15px;
        position:fixed;
        width:240px;
     ">
    <div style="display:flex;height:80px;place-items:center;width:70px;">
        <div style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;font-size:38px;text-align:right;width:100%;">
            {{company_rate}}
        </div>
    </div>
    <div style="height:80px;place-items:center;width:160px;">
        {% with ''|center:company_rate_ceil as range %}
        {% for _ in range %}
        <img src="{% static 'star-yellow.svg'%}">
        {% endfor %}
        {% endwith %}

        {{company_rate_ceil}}
        {{company_rate_float}}
        {{company_rate_rest}}
    </div>
</div>