{% load extensions %}
<div class="__500fc3f4__">
    <style type="text/css">
        {% if theme == 'l' %}{% include "widget/_reviews_slider_light.css" %}{% else %}{% include "widget/_reviews_slider_dark.css" %}{% endif %}
    </style>
    <div class="__4cdc181d__">
        <div class="__bee6d052__">
            <div class="__9d882786__">
                {{rating}}
            </div>
            <div>
                <img height=10 src="https://geo.portrate.io/static/{{stars_svg}}" width=70>
                <div class="__8a11c70c__">
                    {{reviews_total_count}} {{reviews_total_count|rupluralize:"отзыв, отзыва, отзывов"}}
                </div>
            </div>
        </div>
        <div class="__6a6348f9__">
            виджет от <a class="__79aae8ed__" href="https://portrate.io" target="_blank"><img src="https://geo.portrate.io/static/images/dashboard/logo.svg" width=40></a>
        </div>
    </div>
    <div class="__2981c708__">
        {% for review in reviews %}
        <div class="__6b948e6f__">
            <div class="__3c488807__">
                {{review.name}} <img class="__ccaab7aa__" height="14" src="https://geo.portrate.io/static/images/services/{{review.service|lower}}.svg" width="14">
            </div>
            <img height="10" src="https://geo.portrate.io/static/{{review.stars_svg}}" width="70">
            <div class="__d384a050__">
                {{review.created_at}}
            </div>
            <div class="__c35ad222__">
                {{review.text|truncatechars:180}}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
