.__3151ca39__{background-color:#ededed;border-radius: 1rem;font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif;}
.__20965ede__{display: flex;gap: 0.5rem;padding: 1rem;}
.__40b76d95__{align-items:center;border-radius:0.5rem;color:black !important;display:flex;gap:0.5rem;padding:0.5rem 1rem 0.5rem 0.5rem;text-decoration: none;}
.__40b76d95__:hover{background-color:white;}
.__cab09265__{font-weight: bold;}
.__1314449f__{opacity:0.5;}
.__2981c708__{container:scroll / inline-size;display:flex;gap:1rem;margin-left:1rem;margin-right:1rem;overflow-x:scroll;padding-bottom:1rem;padding-top:1rem;scroll-snap-type:x mandatory;}
.__2981c708__::-webkit-scrollbar{display:none;}
.__2981c708__::-webkit-scrollbar-thumb{display:none;}
.__6b948e6f__{background-color:white;border-radius:0.5rem;flex:1 0;overflow:hidden;position:relative;scroll-snap-align:start;}
.__3c488807__{display:flex;gap: 0.5rem;padding:1.5rem 1.5rem 1rem 1.5rem;}
.__e5cfa931__{font-weight:bold;font-size: large;margin-bottom:0.2rem;}
.__440ca2c6__{margin-bottom:0.1rem;}
.__d384a050__{color:rgba(0,0,0,0.5);font-size:small;}
.__6a2b11f7__{margin-left:auto;}
.__c35ad222__{line-height:1.6;padding:0 2rem 1.5rem 1.5rem;font-size: large;}
.__e828da28__{align-items:end;background:linear-gradient(0deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);bottom:0;display:block;display:flex;height:10rem;justify-content:center;left:0;position:absolute;text-decoration:none;width:100%;}
.__c86bfb83__{color:rgba(0,0,0,0.5);height:24px;margin-bottom:1.5rem;opacity:0.5;width:24px;}
@container scroll (max-width:480px) {.__6b948e6f__{flex-basis:100%;}}
@container scroll (min-width:480px) and (max-width:768px) {.__6b948e6f__{flex-basis:calc((100%/2) - 0.5rem);}}
@container scroll (min-width:769px) and (max-width:1200px) {.__6b948e6f__{flex-basis:calc((100%/3) - 0.65rem);}}
@container scroll (min-width:1201px) and (max-width:1500px) {.__6b948e6f__{flex-basis:calc((100%/4) - 0.75rem);}}
@container scroll (min-width:1501px) {.__6b948e6f__{flex-basis:calc((100%/5) - 0.8rem);}}