/* Container */
.__3151ca39__{
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif  !important;
    position:relative !important;
}

/* Reviews button */
.__442d9ae4__,
.__317ec92c__{
    align-items:center !important;
    background-color:rgba(0,0,0,0.25) !important;
    border:none !important;
    border-radius:5px !important;
    bottom:65px !important;
    cursor:pointer !important;
    display:flex !important;
    height:40px !important;
    justify-content:center !important;
    padding:0 !important;
    position:absolute !important;
    margin:0 !important;
    width:40px !important;
    z-index:9999 !important;
}

.__442d9ae4__:hover,
.__317ec92c__:hover{
    background-color:rgba(0,0,0,0.35) !important;
}

.__442d9ae4__:active,
.__317ec92c__:active{
    background-color:rgba(0,0,0,0.45) !important;
}

.__49b33320__,
.__533daea2__{
    height:20px !important;
    filter:invert(1) !important;
    width:20px !important;
}

/* Reviews button left */
.__442d9ae4__{
    left:10px !important;
}

/* Reviews button right */
.__317ec92c__{
    right:10px !important;
}

/* Reviews */
.__2981c708__{
    container:scroll / inline-size !important;
    display:flex !important;
    gap:1% !important;
    min-height:150px !important;
    overflow-x:scroll !important;
    scroll-snap-type:x mandatory !important;
    scroll-behavior:smooth !important;
}

.__2981c708__::-webkit-scrollbar,
.__2981c708__::-webkit-scrollbar-thumb{
    display:none !important;
}

/* Review */
.__6b948e6f__{
    background-color:{% if theme == 'l' %}#F1F1F1{% else %}#323232{% endif %} !important;
    border-radius:10px !important;
    flex-grow:1 !important;
    flex-shrink:0 !important;
    scroll-snap-align:start !important;
}

@container scroll (max-width:480px) {.__6b948e6f__{flex-basis:100%;}}
@container scroll (min-width:480px) and (max-width:768px) {.__6b948e6f__{flex-basis:calc(99%/2);}}
@container scroll (min-width:769px) and (max-width:1200px) {.__6b948e6f__{flex-basis:calc(98%/3);}}
@container scroll (min-width:1201px) and (max-width:1500px) {.__6b948e6f__{flex-basis:calc(97%/4);}}
@container scroll (min-width:1501px) {.__6b948e6f__{flex-basis:calc(96%/5);}}

/* Review header */
.__3c488807__{
    display:flex !important;
    padding-top:25px !important;
    padding-right:25px !important;
    padding-bottom:25px !important;
    padding-left:25px !important;
}

/* Review header title */
.__e5cfa931__{
    color:{% if theme == 'l' %}black{% else %}white{% endif %} !important;
    font-size:large !important;
    font-weight:bold !important;
    padding-bottom:10px !important;
}

/* Review header stars */
.__440ca2c6__{
    margin-bottom:5px !important;
}

/* Review header date */
.__d384a050__{
    color:{% if theme == 'l' %}rgba(0,0,0,0.5){% else %}rgba(255,255,255,0.5){% endif %} !important;
    font-size:small !important;
}

/* Review header service */
.__6a2b11f7__{
    margin-left:auto !important;
}

/* Review text */
.__4080b9b1__{
    margin-right:25px !important;
    margin-bottom:60px !important;
    margin-left:25px !important;
    position: relative !important;
}

/* Review text scroll */
.__c35ad222__{
    color:{% if theme == 'l' %}black{% else %}white{% endif %} !important;
    font-size:large !important;
    line-height:1.4 !important;
    min-height:150px !important;
    max-height:250px !important;
    overflow-y:scroll !important;
}

.__c35ad222__::-webkit-scrollbar,
.__c35ad222__::-webkit-scrollbar-thumb{
    display:none !important;
}

/* Review text top fade */
.__341e4199__{
    background:{% if theme == 'l' %}linear-gradient(0deg, rgba(241,241,241,0) 0%, rgba(241,241,241,1) 100%){% else %}linear-gradient(0deg, rgba(50,50,50,0) 0%, rgba(50,50,50,1) 100%){% endif %} !important;
    display:none; /* Except */
    height:55px !important;
    left:-1px !important;
    top:-1px !important;
    position:absolute !important;
    width:calc(100% + 2px) !important;
}

/* Review text bottom fade */
.__b4777536__{
    background:{% if theme == 'l' %}linear-gradient(0deg, rgba(241,241,241,1) 25%, rgba(241,241,241,0) 100%){% else %}linear-gradient(0deg, rgba(50,50,50,1) 25%, rgba(50,50,50,0) 100%){% endif %} !important;
    bottom:-1px !important;
    display:none; /* Except */
    height:55px !important;
    left:-1px !important;
    position:absolute !important;
    width:calc(100% + 2px) !important;
}

/* Links */
.__20965ede__{
    display:flex !important;
    gap:5px !important;
    overflow-x:scroll !important;
    padding-top:20px !important;
}

.__20965ede__::-webkit-scrollbar,
.__20965ede__::-webkit-scrollbar-thumb{
    display:none !important;
}

/* Link */
.__40b76d95__,
.__2affd980__{
    align-items:center !important;
    border-color:{% if theme == 'l' %}#F1F1F1{% else %}#323232{% endif %} !important;
    border-radius: 5px !important;
    border-style:solid !important;
    border-width:1px !important;
    color:{% if theme == 'l' %}black{% else %}white{% endif %} !important;
    display:flex !important;;
    gap:10px !important;
    height:35px !important;
    padding-left:10px !important;
    padding-right:15px !important;
    text-decoration:none !important;
}

.__40b76d95__:hover{
    background-color:{% if theme == 'l' %}#F1F1F1{% else %}#323232{% endif %} !important;
}

/* Link rating */
.__cab09265__{
    font-weight:bold !important;
}

/* Link share icon */
.__1314449f__{
    filter:{% if theme == 'l' %}invert(0){% else %}invert(1){% endif %} !important;
    opacity:0.5 !important;
}

/* Made in */
.__2affd980__{
    align-items:center !important;
    border-color:{% if theme == 'l' %}#F1F1F1{% else %}#323232{% endif %} !important;
    border-radius: 5px !important;
    border-style:solid !important;
    border-width:1px !important;
    color:{% if theme == 'l' %}rgba(0,0,0,0.5){% else %}rgba(255,255,255,0.5){% endif %} !important;
    font-size:small !important;
    display:flex !important;;
    gap:5px !important;
    height:35px !important;
    margin-left:auto !important;
    padding-left:15px !important;
    padding-right:15px !important;
    text-decoration:none !important;
}

.__2affd980__:hover{
    background-color:{% if theme == 'l' %}#F1F1F1{% else %}#323232{% endif %} !important;
}
