{% load extensions %}
<div style="background-color:{% if theme == 'l' %}#f6f6f6{% else %}#2b2b2b{% endif %};border-radius:10px 10px 0 0;width: 100%;" id="PIO_REVIEWS_WIDGET_CONTAINER">
    <style type="text/css">
        .PIO_REVIEWS_WIDGET_CARD_1{flex:1 0 100%}
        .PIO_REVIEWS_WIDGET_CARD_2{flex:1 0 calc(100% / 2)}
        .PIO_REVIEWS_WIDGET_CARD_3{flex:1 0 calc(100% / 3)}
        .PIO_REVIEWS_WIDGET_CARD_4{flex:1 0 calc(100% / 4)}
        .PIO_REVIEWS_WIDGET_CARD_5{flex:1 0 calc(100% / 5)}
        .PIO_REVIEWS_WIDGET_SCROLL::-webkit-scrollbar{background-color:{% if theme == 'l' %}rgba(0,0,0,0.3){% else %}rgba(255,255,255,0.3){% endif %};height:5px}
        .PIO_REVIEWS_WIDGET_SCROLL::-webkit-scrollbar-thumb{background-color: #FFBE19;background-clip: content-box}
    </style>
    <div style="border-bottom:1px solid {% if theme == 'l' %}rgba(0,0,0,0.1){% else %}rgba(255,255,255,0.1){% endif %};display:flex;width:100%;">
        <div style="display:flex;height:80px;place-items:center;width:90px;">
            <div style="color:{% if theme == 'l' %}#2b2b2b{% else %}#f6f6f6{% endif %};font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif;font-size:42px;text-align:center;padding-left:5px;width:100%;">
                {{rating}}
            </div>
        </div>
        <div style="display:flex;height:80px;place-items:center;width:150px;">
            <div style="display:flex;flex-direction:column;gap:5px;width:150px;">
                <div style="display:flex;gap:5px;height:13px;width:150px;">
                    <img src="https://geo.portrate.io/static/star-yellow.svg">
                </div>
                <div style="color:{% if theme == 'l' %}#696969{% else %}#adadad{% endif %};font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif;font-size:12px;width:150px;">
                    {{ company_reviews_count }} {{ company_reviews_count|rupluralize:"отзыв, отзыва, отзывов" }}
                </div>
                <div style="color:{% if theme == 'l' %}#adadad{% else %}#696969{% endif %};font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif;font-size:10px;width:150px;">
                    работает на <a target="_blank" style="color:#a77300;text-decoration:none" href="https://portrate.io">portrate.io</a>
                </div>
            </div>
        </div>
    </div>
    <div style="display:flex;overflow-x:scroll;padding-top:20px;padding-bottom:20px;scroll-snap-type: x mandatory;width: 100%;" class="PIO_REVIEWS_WIDGET_SCROLL">
    {% for review in reviews %}
        <div style="scroll-snap-align:start;" class="PIO_REVIEWS_WIDGET_CARD">
            <div style="background-color:{% if theme == 'l' %}#e2e2e2{% else %}#515151{% endif %};border-radius:5px;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif;font-size:12px;height: calc(100% - 20px);margin-left:10px;margin-right:10px;padding: 10px;">
                <div style="display:flex;gap:5px;justify-content:space-between;margin-bottom:10px;">
                    <div>
                        <h6 style="color:{% if theme == 'l' %}#2b2b2b{% else %}#f6f6f6{% endif %};font-size:14px;margin:0;">
                            {{review.name}}
                        </h6>
                        <div style="color:{% if theme == 'l' %}#696969{% else %}#adadad{% endif %};font-size:12px;margin-bottom:5px;">
                            {{review.created_at}}
                        </div>
                        <div style="display:flex;gap:5px;">
                            <img style="height:10px;width:10px;" src="https://geo.portrate.io/static/{{review.stars_svg}}">
                        </div>
                    </div>
                    <div>
                        {% if review.service == 'YANDEX' %}
                        <img style="width:16px;" src="https://geo.portrate.io/static/images/services/yandex.svg" alt="Яндекс">
                        {% endif %}
                        {% if review.service == 'GIS' %}
                        <img style="width:16px;" src="https://geo.portrate.io/static/images/services/gis.svg" alt="2Гис">
                        {% endif %}
                        {% if review.service == 'GOOGLE' %}
                        <img style="width:16px;" src="https://geo.portrate.io/static/images/services/google.svg" alt="Google">
                        {% endif %}
                    </div>
                </div>
                <div style="color:{% if theme == 'l' %}#2b2b2b{% else %}#f6f6f6{% endif %};font-size:14px;">
                    {{review.text|truncatechars:100}}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
