/* Container */
.__3151ca39__{
    background-color:black !important;
    border-radius:1rem  !important;
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif  !important;
}

/* Reviews */
.__2981c708__{
    container:scroll / inline-size !important;
    display:flex !important;
    gap:1rem !important;
    margin-left:1rem !important;
    margin-right:1rem !important;
    overflow-x:scroll !important;
    padding-bottom:1rem !important;
    padding-top:1rem !important;
    scroll-snap-type:x mandatory !important;
    scroll-behavior: smooth;
}

.__2981c708__::-webkit-scrollbar,
.__2981c708__::-webkit-scrollbar-thumb{
    display:none !important;
}

/* Review */
.__6b948e6f__{
    background-color:rgba(255,255,255,0.3) !important;
    border-radius:0.5rem !important;
    flex-grow:1 !important;
    flex-shrink:0 !important;
    scroll-snap-align:start !important;
}

@container scroll (max-width:480px) {.__6b948e6f__{flex-basis:100%;}}
@container scroll (min-width:480px) and (max-width:768px) {.__6b948e6f__{flex-basis:calc((100%/2) - 0.5rem);}}
@container scroll (min-width:769px) and (max-width:1200px) {.__6b948e6f__{flex-basis:calc((100%/3) - 0.65rem);}}
@container scroll (min-width:1201px) and (max-width:1500px) {.__6b948e6f__{flex-basis:calc((100%/4) - 0.75rem);}}
@container scroll (min-width:1501px) {.__6b948e6f__{flex-basis:calc((100%/5) - 0.8rem);}}

/* Review header */
.__3c488807__{
    display:flex !important;
    gap: 0.5rem !important;
    padding-top:1.5rem !important;
    padding-right:1.5rem !important;
    padding-bottom:1rem !important;
    padding-left:1.5rem !important;
}

/* Review header title */
.__e5cfa931__{
    color:white !important;
    font-size:large !important;
    font-weight:bold !important;
    margin-bottom:0.2rem !important;
}

/* Review header stars */
.__440ca2c6__{
    margin-bottom:0.1rem !important;
}

/* Review header date */
.__d384a050__{
    color:rgba(255,255,255,0.5) !important;
    font-size:small !important;
}

/* Review header service */
.__6a2b11f7__{
    margin-left:auto !important;
}

/* Review text */
.__c35ad222__{
    color:white !important;
    font-size:large !important;
    line-height:1.6 !important;
    padding-right:2rem !important;
    padding-bottom:1.5rem !important;
    padding-left:1.5rem !important;
}

/* Review expand */
.__e828da28__{
    color:rgba(255,255,255,0.5) !important;
    font-size:small !important;
    text-decoration:none !important;
}

.__e828da28__:hover{
    color:rgba(255,255,255,0.6) !important;
}

/* Links */
.__20965ede__{
    display:flex !important;
    gap:0.5rem !important;
    padding-top:1rem !important;
    padding-right:1rem !important;
    padding-bottom:1rem !important;
    padding-left:1rem !important;
    overflow-x:scroll;
}

.__20965ede__::-webkit-scrollbar,
.__20965ede__::-webkit-scrollbar-thumb{
    display:none !important;
}

/* Link */
.__40b76d95__{
    align-items:center !important;
    background-color:rgba(255,255,255,0.3) !important;
    border-radius:0.5rem !important;
    color:white !important;
    display:flex !important;;
    gap:0.5rem !important;;
    padding-top:0.5rem !important;
    padding-right:1rem !important;
    padding-bottom:0.5rem !important;
    padding-left:0.5rem !important;
    text-decoration:none !important;
}

.__40b76d95__:hover{
    background-color:rgba(255,255,255,0.4) !important;
}

/* Link rating */
.__cab09265__{
    font-weight:bold !important;
}

/* Link share icon */
.__1314449f__{
    filter: invert(1) !important;
    opacity:0.5 !important;
}
