{% load extensions %}
<div class="__3151ca39__">
    <style type="text/css">
        {% include "widget/_reviews_slider_dark.css" %}
    </style>
    <button class="__442d9ae4__" onclick="__18e6c1__()" data-32a461><img class="__49b33320__" height="20" src="https://geo.portrate.io/static/images/dashboard/chevron-left.svg" width="20"></button>
    <button class="__317ec92c__" onclick="__459b69__()" data-cd7b94><img class="__533daea2__" height="20" src="https://geo.portrate.io/static/images/dashboard/chevron-right.svg" width="20"></button>
    <div class="__2981c708__" data-4913fc>
        {% for review in reviews %}
        <div class="__6b948e6f__" data-fd94a8>
            <div class="__3c488807__">
                <div>
                    <div class="__e5cfa931__">
                        {{review.name}}
                    </div>
                    <img class="__440ca2c6__" height="10" src="https://geo.portrate.io/static/{{review.stars_svg}}" width="70">
                    <div class="__d384a050__">
                        {{review.created_at}}
                    </div>
                </div>
                <img class="__6a2b11f7__" height=16 src="https://geo.portrate.io/static/{{review.parser_png}}" width=16>
            </div>

            <div class="__4080b9b1__">
                <div class="__341e4199__"></div>
                <div class="__c35ad222__" onscroll="__a4738e__(this)" data-20d8b7>
                    {{review.text}}
                </div>
                <div class="__b4777536__"></div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="__20965ede__">
        {% if parser_link_yandex %}
        <a href="{{parser_link_yandex}}" class="__40b76d95__" target="_blank">
            <img class="__ccaab7aa__" height="16" src="https://geo.portrate.io/static/images/parsers/yandex.png" width="16">
            Яндекс
            <span class="__cab09265__">{{rating_yandex}}</span>
            <img class="__1314449f__" height="14" src="https://geo.portrate.io/static/images/dashboard/share.svg" width="14">
        </a>
        {% endif %}
        {% if parser_link_gis %}
        <a href="{{parser_link_gis}}" class="__40b76d95__" target="_blank">
            <img class="__ccaab7aa__" height="16" src="https://geo.portrate.io/static/images/parsers/gis.png" width="16">
            2Гис
            <span class="__cab09265__">{{rating_gis}}</span>
            <img class="__1314449f__" height="14" src="https://geo.portrate.io/static/images/dashboard/share.svg" width="14">
        </a>
        {% endif %}
        {% if parser_link_google %}
        <a href="{{parser_link_google}}" class="__40b76d95__" target="_blank">
            <img class="__ccaab7aa__" height="16" src="https://geo.portrate.io/static/images/parsers/google.png" width="16">
            Google
            <span class="__cab09265__">{{rating_google}}</span>
            <img class="__1314449f__" height="14" src="https://geo.portrate.io/static/images/dashboard/share.svg" width="14">
        </a>
        {% endif %}
        <a href="https://portrate.io" class="__2affd980__" target="_blank">
            <span>виджет</span><span>от</span><img class="__465c2f34__" src="https://geo.portrate.io/static/images/dashboard/logo.svg" width="55">
        </a>
    </div>
</div>
