<div style="position:relative;" data-dropdown>
    <button class="bp5-button bp5-minimal" data-show>
        <span class="bp5-button-text">{{ company.name|truncatechars:'10' }}</span>
        <span class="bp5-icon bp5-icon-chevron-down bp5-icon-standard"></span>
    </button>
    <ul class="bp5-menu bp5-elevation-4" data-target style="display:none;left:-2px;top:-5px;opacity:1;position:absolute;z-index:99999;">
        <li>
            <div class="bp5-menu-item" data-hide>
                <div class="bp5-entity-title bp5-fill bp5-text-overflow-ellipsis">
                    {{ company.name }}
                    <span class="bp5-icon bp5-icon-cross ml-auto bp5-text-muted"></span>
                </div>
            </div>
        </li>
        {% for company_short in company_list_short %}
        <li>
            <a class="bp5-menu-item" href="{% url 'company_detail' company_short.id %}" type="button">{{ company_short.name }}</a>
        </li>
        {% endfor %}
        <li class="bp5-menu-header"></li>
        <li>
            <a class="bp5-menu-item" href="{% url 'company_list' %}">Все филиалы</a>
        </li>
        <li>
            <a class="bp5-menu-item bp5-intent-success" href="{% url 'company_create_link_yandex' %}">Добавить филиал</a>
        </li>
    </ul>
</div>
<div class="bp5-navbar-divider"></div>
<a class="bp5-button bp5-minimal {% if nav == 'statistic' %}bp5-active{% endif %}" href="{% url 'company_detail' company.id %}">Статистика</a>
<a class="bp5-button bp5-minimal {% if nav == 'reviews' %}bp5-active{% endif %}" href="{% url 'review_list' company.id %}">Отзывы</a>
<a class="bp5-button bp5-minimal {% if nav == 'messages' %}bp5-active{% endif %}" href="{% url 'message_list' company.id %}">Жалобы</a>
<a class="bp5-button bp5-minimal {% if nav == 'widget' %}bp5-active{% endif %}" href="{% url 'company_update_widget' company.id %}">Виджет</a>
<a class="bp5-button bp5-minimal {% if nav == 'feedback' %}bp5-active{% endif %}" href="{% url 'company_update_feedback_data' company.id %}">Визитка</a>
<a class="bp5-button bp5-minimal {% if nav == 'qr' %}bp5-active{% endif %}" href="{% url 'company_detail_qr' company.id %}">Qr</a>
<a class="bp5-button bp5-minimal {% if nav == 'notifications' %}bp5-active{% endif %}" href="{% url 'membership_update' company.id %}">Уведомления</a>
