<div class="bp5-tabs">
    <ul class="bp5-tab-list" role="tablist">
        <li class="bp5-tab" role="tab" aria-selected="true">Показатели</li>
        <li class="bp5-tab" role="tab">Отзывы
            <span class="bp5-tag bp5-minimal bp5-tab-tag"><span class="bp5-text-overflow-ellipsis bp5-fill">4</span></span>
        </li>
        <li class="bp5-tab" role="tab">Негативные сообщения
            <span class="bp5-tag bp5-minimal bp5-tab-tag"><span class="bp5-text-overflow-ellipsis bp5-fill">3</span></span>
        </li>
        <li class="bp5-tab" role="tab">Рассылки</li>
        <li class="bp5-tab" role="tab">QR коды</li>
        <li class="bp5-tab" role="tab">Виджеты</li>
    </ul>
</div>