<div class="bp5-form-group">
    <div class="bp5-entity-title bp5-entity-title-heading-h3">
        {% if company.logo %}
        <div class="bp5-entity-title-icon-container bp5-entity-title-has-subtitle">
            <img height=60 src="{{company.logo.url}}" style="border-radius:5px;" width=60>
        </div>
        {% endif %}
        <div class="bp5-entity-title-text">
            <div class="bp5-entity-title-title-and-tags">
                <h3 class="bp5-heading bp5-entity-title-title bp5-text-overflow-ellipsis">
                    {{company.name}}
                </h3>
            </div>
            {% if company.address %}
            <div class="bp5-entity-title-subtitle bp5-text-muted">
                {{company.address}}
            </div>
            {% endif %}
        </div>
    </div>
</div>