{% load extensions %}

<div class="bp5-tabs">
    <ul class="bp5-tab-list" role="tablist">
        <a class="bp5-tab" {% if sub_nav == 'detail' %}aria-selected="true"{% endif %} href="{% url 'company_detail' company.id %}">Показатели</a>
        <a class="bp5-tab" {% if sub_nav == 'review' %}aria-selected="true"{% endif %} href="{% url 'review_list' company.id %}" >
            Отзывы <span class="bp5-tag bp5-minimal bp5-tab-tag"><span class="bp5-text-overflow-ellipsis bp5-fill">{{ company.total_positive_count|sum:company.total_negative_count }}</span></span>
        </a>
        <a class="bp5-tab" {% if sub_nav == 'message' %}aria-selected="true"{% endif %} href="{% url 'message_list' company.id %}">
            Негативные сообщения <span class="bp5-tag bp5-minimal bp5-tab-tag"><span class="bp5-text-overflow-ellipsis bp5-fill">{{ company.portrate_negative_count|default:'0' }}</span></span>
        </a>
        <li class="bp5-tab" aria-disabled="true" role="tab">
            Рассылки <span class="bp5-tag bp5-minimal bp5-tab-tag"><span class="bp5-text-overflow-ellipsis bp5-fill">Скоро</span></span>
        </li>
        <a class="bp5-tab" {% if sub_nav == 'qr' %}aria-selected="true"{% endif %} href="{% url 'qr' company.id %}">QR код</a>
        <a class="bp5-tab" {% if sub_nav == 'widget' %}aria-selected="true"{% endif %} href="{% url 'widget' company.id %}">Виджет</a>
    </ul>
</div>