{% load static %}
<div class="bp5-form-group">
    <div class="bp5-form-content">
        <ul class="bp5-tab-list">
            <li class="bp5-tab" {% if sub_nav == "yandex" %}aria-selected="true"{% else %}aria-disabled="true"{% endif %}>
                <div class="bp5-entity-title">
                    <span class="bp5-minimal bp5-tag">1</span>
                    <img height=16 src="{% static 'dashboard/images/services/yandex.png' %}" width=16>
                    Яндекс
                </div>
            </li>
            <li class="bp5-tab" aria-disabled="true">
                <span class="bp5-icon bp5-icon-arrow-right"></span>
            </li>
            <li class="bp5-tab" {% if sub_nav == "gis" %}aria-selected="true"{% else %}aria-disabled="true"{% endif %}>
                <div class="bp5-entity-title">
                    <span class="bp5-minimal bp5-tag">2</span>
                    <img class="bp5-icon" height=16 src="{% static 'dashboard/images/services/gis.png' %}" width=16>
                    2Гис
                </div>
            </li>
            <li class="bp5-tab" aria-disabled="true">
                <span class="bp5-icon bp5-icon-arrow-right"></span>
            </li>
            <li class="bp5-tab" {% if sub_nav == "google" %}aria-selected="true"{% else %}aria-disabled="true"{% endif %}>
                <div class="bp5-entity-title">
                    <span class="bp5-minimal bp5-tag">3</span>
                    <img class="bp5-icon" height=16 src="{% static 'dashboard/images/services/google.png' %}" width=16>
                    Google
                </div>
            </li>
            <li class="bp5-tab" aria-disabled="true">
                <span class="bp5-icon bp5-icon-arrow-right"></span>
            </li>
            <li class="bp5-tab" {% if sub_nav == "data" %}aria-selected="true"{% else %}aria-disabled="true"{% endif %}>
                <div class="bp5-entity-title">
                    <span class="bp5-minimal bp5-tag">4</span>
                    Данные
                </div>
            </li>
        </ul>
    </div>
</div>