<div class="bp5-form-group">
    <div class="bp5-form-content">
        <div class="bp5-tab-list">
            <a class="bp5-tab" {% if sub_nav == "settings" %}aria-selected="true"{% endif %} href="{% url 'profile_update' %}">Настройки</a>
            <a class="bp5-tab" {% if sub_nav == "account" %}aria-selected="true"{% endif %} href="{% url 'user_update' %}">Пользователь</a>
            <a class="bp5-tab" {% if sub_nav == "security" %}aria-selected="true"{% endif %} href="{% url 'password_update' %}">Безопасность</a>
            <a class="bp5-tab" {% if sub_nav == "subscription" %}aria-selected="true"{% endif %} href="{% url 'subscription' %}">Подписка</a>
        </div>
    </div>
</div>
