{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
{% include "dashboard/_settings_tabs.html" %}
<div class="bp5-form-group">
    <div class="bp5-control-group">
        <button class="bp5-button bp5-intent-warning" form="PROFILE_FORM" type="submit">Сохранить</button>
    </div>
</div>
<!-- @TODO: inline style -->
<div style="display:grid;grid-template-columns:repeat(12,minmax(0,1fr));gap:15px">
    <!-- @TODO: inline style -->
    <div style="grid-column:span 9 / span 9;">
        <form id="PROFILE_FORM" method="post" novalidate>
            {% csrf_token %}
            <div class="bp5-form-group">
                <div class="bp5-card bp5-section">
                    <div class="bp5-section-header">
                        <div class="bp5-section-header-left">
                            <h6 class="bp5-heading bp5-section-header-title">
                                Вход
                            </h6>
                        </div>
                        <div class="bp5-section-header-right">
                            <span class="bp5-icon bp5-icon-lock bp5-text-muted"></span>
                        </div>
                    </div>
                    <div class="bp5-padded bp5-section-card">
                        <div class="bp5-control-group bp5-fill">
                            <!-- @TODO: inline style -->
                            <div class="bp5-form-group" style="flex: 1 0 50%">
                                <label class="bp5-label">Имя пользователя</label>
                                {{form.username}}
                                {% if form.username.errors %}
                                <!-- @TODO: inline style -->
                                <div class="bp5-form-helper-text" style="color:#ac2f33">
                                    {{form.username.errors.as_text}}
                                </div>
                                {% else %}
                                <div class="bp5-form-helper-text">
                                    Буквы, цифры и символы @/./+/-/_.
                                </div>
                                {% endif %}
                            </div>
                            <!-- @TODO: inline style -->
                            <div class="bp5-form-group" style="flex: 1 0 50%">
                                <label class="bp5-label">Электронная почта</label>
                                {{form.email}}
                                {% if form.email.errors %}
                                <!-- @TODO: inline style -->
                                <div class="bp5-form-helper-text" style="color:#ac2f33">
                                    {{form.email.errors.as_text}}
                                </div>
                                {% else %}
                                <div class="bp5-form-helper-text">
                                    Следует указать реальную почту
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bp5-card bp5-section">
                <div class="bp5-section-header">
                    <div class="bp5-section-header-left">
                        <h6 class="bp5-heading bp5-section-header-title">
                            Данные
                        </h6>
                    </div>
                    <div class="bp5-section-header-right">
                        <span class="bp5-icon bp5-icon-id-number bp5-text-muted"></span>
                    </div>
                </div>
                <div class="bp5-padded bp5-section-card">
                    <div class="bp5-control-group bp5-fill">
                        <!-- @TODO: inline style -->
                        <div class="bp5-form-group" style="flex: 1 0 50%">
                            <label class="bp5-label">Имя</label>
                            {{form.first_name}}
                            <!-- @TODO: inline style -->
                            <div class="bp5-form-helper-text" style="color:#ac2f33">
                                {{form.first_name.errors.as_text}}
                            </div>
                        </div>
                        <!-- @TODO: inline style -->
                        <div class="bp5-form-group" style="flex: 1 0 50%">
                            <label class="bp5-label">Фамилия</label>
                            {{form.last_name}}
                            <!-- @TODO: inline style -->
                            <div class="bp5-form-helper-text" style="color:#ac2f33">
                                {{form.last_name.errors.as_text}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block right %}
{% endblock %}
