{% load static %}
<!DOCTYPE html>
<html lang="ru">
	<head>
        <title>Портрет Geo</title>
		<meta charset="UTF-8">
        <meta name="theme-color" content="#000000">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="{% static 'css/normalize.css' %}" rel="stylesheet" />
        <link href="{% static 'css/blueprint.css' %}" rel="stylesheet" />
        <link href="{% static 'css/blueprint-icons.css' %}" rel="stylesheet" />
        <link href="{% static 'css/dashboard.css' %}" rel="stylesheet" />
	</head>
    <!-- @TODO: inline style -->
	<body style="background-color:#ffffff;margin:0;">
        <div style="margin:30px auto;width:500px">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
