{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Портрет Geo</title>
        <meta charset="UTF-8">
        <meta name="theme-color" content="#f47500">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="{% static 'css/normalize.css' %}" rel="stylesheet" />
        <link href="{% static 'css/blueprint.css' %}" rel="stylesheet" />
        <link href="{% static 'css/blueprint-icons.css' %}" rel="stylesheet" />
        <script src="{% static 'javascript/jquery.min.js' %}"></script>
        <script src="{% static 'javascript/chart.js' %}"></script>
        <script src="{% static 'javascript/javascript.js' %}"></script>
        <script src="{% static 'javascript/imask.min.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
        <!-- Глобальное исключение для css (flex контейнеры) -->
        <style>
            a{text-decoration:none !important;}
            .bp5-control.bp5-switch .bp5-control-indicator{transition:none !important;}
            .bp5-control.bp5-switch .bp5-control-indicator::before{transition:none !important;}
            .bp5-file-upload-input::after{content:"Обзор" !important;}
        </style>
    </head>
    <!-- Исключение для css (фон и отступы) -->
    <body style="background:#ffffff;margin:0;">
        <nav class="bp5-navbar">
            <!-- Исключение для css (ширина и отступы) -->
            <div style="margin:0 auto;width:800px;">
                <div class="bp5-navbar-group bp5-align-left">
                    <!-- Исключение для css (отступ) -->
                    <div class="bp5-navbar-heading" style="padding-top:5px;">
                        <img alt="Портрет" src="{% static 'images/dashboard/logo.svg' %}" width=50>
                    </div>
                    <a class="bp5-button bp5-minimal {% if nav == 'company' %} bp5-active{% endif %}" href="{% url 'company_list' %}">Компании</a>
                    <a class="bp5-button bp5-minimal {% if nav == 'settings' %} bp5-active{% endif %}" href="{% url 'profile' %}">Настройки</a>
                    <a class="bp5-button bp5-minimal {% if nav == 'finance' %} bp5-active{% endif %}" href="{% url 'billing' %}">Финансы</a>
                </div>
                <div class="bp5-align-right bp5-navbar-group">
                    <a class="bp5-button bp5-icon-log-out bp5-minimal" href="{% url 'user_logout' %}"></a>
                </div>
            </div>
        </nav>
        <!-- Исключение для css (ширина и отступы) -->
        <div style="margin:15px auto;width:800px">
            {% if messages %}
            {% for message in messages %}
            <div class="bp5-form-group">
                <div class="bp5-elevation-1 bp5-callout bp5-callout-has-body-content bp5-callout-icon bp5-intent-{% if message.tags %}{{ message.tags }}{% endif %}">
                    <span class="bp5-icon bp5-icon-issue"></span>
                    <h5 class="bp5-heading">
                        Оповещение системы
                    </h5>
                    {{ message }}
                </div>
            </div>
            {% endfor %}
            {% endif %}
            {% block content %}
            {% endblock %}
        </div>
        {% block script %}
        {% endblock %}
    </body>
</html>