{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Портрет Geo</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap">
    <link rel="stylesheet" href="https://unpkg.com/normalize.css@^8.0.1" />
    <link rel="stylesheet" href="https://unpkg.com/@blueprintjs/icons@^5.3.0/lib/css/blueprint-icons.css" />
    <link rel="stylesheet" href="https://unpkg.com/@blueprintjs/core@^5.6.0/lib/css/blueprint.css" />
    {% tailwind_css %}
    <script src="https://unpkg.com/imask"></script>
</head>

<body class="bg-neutral-100 m-0">
    <nav class="bp5-navbar bg-orange-100">
        <div class="bp5-navbar-group bp5-align-left">
            <div class="bp5-navbar-heading">Портрет <strong>Geo</strong></div>
            <a class="
            bp5-button 
            bp5-minimal 
            {% if nav == 'companies' %} bp5-active{% endif %}
            " href="{% url 'dashboard_companies' %}">
                Компании
            </a>
            <button class="bp5-button bp5-minimal">Помощь</button>
            <button class="bp5-button bp5-minimal">Тарифы</button>
        </div>
        <div class="bp5-navbar-group bp5-align-right">
            <span class="bp5-tag bp5-intent-warning bp5-minimal">У вас осталось 7 тестовых дней</span>
            <span class="bp5-navbar-divider"></span>
            <button class="bp5-button bp5-minimal bp5-icon-user"></button>
            <a class="
            bp5-button
            bp5-minimal
            bp5-icon-notifications
            {% if nav == 'notifications' %} bp5-active{% endif %}
            " href="{% url 'dashboard_notifications' %}"></a>
            <button class="bp5-button bp5-minimal bp5-icon-cog"></button>
        </div>
    </nav>

    <div class="max-w-4xl mx-auto my-8">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>