{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Портрет Geo</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}
</head>

<body class="dashboard">
    <nav class="bp5-navbar bp5-dark bg-black">
        <div class="bp5-navbar-group bp5-align-left">
            <div class="bp5-navbar-heading pt-1.5">
                <img class="w-16 " src="{% static 'logo.svg' %}" alt="Portrate">
            </div>
            <a class="
            bp5-button 
            bp5-minimal 
            {% if nav == 'companies' %} bp5-active{% endif %}
            " href="{% url 'company_list' %}">
                Компании
            </a>
            <a class="
            bp5-button 
            bp5-minimal 
            {% if nav == 'help' %} bp5-active{% endif %}
            " href="{% url 'dashboard_help' %}">
                Помощь
            </a>
            <a class="
            bp5-button 
            bp5-minimal 
            {% if nav == 'price' %} bp5-active{% endif %}
            " href="{% url 'dashboard_price' %}">
                Тарифы
            </a>
        </div>
        <div class="bp5-navbar-group bp5-align-right">
            <span class="bp5-tag bp5-intent-warning bp5-minimal">У вас осталось 7 тестовых дней</span>
            <span class="bp5-navbar-divider"></span>            
            <a class="
            bp5-button
            bp5-minimal
            bp5-icon-user
            {% if nav == 'profile' %} bp5-active{% endif %}
            " href="{% url 'extensions_profile' %}"></a>
            <a class="
            bp5-button
            bp5-minimal
            bp5-icon-notifications
            {% if nav == 'notification_list' %} bp5-active{% endif %}
            " href="{% url 'notification_list' %}"></a>
            <a class="
            bp5-button
            bp5-minimal
            bp5-icon-cog
            {% if nav == 'pref' %} bp5-active{% endif %}
            " href="{% url 'dashboard_pref' %}"></a>
            <a class="
            bp5-button
            bp5-minimal
            bp5-icon-log-out
            " href="{% url 'extensions_logout' %}"></a>
        </div>
    </nav>
    <div class="max-w-4xl mx-auto my-8">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>