{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
{% include 'dashboard/_finance_tabs.html' %}
<div class="bp5-card bp5-elevation-1 bp5-section">
        <div class="bp5-padded bp5-section-card">
            <div style="display:flex;gap:5px;">
                <div class="bp5-callout bp5-callout-has-body-content bp5-elevation-1" style="flex:1 calc(100% / 2);">

                    <div class="bp5-form-group">
                        <h2 class="bp5-heading">
                            0,00 ₽
                        </h2>
                    </div>
                    Баланс
                    <div class="bp5-text-muted">
                        1 января 2024 г.
                    </div>
                </div>
                <div class="bp5-callout bp5-callout-has-body-content bp5-elevation-1" style="flex:1 calc(100% / 2);">

                    <div class="bp5-form-group">
                        <h2 class="bp5-heading">
                            200,00 ₽
                        </h2>
                    </div>
                    Следующее списание
                    <div class="bp5-text-muted">
                        1 января 2024 г.
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
