{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
{% include 'dashboard/_finance_tabs.html' %}
<div class="bp5-form-group">
    <div class="bp5-card bp5-elevation-1 bp5-section">
        <div class="bp5-padded bp5-section-card">
            <div style="display:flex;gap:5px;">
                <div class="bp5-callout bp5-callout-has-body-content bp5-elevation-1" style="flex:1 calc(100% / 2);">

                    <div class="bp5-form-group">
                        <h2 class="bp5-heading">
                            0,00 ₽
                        </h2>
                    </div>
                    Баланс
                    <div class="bp5-text-muted">
                        1 января 2024 г.
                    </div>
                </div>
                <div class="bp5-callout bp5-callout-has-body-content bp5-elevation-1" style="flex:1 calc(100% / 2);">

                    <div class="bp5-form-group">
                        <h2 class="bp5-heading">
                            200,00 ₽
                        </h2>
                    </div>
                    Следующее списание
                    <div class="bp5-text-muted">
                        1 января 2024 г.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bp5-form-group">
    <div class="bp5-card bp5-elevation-1 bp5-section">


        <div class="bp5-section-card">
            <table class="bp5-html-table bp5-html-table-bordered bp5-html-table-striped" style="width:100%;">
  <thead>
    <tr>
      <th>Дата</th>
      <th>Тип транзакции</th>
      <th>Сумма</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1 января 2024 г.</td>
      <td>Входящая</td>
      <td>200,00</td>
    </tr>
    <tr>
      <td>1 января 2024 г.</td>
      <td>Исходящая</td>
      <td>200,00</td>
    </tr>

  </tbody>
</table>
        </div>
    </div>
</div>
{% endblock %}
