{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<h3 class="bp5-heading">
    Настройки - {{ company }}
</h3>
<div class="bp5-form-group">
    <div class="bp5-button-group">
        <button class="bp5-button bp5-intent-success" form="company-form" type="submit">Сохранить</button>
    </div>
</div>
<div style="display:grid;grid-template-columns: repeat(12, minmax(0, 1fr));gap:15px">
    <div style="grid-column: span 9 / span 9;">
        <form action="" enctype="multipart/form-data" id="company-form" method="post" novalidate>
            {% csrf_token %}
            <div class="bp5-form-group">
                <div class="bp5-card bp5-elevation-2 bp5-section">
                    <div class="bp5-section-header">
                        <div class="bp5-section-header-left">
                            <div>
                                <h6 class="bp5-heading bp5-section-header-title">Загрузка отзывов</h6>
                                <div class="bp5-section-header-sub-title bp5-text-muted">Настройки активации загрузки и выгрузки данных и отзывов</div>
                            </div>
                        </div>
                    </div>
                    <div class="bp5-section-card">
                        <div class="bp5-card-list bp5-card bp5-elevation-0">
                            <div class="bp5-card bp5-control-card bp5-elevation-0 bp5-interactive bp5-switch-control-card">
                                <label class="bp5-control bp5-switch bp5-inline bp5-align-right">
                                    {{ form.is_yandex_reviews_download }}
                                    <span class="bp5-control-indicator"></span>
                                    <div class="bp5-control-card-label">
                                        <img class="bp5-icon" style="width:16px" src="{% static 'yandex.svg' %}" >
                                        Загружать отзывы и данные из Яндекс Карты
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="bp5-section-card">
                        <div class="bp5-card-list bp5-card bp5-elevation-0">
                            <div class="bp5-card bp5-control-card bp5-elevation-0 bp5-interactive bp5-switch-control-card">
                                <label class="bp5-control bp5-switch bp5-inline bp5-align-right">
                                    {{ form.is_gis_reviews_download }}
                                    <span class="bp5-control-indicator"></span>
                                    <div class="bp5-control-card-label">
                                        <img class="bp5-icon" style="width:16px" src="{% static 'gis.svg' %}" >
                                        Загружать отзывы и данные из 2Гис Карты
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="bp5-section-card">
                        <div class="bp5-card-list bp5-card bp5-elevation-0">
                            <div class="bp5-card bp5-control-card bp5-elevation-0 bp5-interactive bp5-switch-control-card">
                                <label class="bp5-control bp5-switch bp5-inline bp5-align-right">
                                    {{ form.is_google_reviews_download }}
                                    <span class="bp5-control-indicator"></span>
                                    <div class="bp5-control-card-label">
                                        <img class="bp5-icon" style="width:16px" src="{% static 'google.svg' %}" >
                                        Загружать отзывы и данные из Google Maps
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bp5-form-group">
                <div class="bp5-card bp5-elevation-2 bp5-section">
                    <div class="bp5-section-header">
                        <div class="bp5-section-header-left">
                            <div>
                                <h6 class="bp5-heading bp5-section-header-title">Загрузка отзывов</h6>
                                <div class="bp5-section-header-sub-title bp5-text-muted">Настройки ссылок на страницы с отзывами и данных о рейтинге</div>
                            </div>
                        </div>
                    </div>
                    <div class="bp5-padded bp5-section-card">
                        <div class="bp5-form-group">
                            <label class="bp5-label">Ссылка на страницу с отзывами в Яндекс Картах</label>
                            {{ form.yandex_parser_link }}
                            {% if form.errors.yandex_parser_link %}
                            <div class="bp5-form-helper-text" style="color:#ac2f33;">Ссылка на страницу с отзывами в Яндекс Картах обязателена</div>
                            {% endif %}
                        </div>
                        <div class="bp5-form-group">
                            <label class="bp5-label">Ссылка на страницу с отзывами в 2Гис Картах</label>
                            {{ form.gis_parser_link }}
                            {% if form.errors.gis_parser_link %}
                            <div class="bp5-form-helper-text" style="color:#ac2f33;">Ссылка на страницу с отзывами в 2Гис Картах обязателена</div>
                            {% endif %}
                        </div>
                        <div class="bp5-form-group">
                            <label class="bp5-label">Ссылка на страницу с отзывами в Google Картах</label>
                            {{ form.google_parser_link }}
                            {% if form.errors.google_parser_link %}
                            <div class="bp5-form-helper-text" style="color:#ac2f33;">Ссылка на страницу с отзывами в Google Картах обязателена</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="bp5-form-group">
                <div class="bp5-card bp5-elevation-2 bp5-section">
                    <div class="bp5-section-header">
                        <div class="bp5-section-header-left">
                            <div>
                                <h6 class="bp5-heading bp5-section-header-title">Форма запроса отзыва</h6>
                                <div class="bp5-text-muted bp5-section-header-sub-title">Настройки ссылок для запроса отзыва</div>
                            </div>
                        </div>
                    </div>
                    <div class="bp5-padded bp5-section-card">
                        <div class="bp5-form-group">
                            <label class="bp5-label">Ссылка Яндекс Карты</label>
                            {{ form.yandex_link }}
                        </div>
                        <div class="bp5-form-group">
                            <label class="bp5-label">Ссылка 2Гис Карты</label>
                            {{ form.gis_link }}
                        </div>
                        <div class="bp5-form-group">
                            <label class="bp5-label">Ссылка Google Maps</label>
                            {{ form.google_link }}
                        </div>
                        <div class="bp5-form-group">
                            <label class="bp5-label">Ссылка Mapsme</label>
                            {{ form.mapsme_link }}
                        </div>
                        <div class="bp5-form-group">
                            <label class="bp5-label">Ссылка Dikidi</label>
                            {{ form.dikidi_link }}
                        </div>
                        <div class="bp5-form-group">
                            <label class="bp5-label">Ссылка Рестоклуб</label>
                            {{ form.restoclub_link }}
                        </div>
                        <div class="bp5-form-group">
                            <label class="bp5-label">Ссылка Tripadvisor</label>
                            {{ form.tripadvisor_link }}
                        </div>
                        <div class="bp5-form-group">
                            <label class="bp5-label">Ссылка Продокторов</label>
                            {{ form.prodoctorov_link }}
                        </div>
                        <div class="bp5-form-group">
                            <label class="bp5-label">Ссылка Zoon</label>
                            {{ form.zoon_link }}
                        </div>
                        <div class="bp5-form-group">
                            <label class="bp5-label">Ссылка Отзовик</label>
                            {{ form.otzovik_link }}
                        </div>
                        <div class="bp5-form-group">
                            <label class="bp5-label">Ссылка Irecommend</label>
                            {{ form.irecommend_link }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="bp5-card bp5-elevation-2 bp5-section">
                <div class="bp5-section-header">
                    <div class="bp5-section-header-left">
                        <div>
                            <h6 class="bp5-heading bp5-section-header-title">Данные</h6>
                            <div class="bp5-section-header-sub-title bp5-text-muted">Настройки названия и адреса компании</div>
                        </div>
                    </div>
                </div>
                <div class="bp5-padded bp5-section-card">
                    <div class="bp5-form-group">
                        <label class="bp5-label">Название</label>
                        {{ form.name }}
                        {% if form.errors.name %}
                        <div class="bp5-form-helper-text" style="color:#ac2f33;">Название обязателено</div>
                        {% endif %}
                    </div>
                    <div class="bp5-form-group">
                        <label class="bp5-label">Адрес</label>
                        {{ form.address }}
                        {% if form.errors.address %}
                        <div class="bp5-form-helper-text" style="color:#ac2f33;">Адрес обязателен</div>
                        {% endif %}
                    </div>
                </div>
                <div class="bp5-padded bp5-section-card">
                    {% if company.logo %}
                    <div class="bp5-form-group">
                        <img class="bp5-elevation-1" style="width:60px;" src="{{ company.logo.url }}" alt="{{ company.name }}">
                    </div>
                    {% endif %}
                    <div class="bp5-form-group">
                        <label class="bp5-label">Логотип</label>
                        <label class="bp5-file-input">
                            {{ form.logo }}
                            <span class="bp5-file-upload-input">Выбрать файл...</span>
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- Меню -->
    <div style="grid-column: span 3 / span 3;">
        {% include 'dashboard/_pref_tabs.html' %}
    </div>
</div>
{% endblock %}