{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
<div class="grid gap-4">
    <div class="flex gap-4 items-center">
        {% if company.logo %}
        <img class="h-20 rounded w-20" src="{{ company.logo.url }}" alt="{{ company.name }}">
        {% endif %}
    
        <div>
            <h2 class="bp5-heading">{{object.name}}</h2>
            <h5 class="bp5-heading bp5-text-muted">{{object.address}}</h5>
            
        </div>
    </div>
    
    {% include 'dashboard/_company_tabs.html' %}

    <!-- Тулбар -->
    <div class="flex gap-2">
        <div class="bp5-button-group">
            <button type="button" class="bp5-button ">
                <span class="bp5-button-text">Дата от</span>
                <span aria-hidden="true" class="bp5-icon bp5-icon-calendar"></span>
            </button>
            <button type="button" class="bp5-button ">
                <span class="bp5-button-text">Дата до</span>
                <span aria-hidden="true" class="bp5-icon bp5-icon-calendar"></span>
            </button>
        </div>
        <div class="bp5-divider"></div>
        <button type="button" class="bp5-button">Настройки</button>
    </div>
</div>
{% endblock %}
