{% extends 'dashboard/base.html' %}
{% load static %}
{% load tz %}
{% load extensions %}
{% block navbar %}
{% include 'dashboard/_company_navbar.html' %}
{% endblock %}
{% block content %}
<h2 class="bp5-heading">Статистика</h2>
<div class="bp5-form-group">
    <div class="bp5-form-content">
        <div class="bp5-button-group bp5-minimal">
            <a class="bp5-button {% if days_ago_param == 'total' %}bp5-active{% endif %}" href="{% url 'company_detail' company.id %}">Всего</a>
            <a class="bp5-button {% if days_ago_param == '365' %}bp5-active{% endif %}" href="?days_ago=365">Год</a>
            <a class="bp5-button {% if days_ago_param == '90' %}bp5-active{% endif %}" href="?days_ago=90">Квартал</a>
            <a class="bp5-button {% if days_ago_param == '30' %}bp5-active{% endif %}" href="?days_ago=30">Месяц</a>
            <a class="bp5-button {% if days_ago_param == '7' %}bp5-active{% endif %}" href="?days_ago=7">Неделя</a>
        </div>
    </div>
</div>
<div class="bp5-form-group">
    <div class="bp5-form-content">
        <div class="bp5-card bp5-section">
            <div class="bp5-section-card">
                <table class="bp5-html-table bp5-html-table-bordered">
                    <thead>
                        <tr>
                            <th>Сервис</th>
                            <th width="15%">Отзывы</th>
                            <th width="15%">Позитивные</th>
                            <th width="15%">Негативные</th>
                            <th colspan="2" width="25%">Рейтинг</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Яндекс -->
                        <tr data-actions-hover>
                            <td>
                                <div class="bp5-entity-title">
                                    <span class="bp5-icon bp5-icon-dot {% if company.parser_link_yandex %}bp5-intent-success{% else %}bp5-intent-danger{% endif %}"></span>
                                    <img height=16 src="{% static 'dashboard/images/services/yandex.png' %}" width=16>
                                    {% if company.is_parser_run_yandex %}<span class="bp5-icon bp5-icon-bring-data bp5-intent-primary"></span>{% endif %}
                                    {% if company.parser_link_yandex %}
                                    <a class="bp5-text-large" href="{{ company.parser_link_yandex }}" target="_blank">Яндекс</a>
                                    <span class="bp5-icon bp5-icon-share bp5-intent-primary"></span>
                                    {% else %}
                                    <div class="bp5-text-large">Яндекс</div>
                                    {% endif %}
                                </div>
                            </td>
                            <td style="position:relative;">
                                <div style="background:rgba(0, 0, 0, 0.05);height:100%;left:0;position:absolute;top:0;width:{% widthratio company.reviews_count_total_yandex company.reviews_count_total 100 %}%;z-index:0;"></div>
                                <div class="bp5-text-large">{{ company.reviews_count_total_yandex|default:'0' }}</div>
                                <!--div class="bp5-progress-bar bp5-no-animation bp5-no-stripes">
                                    <div class="bp5-progress-meter" style="width:{% widthratio company.reviews_count_total_yandex company.reviews_count_total 100 %}%"></div>
                                </div-->
                            </td>
                            <td style="position:relative;">
                                <div style="background:rgba(28, 110, 66, 0.05);height:100%;left:0;position:absolute;top:0;width:{% widthratio company.reviews_count_positive_yandex company.reviews_count_total 100 %}%;z-index:0;"></div>
                                <div class="bp5-text-large">{{ company.reviews_count_positive_yandex|default:'0' }}</div>
                            </td>
                            <td style="position:relative;">
                                <div style="background:rgba(172, 47, 51, 0.05);height:100%;left:0;position:absolute;top:0;width:{% widthratio company.reviews_count_negative_yandex company.reviews_count_total 100 %}%;z-index:0;"></div>
                                <div class="bp5-text-large">{{ company.reviews_count_negative_yandex|default:'0' }}</div>
                            </td>
                            <td>
                                <div class="bp5-entity-title">
                                    <div class="bp5-text-large">{{ company.rating_yandex|default:'0,0' }}</div>
                                    <img height=10 src="{% static 'dashboard/images/stars/'|add:company.rating_yandex_str|add:'.svg' %}" width=70>
                                    <a class="bp5-button bp5-minimal bp5-small ml-auto" href="{% url 'company_update_link_yandex' company.id %}">
                                        <span class="bp5-icon bp5-text-small {% if company.parser_link_yandex %}bp5-icon-settings{% else %}bp5-icon-plus{% endif %}"></span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <!-- 2Гис -->
                        <tr data-actions-hover>
                            <td>
                                <div class="bp5-entity-title">
                                    <span class="bp5-icon {% if company.parser_link_gis %}bp5-intent-success{% else %}bp5-intent-danger{% endif %} bp5-icon-dot"></span>
                                    <img height=16 src="{% static 'dashboard/images/services/gis.png' %}" width=16>
                                    {% if company.is_parser_run_gis %}<span class="bp5-icon bp5-icon-bring-data bp5-intent-primary"></span>{% endif %}
                                    {% if company.parser_link_gis %}
                                    <a class="bp5-text-large" href="{{ company.parser_link_gis }}" target="_blank">2Гис</a>
                                    <span class="bp5-icon bp5-icon-share bp5-intent-primary"></span>
                                    {% else %}
                                    <div class="bp5-text-large">2Гис</div>
                                    {% endif %}
                                </div>
                            </td>
                            <td style="position:relative;">
                                <div style="background:rgba(0, 0, 0, 0.05);height:100%;left:0;position:absolute;top:0;width:{% widthratio company.reviews_count_total_gis company.reviews_count_total 100 %}%;z-index:0;"></div>
                                <div class="bp5-text-large">{{ company.reviews_count_total_gis|default:'0' }}</div>
                            </td>
                            <td style="position:relative;">
                                <div style="background:rgba(28, 110, 66, 0.05);height:100%;left:0;position:absolute;top:0;width:{% widthratio company.reviews_count_positive_gis company.reviews_count_total 100 %}%;z-index:0;"></div>
                                <div class="bp5-text-large">{{ company.reviews_count_positive_gis|default:'0' }}</div>
                            </td>
                            <td style="position:relative;">
                                <div style="background:rgba(172, 47, 51, 0.05);height:100%;left:0;position:absolute;top:0;width:{% widthratio company.reviews_count_negative_gis company.reviews_count_total 100 %}%;z-index:0;"></div>
                                <div class="bp5-text-large">{{ company.reviews_count_negative_gis|default:'0' }}</div>
                            </td>
                            <td>
                                <div class="bp5-entity-title">
                                    <div class="bp5-text-large">{{ company.rating_gis|default:'0,0' }}</div>
                                    <img height=10 src="{% static 'dashboard/images/stars/'|add:company.rating_gis_str|add:'.svg' %}" width=70>
                                    <a class="bp5-button bp5-minimal bp5-small ml-auto" href="{% url 'company_update_link_gis' company.id %}">
                                        <span class="bp5-icon bp5-text-small {% if company.parser_link_gis %}bp5-icon-settings{% else %}bp5-icon-plus{% endif %}"></span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <!-- Google -->
                        <tr data-actions-hover>
                            <td>
                                <div class="bp5-entity-title">
                                    <span class="bp5-icon {% if company.parser_link_google %}bp5-intent-success{% else %}bp5-intent-danger{% endif %} bp5-icon-dot"></span>
                                    <img height=16 src="{% static 'dashboard/images/services/google.png' %}" width=16>
                                    {% if company.is_parser_run_google %}<span class="bp5-icon bp5-icon-bring-data bp5-intent-primary"></span>{% endif %}
                                    {% if company.parser_link_google %}
                                    <a class="bp5-text-large" href="{{ company.parser_link_google }}" target="_blank">Google</a>
                                    <span class="bp5-icon bp5-icon-share bp5-intent-primary"></span>
                                    {% else %}
                                    <div class="bp5-text-large">Google</div>
                                    {% endif %}
                                </div>
                            </td>
                            <td style="position:relative;">
                                <div style="background:rgba(0, 0, 0, 0.05);height:100%;left:0;position:absolute;top:0;width:{% widthratio company.reviews_count_total_google company.reviews_count_total 100 %}%;z-index:0;"></div>
                                <div class="bp5-text-large">{{ company.reviews_count_total_google|default:'0' }}</div>
                            </td>
                            <td style="position:relative;">
                                <div style="background:rgba(28, 110, 66, 0.05);height:100%;left:0;position:absolute;top:0;width:{% widthratio company.reviews_count_positive_google company.reviews_count_total 100 %}%;z-index:0;"></div>
                                <div class="bp5-text-large">{{ company.reviews_count_positive_google|default:'0' }}</div>
                            </td>
                            <td style="position:relative;">
                                <div style="background:rgba(172, 47, 51, 0.05);height:100%;left:0;position:absolute;top:0;width:{% widthratio company.reviews_count_negative_google company.reviews_count_total 100 %}%;z-index:0;"></div>
                                <div class="bp5-text-large">{{ company.reviews_count_negative_google|default:'0' }}</div>
                            </td>
                            <td>
                                <div class="bp5-entity-title">
                                    <div class="bp5-text-large">{{ company.rating_google|default:'0,0' }}</div>
                                    <img height=10 src="{% static 'dashboard/images/stars/'|add:company.rating_google_str|add:'.svg' %}" width=70>
                                    <a class="bp5-button bp5-minimal bp5-small ml-auto" href="{% url 'company_update_link_google' company.id %}">
                                        <span class="bp5-icon bp5-text-small {% if company.parser_link_google %}bp5-icon-settings{% else %}bp5-icon-plus{% endif %}"></span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <!-- Авито -->
                        <tr data-actions-hover>
                            <td>
                                <div class="bp5-entity-title">
                                    <span class="bp5-icon {% if company.parser_link_avito %}bp5-intent-success{% else %}bp5-intent-danger{% endif %} bp5-icon-dot"></span>
                                    <img height=16 src="{% static 'dashboard/images/services/avito.png' %}" width=16>
                                    {% if company.is_parser_run_avito %}<span class="bp5-icon bp5-icon-bring-data bp5-intent-primary"></span>{% endif %}
                                    {% if company.parser_link_avito %}
                                    <a class="bp5-text-large" href="{{ company.parser_link_avito }}" target="_blank">Авито</a>
                                    <span class="bp5-icon bp5-icon-share bp5-intent-primary"></span>
                                    {% else %}
                                    <div class="bp5-text-large">Авито</div>
                                    {% endif %}
                                </div>
                            </td>
                            <td>
                                <div class="bp5-text-large">{{ company.reviews_count_total_avito|default:'0' }}</div>
                            </td>
                            <td>
                                <div class="bp5-text-large">{{ company.reviews_count_positive_avito|default:'0' }}</div>
                            </td>
                            <td>
                                <div class="bp5-text-large">{{ company.reviews_count_negative_avito|default:'0' }}</div>
                            </td>
                            <td>
                                <div class="bp5-entity-title">
                                    <div class="bp5-text-large">{{ company.rating_avito|default:'0,0' }}</div>
                                    <img height=10 src="{% static 'dashboard/images/stars/'|add:company.rating_avito_str|add:'.svg' %}" width=70>
                                    <a class="bp5-button bp5-minimal bp5-small ml-auto" href="{% url 'company_update_link_avito' company.id %}">
                                        <span class="bp5-icon bp5-text-small {% if company.parser_link_avito %}bp5-icon-settings{% else %}bp5-icon-plus{% endif %}"></span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <!-- Zoon -->
                        <tr data-actions-hover>
                            <td>
                                <div class="bp5-entity-title">
                                    <span class="bp5-icon {% if company.parser_link_zoon %}bp5-intent-success{% else %}bp5-intent-danger{% endif %} bp5-icon-dot"></span>
                                    <img height=16 src="{% static 'dashboard/images/services/zoon.png' %}" width=16>
                                    {% if company.is_parser_run_zoon %}<span class="bp5-icon bp5-icon-bring-data bp5-intent-primary"></span>{% endif %}
                                    {% if company.parser_link_zoon %}
                                    <a class="bp5-text-large" href="{{ company.parser_link_zoon }}" target="_blank">Zoon</a>
                                    <span class="bp5-icon bp5-icon-share bp5-intent-primary"></span>
                                    {% else %}
                                    <div class="bp5-text-large">Zoon</div>
                                    {% endif %}
                                </div>
                            </td>
                            <td>
                                <div class="bp5-text-large">{{ company.reviews_count_total_zoon|default:'0' }}</div>
                            </td>
                            <td>
                                <div class="bp5-text-large">{{ company.reviews_count_positive_zoon|default:'0' }}</div>
                            </td>
                            <td>
                                <div class="bp5-text-large">{{ company.reviews_count_negative_zoon|default:'0' }}</div>
                            </td>
                            <td>
                                <div class="bp5-entity-title">
                                    <div class="bp5-text-large">{{ company.rating_zoon|default:'0,0' }}</div>
                                    <img height=10 src="{% static 'dashboard/images/stars/'|add:company.rating_zoon_str|add:'.svg' %}" width=70>
                                    <a class="bp5-button bp5-minimal bp5-small ml-auto" href="{% url 'company_update_link_zoon' company.id %}">
                                        <span class="bp5-icon bp5-text-small {% if company.parser_link_zoon %}bp5-icon-settings{% else %}bp5-icon-plus{% endif %}"></span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <!-- Flamp -->
                        <tr data-actions-hover>
                            <td>
                                <div class="bp5-entity-title">
                                    <span class="bp5-icon {% if company.parser_link_flamp %}bp5-intent-success{% else %}bp5-intent-danger{% endif %} bp5-icon-dot"></span>
                                    <img height=16 src="{% static 'dashboard/images/services/flamp.png' %}" width=16>
                                    {% if company.is_parser_run_flamp %}<span class="bp5-icon bp5-icon-bring-data bp5-intent-primary"></span>{% endif %}
                                    {% if company.parser_link_flamp %}
                                    <a class="bp5-text-large" href="{{ company.parser_link_flamp }}" target="_blank">Flamp</a>
                                    <span class="bp5-icon bp5-icon-share bp5-intent-primary"></span>
                                    {% else %}
                                    <div class="bp5-text-large">Flamp</div>
                                    {% endif %}
                                </div>
                            </td>
                            <td>
                                <div class="bp5-text-large">{{ company.reviews_count_total_flamp|default:'0' }}</div>
                            </td>
                            <td>
                                <div class="bp5-text-large">{{ company.reviews_count_positive_flamp|default:'0' }}</div>
                            </td>
                            <td>
                                <div class="bp5-text-large">{{ company.reviews_count_negative_flamp|default:'0' }}</div>
                            </td>
                            <td>
                                <div class="bp5-entity-title">
                                    <div class="bp5-text-large">{{ company.rating_flamp|default:'0,0' }}</div>
                                    <img height=10 src="{% static 'dashboard/images/stars/'|add:company.rating_flamp_str|add:'.svg' %}" width=70>
                                    <a class="bp5-button bp5-minimal bp5-small ml-auto" href="{% url 'company_update_link_flamp' company.id %}">
                                        <span class="bp5-icon bp5-text-small {% if company.parser_link_flamp %}bp5-icon-settings{% else %}bp5-icon-plus{% endif %}"></span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <!-- Yell -->
                        <tr data-actions-hover>
                            <td>
                                <div class="bp5-entity-title">
                                    <span class="bp5-icon {% if company.parser_link_yell %}bp5-intent-success{% else %}bp5-intent-danger{% endif %} bp5-icon-dot"></span>
                                    <img height=16 src="{% static 'dashboard/images/services/yell.png' %}" width=16>
                                    {% if company.is_parser_run_yell %}<span class="bp5-icon bp5-icon-bring-data bp5-intent-primary"></span>{% endif %}
                                    {% if company.parser_link_yell %}
                                    <a class="bp5-text-large" href="{{ company.parser_link_yell }}" target="_blank">Yell</a>
                                    <span class="bp5-icon bp5-icon-share bp5-intent-primary"></span>
                                    {% else %}
                                    <div class="bp5-text-large">Yell</div>
                                    {% endif %}
                                </div>
                            </td>
                            <td>
                                <div class="bp5-text-large">{{ company.reviews_count_total_yell|default:'0' }}</div>
                            </td>
                            <td>
                                <div class="bp5-text-large">{{ company.reviews_count_positive_yell|default:'0' }}</div>
                            </td>
                            <td>
                                <div class="bp5-text-large">{{ company.reviews_count_negative_yell|default:'0' }}</div>
                            </td>
                            <td>
                                <div class="bp5-entity-title">
                                    <div class="bp5-text-large">{{ company.rating_yell|default:'0,0' }}</div>
                                    <img height=10 src="{% static 'dashboard/images/stars/'|add:company.rating_yell_str|add:'.svg' %}" width=70>
                                    <a class="bp5-button bp5-minimal bp5-small ml-auto" href="{% url 'company_update_link_yell' company.id %}">
                                        <span class="bp5-icon bp5-text-small {% if company.parser_link_yell %}bp5-icon-settings{% else %}bp5-icon-plus{% endif %}"></span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <!-- Продокторов -->
                        <tr data-actions-hover>
                            <td>
                                <div class="bp5-entity-title">
                                    <span class="bp5-icon {% if company.parser_link_prodoctorov %}bp5-intent-success{% else %}bp5-intent-danger{% endif %} bp5-icon-dot"></span>
                                    <img height=16 src="{% static 'dashboard/images/services/prodoctorov.png' %}" width=16>
                                    {% if company.is_parser_run_prodoctorov %}<span class="bp5-icon bp5-icon-bring-data bp5-intent-primary"></span>{% endif %}
                                    {% if company.parser_link_prodoctorov %}
                                    <a class="bp5-text-large" href="{{ company.parser_link_prodoctorov }}" target="_blank">Продокторов</a>
                                    <span class="bp5-icon bp5-icon-share bp5-intent-primary"></span>
                                    {% else %}
                                    <div class="bp5-text-large">Продокторов</div>
                                    {% endif %}
                                </div>
                            </td>
                            <td>
                                <div class="bp5-text-large">{{ company.reviews_count_total_prodoctorov|default:'0' }}</div>
                            </td>
                            <td>
                                <div class="bp5-text-large">{{ company.reviews_count_positive_prodoctorov|default:'0' }}</div>
                            </td>
                            <td>
                                <div class="bp5-text-large">{{ company.reviews_count_negative_prodoctorov|default:'0' }}</div>
                            </td>
                            <td>
                                <div class="bp5-entity-title">
                                    <div class="bp5-text-large">{{ company.rating_prodoctorov|default:'0,0' }}</div>
                                    <img height=10 src="{% static 'dashboard/images/stars/'|add:company.rating_prodoctorov_str|add:'.svg' %}" width=70>
                                    <a class="bp5-button bp5-minimal bp5-small ml-auto" href="{% url 'company_update_link_prodoctorov' company.id %}">
                                        <span class="bp5-icon bp5-text-small {% if company.parser_link_prodoctorov %}bp5-icon-settings{% else %}bp5-icon-plus{% endif %}"></span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <!-- Яндекс услуги -->
                        <tr data-actions-hover>
                            <td>
                                <div class="bp5-entity-title">
                                    <span class="bp5-icon {% if company.parser_link_yandex_services %}bp5-intent-success{% else %}bp5-intent-danger{% endif %} bp5-icon-dot"></span>
                                    <img height=16 src="{% static 'dashboard/images/services/yandex_services.png' %}" width=16>
                                    {% if company.is_parser_run_yandex_services %}<span class="bp5-icon bp5-icon-bring-data bp5-intent-primary"></span>{% endif %}
                                    {% if company.parser_link_yandex_services %}
                                    <a class="bp5-text-large" href="{{ company.parser_link_yandex_services }}" target="_blank">Яндекс Услуги</a>
                                    <span class="bp5-icon bp5-icon-share bp5-intent-primary"></span>
                                    {% else %}
                                    <div class="bp5-text-large">Яндекс Услуги</div>
                                    {% endif %}
                                </div>
                            </td>
                            <td>
                                <div class="bp5-text-large">{{ company.reviews_count_total_yandex_services|default:'0' }}</div>
                            </td>
                            <td>
                                <div class="bp5-text-large">{{ company.reviews_count_positive_yandex_services|default:'0' }}</div>
                            </td>
                            <td>
                                <div class="bp5-text-large">{{ company.reviews_count_negative_yandex_services|default:'0' }}</div>
                            </td>
                            <td>
                                <div class="bp5-entity-title">
                                    <div class="bp5-text-large">{{ company.rating_yandex_services|default:'0,0' }}</div>
                                    <img height=10 src="{% static 'dashboard/images/stars/'|add:company.rating_yandex_services_str|add:'.svg' %}" width=70>
                                    <a class="bp5-button bp5-minimal bp5-small ml-auto" href="{% url 'company_update_link_yandex_services' company.id %}">
                                        <span class="bp5-icon bp5-text-small {% if company.parser_link_yandex_services %}bp5-icon-settings{% else %}bp5-icon-plus{% endif %}"></span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <!-- Otzovik -->
                        <tr data-actions-hover>
                            <td>
                                <div class="bp5-entity-title">
                                    <span class="bp5-icon {% if company.parser_link_otzovik %}bp5-intent-success{% else %}bp5-intent-danger{% endif %} bp5-icon-dot"></span>
                                    <img height=16 src="{% static 'dashboard/images/services/otzovik.png' %}" width=16>
                                    {% if company.is_parser_run_otzovik %}<span class="bp5-icon bp5-icon-bring-data bp5-intent-primary"></span>{% endif %}
                                    {% if company.parser_link_otzovik %}
                                    <a class="bp5-text-large" href="{{ company.parser_link_otzovik }}" target="_blank">Отзовик</a>
                                    <span class="bp5-icon bp5-icon-share bp5-intent-primary"></span>
                                    {% else %}
                                    <div class="bp5-text-large">Отзовик</div>
                                    {% endif %}
                                </div>
                            </td>
                            <td>
                                <div class="bp5-text-large">{{ company.reviews_count_total_otzovik|default:'0' }}</div>
                            </td>
                            <td>
                                <div class="bp5-text-large">{{ company.reviews_count_positive_otzovik|default:'0' }}</div>
                            </td>
                            <td>
                                <div class="bp5-text-large">{{ company.reviews_count_negative_otzovik|default:'0' }}</div>
                            </td>
                            <td>
                                <div class="bp5-entity-title">
                                    <div class="bp5-text-large">{{ company.rating_otzovik|default:'0,0' }}</div>
                                    <img height=10 src="{% static 'dashboard/images/stars/'|add:company.rating_otzovik_str|add:'.svg' %}" width=70>
                                    <a class="bp5-button bp5-minimal bp5-small ml-auto" href="{% url 'company_update_link_otzovik' company.id %}">
                                        <span class="bp5-icon bp5-text-small {% if company.parser_link_otzovik %}bp5-icon-settings{% else %}bp5-icon-plus{% endif %}"></span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <!-- Irecommend -->
                        <tr data-actions-hover>
                            <td>
                                <div class="bp5-entity-title">
                                    <span class="bp5-icon {% if company.parser_link_irecommend %}bp5-intent-success{% else %}bp5-intent-danger{% endif %} bp5-icon-dot"></span>
                                    <img height=16 src="{% static 'dashboard/images/services/irecommend.png' %}" width=16>
                                    {% if company.is_parser_run_irecommend %}<span class="bp5-icon bp5-icon-bring-data bp5-intent-primary"></span>{% endif %}
                                    {% if company.parser_link_irecommend %}
                                    <a class="bp5-text-large" href="{{ company.parser_link_irecommend }}" target="_blank">Irecommend</a>
                                    <span class="bp5-icon bp5-icon-share bp5-intent-primary"></span>
                                    {% else %}
                                    <div class="bp5-text-large">Irecommend</div>
                                    {% endif %}
                                </div>
                            </td>
                            <td>
                                <div class="bp5-text-large">{{ company.reviews_count_total_irecommend|default:'0' }}</div>
                            </td>
                            <td>
                                <div class="bp5-text-large">{{ company.reviews_count_positive_irecommend|default:'0' }}</div>
                            </td>
                            <td>
                                <div class="bp5-text-large">{{ company.reviews_count_negative_irecommend|default:'0' }}</div>
                            </td>
                            <td>
                                <div class="bp5-entity-title">
                                    <div class="bp5-text-large">{{ company.rating_irecommend|default:'0,0' }}</div>
                                    <img height=10 src="{% static 'dashboard/images/stars/'|add:company.rating_irecommend_str|add:'.svg' %}" width=70>
                                    <a class="bp5-button bp5-minimal bp5-small ml-auto" href="{% url 'company_update_link_irecommend' company.id %}">
                                        <span class="bp5-icon bp5-text-small {% if company.parser_link_irecommend %}bp5-icon-settings{% else %}bp5-icon-plus{% endif %}"></span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <!-- Tripadvisor -->
                        <tr data-actions-hover>
                            <td>
                                <div class="bp5-entity-title">
                                    <span class="bp5-icon {% if company.parser_link_tripadvisor %}bp5-intent-success{% else %}bp5-intent-danger{% endif %} bp5-icon-dot"></span>
                                    <img height=16 src="{% static 'dashboard/images/services/tripadvisor.png' %}" width=16>
                                    {% if company.is_parser_run_tripadvisor %}<span class="bp5-icon bp5-icon-bring-data bp5-intent-primary"></span>{% endif %}
                                    {% if company.parser_link_tripadvisor %}
                                    <a class="bp5-text-large" href="{{ company.parser_link_tripadvisor }}" target="_blank">Irecommend</a>
                                    <span class="bp5-icon bp5-icon-share bp5-intent-primary"></span>
                                    {% else %}
                                    <div class="bp5-text-large">Tripadvisor</div>
                                    {% endif %}
                                </div>
                            </td>
                            <td>
                                <div class="bp5-text-large">{{ company.reviews_count_total_tripadvisor|default:'0' }}</div>
                            </td>
                            <td>
                                <div class="bp5-text-large">{{ company.reviews_count_positive_tripadvisor|default:'0' }}</div>
                            </td>
                            <td>
                                <div class="bp5-text-large">{{ company.reviews_count_negative_tripadvisor|default:'0' }}</div>
                            </td>
                            <td>
                                <div class="bp5-entity-title">
                                    <div class="bp5-text-large">{{ company.rating_tripadvisor|default:'0,0' }}</div>
                                    <img height=10 src="{% static 'dashboard/images/stars/'|add:company.rating_tripadvisor_str|add:'.svg' %}" width=70>
                                    <a class="bp5-button bp5-minimal bp5-small ml-auto" href="{% url 'company_update_link_tripadvisor' company.id %}">
                                        <span class="bp5-icon bp5-text-small {% if company.parser_link_tripadvisor %}bp5-icon-settings{% else %}bp5-icon-plus{% endif %}"></span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>
                                <div class="bp5-text-large">Всего</div>
                            </td>
                            <td>
                                <div class="bp5-text-large">{{ company.reviews_count_total }}</div>
                            </td>
                            <td>
                                <div class="bp5-text-large">{{ company.reviews_count_positive }}</div>
                            </td>
                            <td>
                                <div class="bp5-text-large">{{ company.reviews_count_negative }}</div>
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="bp5-form-group">
    <div class="bp5-form-content">
        <div class="bp5-card bp5-section">
            <div class="bp5-section-card">
                <table class="bp5-html-table bp5-html-table-bordered bp5-fill">
                    <thead>
                        <tr>
                            <th>Источник</th>
                            <th width="15%">Визиты</th>
                            <th width="15%">Клики</th>
                            <th width="25%">Конверсия</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for visit_stamp in visit_stamp_list %}
                        {% if not forloop.last %}
                        <tr>
                            <td>
                                <div class="bp5-entity-title">
                                    <span class="bp5-icon bp5-icon-link bp5-intent-primary"></span>
                                    <div class="bp5-text-large">{{ visit_stamp.visit_stamp_label }}</div>
                                </div>
                            </td>
                            <td>
                                <div class="bp5-text-large">{{ visit_stamp.visit_stamp_count }}</div>
                            </td>
                            <td>
                                <div class="bp5-text-large">{{ visit_stamp.click_stamp_count }}</div>
                            </td>
                            <td>
                                <div class="bp5-text-large">{% widthratio visit_stamp.click_stamp_count visit_stamp.visit_stamp_count 100 %}%</div>
                            </td>
                        </tr>
                        {% for click_stamp in visit_stamp.click_stamp_list %}
                        <tr>
                            <td>
                                <div class="bp5-entity-title">
                                    <span class="bp5-icon bp5-icon-nest bp5-text-disabled"></span>
                                    <img height=16 src="{% static 'dashboard/images/services/'|add:click_stamp.click_stamp_value|lower|add:'.png' %}" width=16>
                                    <div class="bp5-text-large">{{ click_stamp.click_stamp_label }}</div>
                                </div>
                            </td>
                            <td>&nbsp;</td>
                            <td>
                                <div class="bp5-text-large">{{ click_stamp.click_stamp_count }}</div>
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <!-- Итого -->
                        <tr>
                            <td>
                                <div class="bp5-text-large">Всего</div>
                            </td>
                            <td>
                                <div class="bp5-text-large">{{ visit_stamp.visit_stamp_count_total }}</div>
                            </td>
                            <td>
                                <div class="bp5-text-large">{{ visit_stamp.click_stamp_count_total }}</div>
                            </td>
                            <td>
                                <div class="bp5-text-large">{% widthratio visit_stamp.click_stamp_count_total visit_stamp.visit_stamp_count_total 100 %}%</div>
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

