{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
<div class="grid gap-4">
    <h2 class="bp5-heading">Компании</h2>
    <!-- Тулбар -->
    <div class="flex gap-2">
        <button type="button" class="bp5-button bp5-intent-warning">
            <span aria-hidden="true" class="bp5-icon bp5-icon-plus"></span>
            <span class="bp5-button-text">Создать компанию</span>
        </button>
        <button type="button" class="bp5-button bp5-button">Настройки</button>
    </div>
    <!-- Компании -->
    <div class="grid gap-2">
        {% for company in current_companies %}
        <div class="bp5-section bp5-card bp5-elevation-1">
            <div class="bp5-section-header">
                <div class="bp5-section-header-left">
                    {% if company.logo %}
                    <img class="h-8 w-8" src="{{ company.logo.url }}" alt="{{ company.name }}">
                    {% endif %}
                    <div>
                        <h6 class="bp5-heading bp5-section-header-title">{{company.name}}</h6>
                        <div class="bp5-text-muted bp5-section-header-sub-title">{{company.address}}</div>
                    </div>
                </div>
            </div>
            <div class="bp5-section-card bp5-padded">
                <div class="grid gap-1 grid-cols-4 justify-stretch">

                    <div class="bp5-menu bp5-elevation-1">
                        <div class="">{{ company.portrate_negative_count|default:'0' }}</div>
                        <div class="text-sm text-neutral-500">Отзывов</div>
                    </div>

                    <div class="bp5-menu bp5-elevation-1">
                        <div class="flex items-start">
                            {{ company.yandex_rate|default:'0,0' }}
                            {% if company.yandex_id and company.is_yandex_reviews_upload and company.is_yandex_reviews_download %}
                            <div class="bg-lime-500 h-2 ml-auto mt-1 rounded-full text-center w-2"></div>
                            {% else %}
                            <div class="bg-red-500 h-2 ml-auto mt-1 rounded-full text-center w-2"></div>
                            {% endif %}
                        </div>
                        <div class="text-sm text-neutral-500">
                            Яндекс
                        </div>
                    </div>

                    <div class="bp5-menu bp5-elevation-1">
                        <div class="flex items-start">
                            {{ company.gis_rate|default:'0,0' }}
                            {% if company.gis_id and True %}
                            <div class="bg-lime-500 h-2 ml-auto mt-1 rounded-full text-center w-2"></div>
                            {% else %}
                            <div class="bg-red-500 h-2 ml-auto mt-1 rounded-full text-center w-2"></div>
                            {% endif %}
                        </div>
                        <div class="text-sm text-neutral-500">2Гис</div>
                    </div>

                    <div class="bp5-menu bp5-elevation-1">
                        <div class="flex items-start ">
                            {{ company.google_rate|default:'0,0' }}
                            {% if company.google_id and True %}
                            <div class="bg-lime-500 h-2 ml-auto mt-1 rounded-full text-center w-2"></div>
                            {% else %}
                            <div class="bg-red-500 h-2 ml-auto mt-1 rounded-full text-center w-2"></div>
                            {% endif %}
                        </div>
                        <div class="text-sm text-neutral-500">Google</div>
                    </div>
                    
                </div>

            </div>
            <div class="bp5-section-card bp5-padded">
                <div class="flex gap-2">
                    <button type="button" class="bp5-button">Открыть</button>
                    <a class="bp5-button" href="{{company.host}}/@{{company.id}}" target="_blank">Форма запроса отзыва</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}