{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
<h3 class="bp5-heading pb-2">Настройки - {{ company }}</h3>

<div class="grid gap-4">
    <!-- Тулбар -->
    <div class="flex gap-2">
        {% if request.user.profile.telegram_id %}
        <a class="bp5-button bp5-intent-warning"
            href="{% url 'extensions_telegram_notify_unsubscribe' %}?next={{ request.path }}">
            <span class="bp5-button-text">Отписаться от оповещений</span>
            <span aria-hidden="true" class="bp5-icon bp5-icon-send-message"></span>
        </a>
        {% else %}
        <a class="bp5-button bp5-intent-warning" href="http://t.me/portrate_notify_bot?start={{ user.profile.api_secret }}" target="_blank">
            <span class="bp5-button-text">Подписаться на оповещения</span>
            <span aria-hidden="true" class="bp5-icon bp5-icon-send-message"></span>
        </a>
        {% endif %}
        <div class="bp5-divider"></div>
        <button class="bp5-button bp5-intent-success" form="company-form" type="submit">
            <span class="bp5-button-text">Сохранить</span>
            <span aria-hidden="true" class="bp5-icon bp5-icon-tick"></span>
        </button>
    </div>

    <div class="grid grid-cols-12 gap-2">
        <!-- Настройки -->
        <div class="col-span-9">
            <form class="grid gap-2" action="" enctype="multipart/form-data" id="company-form" method="post" novalidate>
                {% csrf_token %}

                <div class="bp5-section bp5-card bp5-elevation-2">
                    <div class="bp5-section-header">
                        <div class="bp5-section-header-left">
                            <div>
                                <h6 id="section-title-12" class="bp5-heading bp5-section-header-title">Активация загрузки отзывов</h6>
                                <div class="bp5-text-muted bp5-section-header-sub-title">Настройки активации загрузки и выгрузки данных и отзывов</div>
                            </div>
                        </div>
                    </div>
                    <div class="bp5-section-card">
                        <div class="bp5-card-list bp5-card bp5-elevation-0" role="list">
                            <div class="bp5-control-card bp5-switch-control-card bp5-card bp5-elevation-0 bp5-interactive">
                                <label class="bp5-control bp5-switch bp5-inline bp5-align-right">
                                    {{ form.is_yandex_reviews_download }}
                                    <span class="bp5-control-indicator"></span>
                                    <div class="bp5-control-card-label">
                                        <img class="bp5-icon h-4 w-4 mr-2" src="{% static 'yandex.svg' %}" >
                                        Загружать отзывы и данные из Яндекс Карты
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="bp5-section-card">
                        <div class="bp5-card-list bp5-card bp5-elevation-0" role="list">
                            <div class="bp5-control-card bp5-switch-control-card bp5-card bp5-elevation-0 bp5-interactive">
                                <label class="bp5-control bp5-switch bp5-inline bp5-align-right">
                                    {{ form.is_gis_reviews_download }}
                                    <span class="bp5-control-indicator"></span>
                                    <div class="bp5-control-card-label">
                                        <img class="bp5-icon h-4 w-4 mr-2" src="{% static 'gis.svg' %}" >
                                        Загружать отзывы и данные из 2Гис Карты
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="bp5-section-card">
                        <div class="bp5-card-list bp5-card bp5-elevation-0" role="list">
                            <div class="bp5-control-card bp5-switch-control-card bp5-card bp5-elevation-0 bp5-interactive">
                                <label class="bp5-control bp5-switch bp5-inline bp5-align-right">
                                    {{ form.is_google_reviews_download }}
                                    <span class="bp5-control-indicator"></span>
                                    <div class="bp5-control-card-label">
                                        <img class="bp5-icon h-4 w-4 mr-2" src="{% static 'google.svg' %}" >
                                        Загружать отзывы и данные из Google Maps
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="bp5-section-card">
                        <div class="bp5-card-list bp5-card bp5-elevation-0" role="list">
                            <div class="bp5-control-card bp5-switch-control-card bp5-card bp5-elevation-0 bp5-interactive">
                                <label class="bp5-control bp5-switch bp5-inline bp5-align-right">
                                    {{ form.is_mapsme_reviews_download }}
                                    <span class="bp5-control-indicator"></span>
                                    <div class="bp5-control-card-label">
                                        <img class="bp5-icon h-4 w-4 mr-2" src="{% static 'mapsme.svg' %}" >
                                        Загружать отзывы и данные из Mapsme
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="bp5-section bp5-card bp5-elevation-2">
                    <div class="bp5-section-header">
                        <div class="bp5-section-header-left">
                            <div>
                                <h6 id="section-title-12" class="bp5-heading bp5-section-header-title">ID карточек</h6>
                                <div class="bp5-text-muted bp5-section-header-sub-title">Настройки ID карточек для загрузки отзывов и данных</div>
                            </div>
                        </div>
                    </div>
                    <div class="bp5-section-card bp5-padded">
                        <div class="bp5-form-group">
                            <label class="bp5-label" for="">ID Яндекс Карты</label>
                            {{ form.yandex_id }}
                        </div>
                        <div class="bp5-form-group">
                            <label class="bp5-label" for="">ID 2Гис Карты</label>
                            {{ form.gis_id }}
                        </div>
                        <div class="bp5-form-group">
                            <label class="bp5-label" for="">ID Google Maps</label>
                            {{ form.google_id }}
                        </div>
                        <div class="bp5-form-group">
                            <label class="bp5-label" for="">ID Mapsme</label>
                            {{ form.mapsme_id }}
                        </div>
                    </div>
                </div>

                <div class="bp5-section bp5-card bp5-elevation-2">
                    <div class="bp5-section-header">
                        <div class="bp5-section-header-left">
                            <div>
                                <h6 id="section-title-12" class="bp5-heading bp5-section-header-title">Форма запроса отзыва</h6>
                                <div class="bp5-text-muted bp5-section-header-sub-title">Настройки ссылок для запроса отзыва</div>
                            </div>
                        </div>
                    </div>
                    <div class="bp5-section-card bp5-padded">
                        <div class="bp5-form-group">
                            <label class="bp5-label" for="">Ссылка Яндекс Карты</label>
                            {{ form.yandex_link }}
                        </div>
                        <div class="bp5-form-group">
                            <label class="bp5-label" for="">Ссылка 2Гис Карты</label>
                            {{ form.gis_link }}
                        </div>
                        <div class="bp5-form-group">
                            <label class="bp5-label" for="">Ссылка Google Maps</label>
                            {{ form.google_link }}
                        </div>
                        <div class="bp5-form-group">
                            <label class="bp5-label" for="">Ссылка Mapsme</label>
                            {{ form.mapsme_link }}
                        </div>
                        <div class="bp5-form-group">
                            <label class="bp5-label" for="">Ссылка Dikidi</label>
                            {{ form.dikidi_link }}
                        </div>
                        <div class="bp5-form-group">
                            <label class="bp5-label" for="">Ссылка Рестоклуб</label>
                            {{ form.restoclub_link }}
                        </div>
                        <div class="bp5-form-group">
                            <label class="bp5-label" for="">Ссылка Tripadvisor</label>
                            {{ form.tripadvisor_link }}
                        </div>
                        <div class="bp5-form-group">
                            <label class="bp5-label" for="">Ссылка Продокторов</label>
                            {{ form.prodoctorov_link }}
                        </div>
                        <div class="bp5-form-group">
                            <label class="bp5-label" for="">Ссылка Zoon</label>
                            {{ form.zoon_link }}
                        </div>
                        <div class="bp5-form-group">
                            <label class="bp5-label" for="">Ссылка Отзовик</label>
                            {{ form.otzovik_link }}
                        </div>
                        <div class="bp5-form-group">
                            <label class="bp5-label" for="">Ссылка Irecommend</label>
                            {{ form.irecommend_link }}
                        </div>
                    </div>
                </div>

                <div class="bp5-section bp5-card bp5-elevation-2">
                    <div class="bp5-section-header">
                        <div class="bp5-section-header-left">
                            <div>
                                <h6 id="section-title-12" class="bp5-heading bp5-section-header-title">Данные</h6>
                                <div class="bp5-text-muted bp5-section-header-sub-title">Настройки названия и адреса компании</div>
                            </div>
                        </div>
                    </div>
                    <div class="bp5-section-card bp5-padded">
                        <div class="bp5-form-group">
                            <label class="bp5-label" for="">Название</label>
                            {{ form.name }}
                            {% if form.errors.name %}
                            <div class="bp5-form-helper-text text-[#ac2f33]">Название обязателено</div>
                            {% endif %}
                        </div>
                        <div class="bp5-form-group">
                            <label class="bp5-label" for="">Адрес</label>
                            {{ form.address }}
                            {% if form.errors.address %}
                            <div class="bp5-form-helper-text text-[#ac2f33]">Адрес обязателен</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="bp5-section-card bp5-padded">
                        {% if company.logo %}
                        <div class="bp5-form-group col-span-6">
                            <img class="bp5-elevation-1 h-16 rounded w-16" src="{{ company.logo.url }}" alt="{{ company.name }}">
                        </div>
                        {% endif %}
                        <div class="bp5-form-group col-span-6">
                            <label class="bp5-label" for="">Логотип</label>
                            <label class="bp5-file-input max-w-sm">
                                {{ form.logo }}
                                <span class="bp5-file-upload-input">Выбрать файл...</span>
                            </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!-- Меню -->
        <div class="col-span-3">
            {% include 'dashboard/_pref_tabs.html' %}
        </div>
    </div>
</div>
{% endblock %}