{% extends 'dashboard/base.html' %}
{% load static %}
{% block navbar %}
<a class="bp5-active bp5-button bp5-intent-success bp5-minimal" href="{% url 'company_create_link_yandex' %}">Добавить филиал</a>
{% endblock %}
{% block content %}
<h2 class="bp5-heading">Добавление филиала</h2>
{% include 'dashboard/_master_tabs.html' %}
<div class="row">
    <div class="xs-9">
        <form method="post" novalidate>
            {% csrf_token %}
            <div class="bp5-form-group {% if form.parser_link_gis.errors %}bp5-intent-danger{% endif %}">
                <label class="bp5-label" for="id_parser_link_gis">Ссылка на филиал</label>
                <div class="bp5-form-content">
                    <div class="bp5-control-group bp5-large">
                        <div class="bp5-input-group bp5-fill {% if form.parser_link_gis.errors %}bp5-intent-danger{% endif %}">
                            {{form.parser_link_gis}}
                        </div>
                        <button class="bp5-button bp5-intent-warning">Далее</button>
                    </div>
                    {% if form.parser_link_gis.errors %}<div class="bp5-form-helper-text">{{form.parser_link_gis.errors.as_text}}</div>{% endif %}
                </div>
            </div>
            <!--div class="bp5-form-group">
                <div class="bp5-form-content">
                    <div class="bp5-callout">
                        <p class="bp5-text-small">Примеры правильных ссылок</p>
                        <li>https://</li>
                    </div>
                </div>
            </div-->
        </form>
        <div class="bp5-form-group">
            <div class="bp5-form-content">
                <a class="bp5-button bp5-large" href="{% url 'company_create_link_google' %}">Пропустить</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

