{% extends "dashboard/base.html" %}
{% load static %}
{% block content %}
{% include "dashboard/_company_head.html" %}
{% include "dashboard/_company_tabs.html" %}
<div class="bp5-form-group">
    <div class="bp5-control-group">
        <button class="bp5-button bp5-intent-warning" form="COMPANY_FORM" type="submit">Сохранить</button>
        <a class="bp5-button bp5-intent-warning" href="{{company.host}}/@{{company.id}}" target="_blank">Форма запроса отзыва</a>
    </div>
</div>
<!-- @TODO: inline style -->
<div style="display:grid;grid-template-columns:repeat(12,minmax(0,1fr));gap:15px">
    <!-- @TODO: inline style -->
    <div style="grid-column:span 9 / span 9;">
        <form enctype="multipart/form-data" id="COMPANY_FORM" method="post" novalidate>
            {% csrf_token %}
            <div class="bp5-form-group">
                <div class="bp5-card bp5-elevation-1 bp5-section">
                    <div class="bp5-section-header">
                        <div class="bp5-section-header-left">
                            <h6 class="bp5-heading bp5-section-header-title">
                                Карты
                            </h6>
                        </div>
                        <div class="bp5-section-header-right">
                            <span class="bp5-icon bp5-icon-map-marker bp5-text-muted"></span>
                        </div>
                    </div>
                    <div class="bp5-padded bp5-section-card">
                        <div class="bp5-form-group">
                            <label class="bp5-label">Яндекс</label>
                            {{form.form_link_yandex}}
                            <div class="bp5-form-helper-text">
                                https://yandex.ru/maps/org/portrate/104318468315/reviews?add-review=true
                            </div>
                        </div>
                        <div class="bp5-form-group">
                            <label class="bp5-label">2Гис</label>
                            {{form.form_link_gis}}
                            <div class="bp5-form-helper-text">
                                https://2gis.ru/orenburg/firm/70000001061507390/tab/reviews/addreview
                            </div>
                        </div>
                        <div class="bp5-form-group">
                            <label class="bp5-label">Google</label>
                            {{form.form_link_google}}
                            <div class="bp5-form-helper-text">
                            https://search.google.com/local/writereview?placeid=ChIJZeQv3rv7f0ER32iYzCXUqJA
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bp5-card bp5-elevation-1 bp5-section">
                <div class="bp5-section-header">
                    <div class="bp5-section-header-left">
                        <h6 class="bp5-heading bp5-section-header-title">
                            Каталоги
                        </h6>
                    </div>
                    <div class="bp5-section-header-right">
                        <span class="bp5-icon bp5-icon-page-layout bp5-text-muted"></span>
                    </div>
                </div>
                <div class="bp5-padded bp5-section-card">
                    <div class="bp5-control-group bp5-fill">
                        <!-- @TODO: inline style -->
                        <div class="bp5-form-group" style="flex:1 0 50%">
                            <label class="bp5-label">Dikidi</label>
                            {{form.form_link_dikidi}}
                        </div>
                        <!-- @TODO: inline style -->
                        <div class="bp5-form-group" style="flex:1 0 50%">
                            <label class="bp5-label">Рестоклуб</label>
                            {{form.form_link_restoclub}}
                        </div>
                    </div>
                    <div class="bp5-control-group bp5-fill">
                        <!-- @TODO: inline style -->
                        <div class="bp5-form-group" style="flex:1 0 50%">
                            <label class="bp5-label">Tripadvisor</label>
                            {{form.form_link_tripadvisor}}
                        </div>
                        <!-- @TODO: inline style -->
                        <div class="bp5-form-group" style="flex:1 0 50%">
                            <label class="bp5-label">Продокторов</label>
                            {{form.form_link_prodoctorov}}
                        </div>
                    </div>
                    <div class="bp5-control-group bp5-fill">
                        <!-- @TODO: inline style -->
                        <div class="bp5-form-group" style="flex:1 0 50%">
                            <label class="bp5-label">Flamp</label>
                            {{form.form_link_flamp}}
                        </div>
                        <!-- @TODO: inline style -->
                        <div class="bp5-form-group" style="flex:1 0 50%">
                            <label class="bp5-label">Zoon</label>
                            {{form.form_link_zoon}}
                        </div>
                    </div>
                    <div class="bp5-control-group bp5-fill">
                        <!-- @TODO: inline style -->
                        <div class="bp5-form-group" style="flex:1 0 50%">
                            <label class="bp5-label">Отзовик</label>
                            {{form.form_link_otzovik}}
                        </div>
                        <!-- @TODO: inline style -->
                        <div class="bp5-form-group" style="flex:1 0 50%">
                            <label class="bp5-label">Irecommend</label>
                            {{form.form_link_irecommend}}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- @TODO: inline style -->
    <div style="grid-column:span 3 / span 3;">
        {% include "dashboard/_company_update_menu.html" %}
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    IMask($("input[name=phone]")[0], {mask: "+7 000 000-00-00"});
    $("input[name=logo]").on("change", event => {
        const filename = $(event.target).val().replace(/.*(\/|\\)/, "");
        $("span[data-logo]").text(filename);
    });
</script>
{% endblock %}
