{% extends 'dashboard/base.html' %}
{% load static %}

{% block head %}
<h1 class="text-3xl items-center px-2 pt-6">Компании</h1>
{% endblock %}

{% block content %}
<div class="flex flex-col gap-2">

    <!-- Тулбар -->
    <div class="bg-white flex gap-1 p-2 rounded-2xl">
        <a class="button_widget" href="#">Создать</a>
        <!--
        {% if user.profile.telegram_id %}  
        <a class="button_widget flex gap-1 items-center" href="{% url 'extensions_telegram_notify_unsubscribe' %}?next={{ request.path }}">
            Отписаться от оповещений <span class="material-symbols-outlined text-sm text-sky-800">send</span>
        </a>
        {% else %}
        <a class="button_widget flex gap-1 items-center" href="http://t.me/portrate_notify_bot?start={{user.profile.api_secret}}" target="_blank">
            Подписаться на оповещения <span class="material-symbols-outlined text-sm text-sky-800">send</span>
        </a>
        {% endif %}
        -->
    </div>
    
    <!-- Компании -->
    {% for company in companies %}
    <div class="bg-white flex flex-col gap-4 p-2 rounded-2xl">
        
        <!-- Заголовок -->
        <div class="flex gap-2 items-center">
            <div class="border border-orange-200 bg-orange-200 flex h-12 items-center overflow-hidden rounded-lg w-12">
                {% if company.logo %}
                <img class="h-12 w-12" src="{{ company.logo.url }}" alt="{{ company.name }}">
                {% else %}
                <span class="material-symbols-outlined text-2xl mx-auto">storefront</span>
                {% endif %} 
            </div>
            <div>
                <div class="text-xl truncate">{{ company.name }}</div>
                <div class="text-sm text-neutral-500 truncate">{{ company.address }}</div>
            </div>
        </div>

        <!-- Значения -->
        <div class="grid gap-1 grid-cols-2 justify-stretch">
            <div class="border border-neutral-200 rounded-lg px-2 py-1">
                <div class="text-xl">{{ company.portrate_negative_count|default:'0' }}</div>
                <div class="text-sm text-neutral-500">Отзывов</div>
            </div>

            <div class="border border-neutral-200 rounded-lg px-2 py-1 ">
                <div class="flex items-start text-xl">
                    {{ company.yandex_rate|default:'0,0' }}
                    {% if company.yandex_id and company.is_yandex_reviews_upload and company.is_yandex_reviews_download %}
                    <div class="bg-lime-500 h-2 ml-auto mt-1 rounded-full text-center w-2"></div>
                    {% else %}
                    <div class="bg-red-500 h-2 ml-auto mt-1 rounded-full text-center w-2"></div>
                    {% endif %}
                </div>
                <div class="text-sm text-neutral-500">
                    Яндекс
                </div>
            </div>

            <div class="border border-neutral-200 rounded-lg px-2 py-1">
                <div class="flex items-start text-xl">
                    {{ company.gis_rate|default:'0,0' }}
                    {% if company.gis_id and True %}
                    <div class="bg-lime-500 h-2 ml-auto mt-1 rounded-full text-center w-2"></div>
                    {% else %}
                    <div class="bg-red-500 h-2 ml-auto mt-1 rounded-full text-center w-2"></div>
                    {% endif %}
                </div>
                <div class="text-sm text-neutral-500">2Гис</div>
            </div>

            <div class="border border-neutral-200 rounded-lg px-2 py-1">
                <div class="flex items-start text-xl">
                    {{ company.google_rate|default:'0,0' }}
                    {% if company.google_id and True %}
                    <div class="bg-lime-500 h-2 ml-auto mt-1 rounded-full text-center w-2"></div>
                    {% else %}
                    <div class="bg-red-500 h-2 ml-auto mt-1 rounded-full text-center w-2"></div>
                    {% endif %}
                </div>
                <div class="text-sm text-neutral-500">Google</div>
            </div>
        </div>

        <div class="flex gap-1">
            <a class="button_widget" href="#" >
                Открыть
            </a>
            <a class="button_widget" href="#">
                Скопировать ссылку
            </a>
        </div>    
    </div>
    {% endfor %}
</div>
{% endblock %}

