{% extends "dashboard/app.html" %}
{% load static %}
{% block content %}
<div class="bp5-form-group">
    <div class="bp5-entity-title bp5-entity-title-heading-h3">
        <div class="bp5-entity-title-icon-container">
            <span class="bp5-icon bp5-icon-shop bp5-icon-large bp5-text-muted"></span>
        </div>
        <div class="bp5-entity-title-text">
            <div class="bp5-entity-title-title-and-tags">
                <h3 class="bp5-heading bp5-entity-title-title">
                    Создание компании
                </h3>
            </div>
            <div class="bp5-text-muted bp5-entity-title-subtitle">
                Поиск в картах и каталогах
            </div>
        </div>
    </div>
</div>
<div class="bp5-form-group">
    <div style="align-items:center;display:flex;gap:5px;">
        <span class="bp5-tag bp5-minimal bp5-round">
            <img class="bp5-icon" height=10 src="{% static 'images/parsers/yandex.png' %}" width=10>&nbsp;Яндекс
        </span>
        <span class="bp5-icon bp5-icon-arrow-right bp5-text-muted"></span>
        <span class="bp5-tag bp5-round">
            <img class="bp5-icon" height=10 src="{% static 'images/parsers/gis.png' %}" width=10>&nbsp;2Гис
        </span>
        <span class="bp5-icon bp5-icon-arrow-right bp5-text-muted"></span>
        <span class="bp5-tag bp5-minimal bp5-round">
            <img class="bp5-icon" height=10 src="{% static 'images/parsers/google.png' %}" width=10>&nbsp;Google
        </span>
        <span class="bp5-icon bp5-icon-arrow-right bp5-text-muted"></span>
        <span class="bp5-tag bp5-minimal bp5-round">Данные компании</span>
    </div>
</div>
<div class="bp5-form-group">
    <div class="bp5-card bp5-section">
        <div class="bp5-section-header">
            <div class="bp5-section-header-left">
                <h6 class="bp5-heading bp5-section-header-title">
                    2Гис
                </h6>
            </div>
            <div class="bp5-section-header-left">
                <img class="bp5-icon" height=16 src="{% static 'images/parsers/gis.png' %}" width=16>
            </div>
        </div>
        <div class="bp5-padded bp5-section-card">
            <div class="bp5-control-group bp5-fill">
                <form method="post" novalidate>
                    {% csrf_token %}
                    <label class="bp5-label">Введите название и адрес вашей компании</label>
                    <div class="bp5-control-group ">
                        {{form.query}}
                        <button class="bp5-button">Найти</button>
                    </div>
                    {% if form.query.errors %}
                    <!-- @TODO: inline style -->
                    <div class="bp5-form-helper-text" style="color:#ac2f33">
                        {{form.query.errors.as_text}}
                    </div>
                    {% else %}
                    <div class="bp5-form-helper-text">
                        г. Орск, ул. Ленинского-комсомола 4б, ООО Портрет
                    </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>
{% for card in card_list %}
<div class="bp5-form-group">
    <div class="bp5-card bp5-section">
        <div class="bp5-section-header">
            <div class="bp5-section-header-left">
                <div>
                    <h6 class="bp5-heading bp5-section-header-title">
                        {{card.name}}
                    </h6>
                </div>
            </div>
            <div class="bp5-section-header-right">
                <!-- @TODO: inline style -->
                <label class="bp5-control bp5-switch bp5-align-right" style="margin:0;">
                    <input type="radio" name="organisation_id" value="{{card.id}}">
                    <span class="bp5-control-indicator"></span>Это моя компания
                </label>
            </div>
        </div>
        <div class="bp5-padded bp5-section-card">
            <div class="bp5-card-list bp5-card">
                <span class="bp5-text-muted bp5-text-small">ID организации: {{card.id}}</span>
                <div class="bp5-running-text bp5-text-large">
                    {{card.address_name}}
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<button class="bp5-button bp5-intent-warning" data-skip-button>Пропустить 2Гис</button>
<a class="bp5-button bp5-intent-warning" href="{% url 'company_master_yandex' %}">Назад</a>
<button class="bp5-button bp5-intent-warning" disabled data-next-button>Далее</button>
{% endblock %}
{% block script %}
<script>
$(document).ready(event => {
    $("input[name=organisation_id]").on("change", event => {
        const checkbox = $(event.target);
        Cookies.set("id_gis", checkbox.val())
        $("button[data-next-button]").prop("disabled", false );
    });

    $("button[data-skip-button]").on("click", event => {
        Cookies.remove("id_gis")
        window.location.replace("{% url 'company_master_google' %}");
    });

    $("button[data-next-button]").on("click", event => {
        window.location.replace("{% url 'company_master_google' %}");
    });
});
</script>
{% endblock %}
