{% extends 'dashboard/base.html' %}
{% load extensions %}
{% load static %}
{% load tz %}
{% block content %}
{% if company_list %}
<div class="bp5-form-group">
    <div class="bp5-entity-title bp5-entity-title-heading-h3">
        <div class="bp5-entity-title-icon-container">
            <span class="bp5-icon bp5-icon-shop bp5-icon-large bp5-text-muted"></span>
        </div>
        <div class="bp5-entity-title-text">
            <div class="bp5-entity-title-title-and-tags">
                <h3 class="bp5-heading bp5-entity-title-title">
                    Компании
                </h3>
            </div>
        </div>
    </div>
</div>
<div class="bp5-form-group">
    <div class="bp5-button-group">
        <a class="bp5-button bp5-intent-success" href="{% url 'company_create' %}">Создать компанию</a>
    </div>
</div>
{% for company in company_list %}
<div class="bp5-form-group">
    <div class="bp5-card bp5-elevation-2 bp5-section">
        <div class="bp5-section-header">
            <div class="bp5-section-header-left">
                {% if company.logo %}
                <img class="bp5-elevation-1" style="width:35px" src="{{ company.logo.url }}" alt="{{ company.name }}">
                {% endif %}
                <div>
                    <h6 class="bp5-heading bp5-section-header-title">{{company.name}}</h6>
                    <div class="bp5-section-header-sub-title bp5-text-muted">{{company.address}}</div>
                </div>
            </div>
            <div class="bp5-section-header-right">
                {% if company.is_active %}
                <span class="bp5-intent-success bp5-minimal bp5-tag">Активно</span>
                {% else %}
                <span class="bp5-intent-danger bp5-minimal bp5-tag">Не активно</span>
                {% endif %}
            </div>
        </div>
        <div class="bp5-padded bp5-section-card">
            <div style="display:flex;gap:5px">
                <div class="bp5-callout bp5-callout-has-body-content bp5-callout-icon bp5-elevation-1">
                    <img class="bp5-icon" style="width:16px" src="{% static 'yandex.svg' %}" >
                    <h5 class="bp5-heading">
                        {{ company.yandex_rate|default:'0,0' }}
                    </h5>
                    Рейтинг Яндекс
                    <div class="bp5-text-muted" style="font-size:10px">
                        {% timezone user.profile.default_timezone %}
                        {{ company.yandex_rate_last_parse_at|default:'Нет данных' }}
                        {% endtimezone %}
                    </div>
                </div>
                <div class="bp5-callout bp5-callout-has-body-content bp5-callout-icon bp5-elevation-1">
                    <img class="bp5-icon" style="width:16px" src="{% static 'gis.svg' %}" >
                    <h5 class="bp5-heading">
                        {{ company.gis_rate|default:'0,0' }}
                    </h5>
                    Рейтинг 2Гис
                    <div class="bp5-text-muted" style="font-size:10px">
                        {% timezone user.profile.default_timezone %}
                        {{ company.gis_rate_last_parse_at|default:'Нет данных' }}
                        {% endtimezone %}
                    </div>
                </div>
                <div class="bp5-callout bp5-callout-has-body-content bp5-callout-icon bp5-elevation-1">
                    <img class="bp5-icon" style="width:16px" src="{% static 'google.svg' %}" >
                    <h5 class="bp5-heading">
                        {{ company.google_rate|default:'0,0' }}
                    </h5>
                    Рейтинг Google
                    <div class="bp5-text-muted" style="font-size:10px">
                        {% timezone user.profile.default_timezone %}
                        {{ company.google_rate_last_parse_at|default:'Нет данных' }}
                        {% endtimezone %}
                    </div>
                </div>
                <div class="bp5-callout bp5-callout-has-body-content bp5-callout-icon bp5-elevation-1">
                    <span class="bp5-icon bp5-icon-comment"></span>
                    <h5 class="bp5-heading">
                        {{ company.total_positive_count|sum:company.total_negative_count }}
                    </h5>
                    Всего отзывов
                </div>
            </div>
        </div>
        <div class="bp5-padded bp5-section-card">
            <a class="bp5-button bp5-intent-warning" href="{% url 'company_detail' company.id %}">Открыть</a>
        </div>
    </div>
</div>
{% endfor %}
{% include 'dashboard/_pagination.html' %}
{% else %}
<div class="bp5-form-group">
    <div class="bp5-non-ideal-state">
        <div class="bp5-non-ideal-state-visual" style="font-size: 48px; line-height: 48px;">
            <span class="bp5-icon bp5-icon-muted bp5-icon-shop"></span>
        </div>
        <div class="bp5-non-ideal-state-text">
            <h3 class="bp5-heading">
                Компании
            </h3>
            <div>
                Ни одной компании не найдено.
            </div>
        </div>
        <a class="bp5-button bp5-intent-success" href="{% url 'company_create' %}">Создать компанию</a>
    </div>
</div>
{% endif %}
{% endblock %}
