{% extends 'dashboard/base.html' %}
{% load static %}
{% block navbar %}
{% include 'dashboard/_company_navbar.html' %}
{% endblock %}
{% block content %}
<h2 class="bp5-heading">Ссылка на филиал</h2>
<div class="row">
    <div class="xs-9">
        <form method="post" novalidate>
            {% csrf_token %}
            <div class="bp5-form-group {% if form.parser_link_flamp.errors %}bp5-intent-danger{% endif %}">
                <label class="bp5-label" for="id_parser_link_flamp">
                    <div class="bp5-entity-title">
                        <img height=16 src="{% static 'dashboard/images/services/flamp.png' %}" width=16>
                        Flamp
                    </div>
                </label>
                <div class="bp5-form-content">
                    <div class="bp5-input-group {% if form.parser_link_flamp.errors %}bp5-intent-danger{% endif %}">
                        {{form.parser_link_flamp}}
                    </div>
                    <div class="bp5-form-helper-text">
                        {% if form.parser_link_flamp.errors %}{{form.parser_link_flamp.errors.as_text}}{% endif %}
                    </div>
                </div>
            </div>
            <div class="bp5-form-group">
                <div class="bp5-form-content">
                    <div class="bp5-callout">
                        <p class="bp5-text-small">Примеры правильных ссылок</p>
                        <li>https://{CITY}.flamp.ru/firm/{NAME}-{ID}</li>
                    </div>
                </div>
            </div>

            <div class="bp5-form-group">
                <div class="bp5-form-content">
                    <button class="bp5-button bp5-large" type="submit">Сохранить</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
