{% extends "dashboard/base.html" %}
{% load static %}
{% block content %}
<div class="bp5-form-group">
    <div class="bp5-callout bp5-callout-has-body-content bp5-callout-icon bp5-intent-success">
        <span class="bp5-icon bp5-icon-issue"></span>
        <h5 class="bp5-heading">
            Информация
        </h5>
        Соотношение сторон для логотипа следует выбрать 1 к 1.
    </div>
</div>
<div class="bp5-form-group">
    <div class="bp5-entity-title bp5-entity-title-heading-h3">
        <div class="bp5-entity-title-icon-container">
            <span class="bp5-icon bp5-icon-shop bp5-icon-large bp5-text-muted"></span>
        </div>
        <div class="bp5-entity-title-text">
            <div class="bp5-entity-title-title-and-tags">
                <h3 class="bp5-heading bp5-entity-title-title">
                    Создание компании
                </h3>
            </div>
        </div>
    </div>
</div>
<div class="bp5-form-group">
    <div>
        <button class="bp5-button bp5-intent-success" form="COMPANY_FORM" type="submit">Создать компанию</button>
    </div>
</div>
<div class="bp5-card bp5-elevation-1 bp5-section">
    <form enctype="multipart/form-data" id="COMPANY_FORM" method="post" novalidate>
        {% csrf_token %}
        <div class="bp5-section-header">
            <div class="bp5-section-header-left">
                <div>
                    <h6 class="bp5-heading bp5-section-header-title">
                        Данные
                    </h6>
                    <div class="bp5-section-header-sub-title bp5-text-muted">название, адрес и логотип компании</div>
                </div>
            </div>
        </div>
        <div class="bp5-section-card bp5-padded">
            <div class="bp5-form-group">
                <label class="bp5-label">Логотип</label>
                <label class="bp5-file-input">
                    {{form.logo}}
                    <span class="bp5-file-upload-input">Выбрать файл...</span>
                </label>
                <!-- Исключение для css (цвет текста) -->
                <div class="bp5-form-helper-text" style="color:#ac2f33">
                    {{form.logo.errors.as_text}}
                </div>
            </div>
        </div>
        <div class="bp5-section-card bp5-padded">
            <div class="bp5-form-group">
                <label class="bp5-label">Название</label>
                {{form.name}}
                <!-- Исключение для css (цвет текста) -->
                <div class="bp5-form-helper-text" style="color:#ac2f33">
                    {{form.name.errors.as_text}}
                </div>
            </div>
            <div class="bp5-form-group">
                <label class="bp5-label">Адрес</label>
                {{form.address}}
                <!-- Исключение для css (цвет текста) -->
                <div class="bp5-form-helper-text" style="color:#ac2f33">
                    {{form.address.errors.as_text}}
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}