{% extends "dashboard/base.html" %}
{% load static %}
{% block navbar %}
{% include "dashboard/_company_navbar.html" %}
{% endblock %}
{% block content %}
<h2 class="bp5-heading">Qr</h2>
<div class="row">
    <div class="xs-4">
        <div class="bp5-form-group">
            <label class="bp5-label">Темная визитка</label>
            <div class="bp5-form-content">
                <div class="bp5-form-group">
                    <div class="bp5-form-content">
                        <div class="bp5-card bp5-elevation-0" style="background-color:black;height:150px;width:275px;">
                            <div class="row">
                                <div class="xs-4">
                                    <div data-qr></div>
                                </div>
                                <div class="xs-8">
                                    <div class="bp5-form-group bp5-dark">
                                        <div class="bp5-form-content">
                                            <div class="bp5-entity-title">
                                                <div class="bp5-entity-title-text">
                                                    <h5 class="bp5-entity-title-title bp5-heading">Оставьте отзыв</h5>
                                                    <div class="bp5-entity-title-subtitle bp5-text-muted">Сканируй QR код</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bp5-form-group bp5-dark">
                                        <div class="bp5-form-content">
                                            <div class="bp5-text-small">{{ company.name }}</div>
                                            {% if company.address %}
                                            <span class="bp5-text-small bp5-text-muted">{{ company.address|truncatechars:'50' }}</span>
                                            {% endif %}
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="bp5-button" type="submit">Загрузить</button>
            </div>
        </div>
    </div>
    <div class="xs-4">
        <div class="bp5-form-group">
            <label class="bp5-label">Светлая визитка</label>
            <div class="bp5-form-content">
                <div class="bp5-form-group">
                    <div class="bp5-form-content">
                        <div class="bp5-card bp5-elevation-0" style="height:150px;width:275px;">
                            <div class="row">
                                <div class="xs-4">
                                    <div data-qr></div>
                                </div>
                                <div class="xs-8">
                                    <div class="bp5-form-group">
                                        <div class="bp5-form-content">
                                            <div class="bp5-entity-title">
                                                <div class="bp5-entity-title-text">
                                                    <h5 class="bp5-entity-title-title bp5-heading">Оставьте отзыв</h5>
                                                    <div class="bp5-entity-title-subtitle bp5-text-muted">Сканируй QR код</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bp5-form-group">
                                        <div class="bp5-form-content">
                                            <div class="bp5-text-small">{{ company.name }}</div>
                                            {% if company.address %}
                                            <span class="bp5-text-small bp5-text-muted">{{ company.address|truncatechars:'50' }}</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="bp5-button" type="submit">Загрузить</button>
            </div>
        </div>
    </div>
    <div class="xs-4">
        <div class="bp5-form-group">
            <label class="bp5-label">Qr</label>
            <div class="bp5-form-content">
                <div class="bp5-form-group">
                    <div class="bp5-form-content">
                        <div class="bp5-card bp5-elevation-0" style="height:150px;width:150px">
                            <div data-qr></div>
                        </div>
                    </div>
                </div>
                <button class="bp5-button" type="submit">Загрузить</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="xs-4">
        <div class="bp5-form-group">
            <label class="bp5-label">Темная наклейка</label>
            <div class="bp5-form-content">
                <div class="bp5-form-group">
                    <div class="bp5-form-content">
                        <div class="bp5-card bp5-elevation-0" style="background-color:black;height:305px;width:210px">
                            <div class="bp5-form-group">
                                <div class="bp5-form-content">
                                    <img height=16 src="{% static 'dashboard/images/ui/map-marker.svg' %}" width=16>
                                </div>
                            </div>
                            <div class="bp5-form-group bp5-dark">
                                <div class="bp5-form-content">
                                    <div class="bp5-entity-title">
                                        <div class="bp5-entity-title-text">
                                            <h5 class="bp5-entity-title-title bp5-heading">Оставьте отзыв</h5>
                                            <div class="bp5-entity-title-subtitle bp5-text-muted">Сканируй QR код</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bp5-form-group bp5-dark">
                                <div class="bp5-form-content">
                                    <div data-qr></div>
                                </div>
                            </div>
                            <div class="bp5-form-group bp5-dark">
                                <div class="bp5-form-content">
                                    <div class="bp5-text-small">{{ company.name }}</div>
                                    {% if company.address %}
                                    <span class="bp5-text-small bp5-text-muted">{{ company.address|truncatechars:'50' }}</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="bp5-button" type="submit">Загрузить</button>
            </div>
        </div>
    </div>
    <div class="xs-4">
        <div class="bp5-form-group">
            <label class="bp5-label">Светлая наклейка</label>
            <div class="bp5-form-content">
                <div class="bp5-form-group">
                    <div class="bp5-form-content">
                        <div class="bp5-card bp5-elevation-0" style="height:305px;width:210px">
                            <div class="bp5-form-group">
                                <div class="bp5-form-content">
                                    <img height=16 src="{% static 'dashboard/images/ui/map-marker.svg' %}" width=16>
                                </div>
                            </div>
                            <div class="bp5-form-group">
                                <div class="bp5-form-content">
                                    <div class="bp5-entity-title">
                                        <div class="bp5-entity-title-text">
                                            <h5 class="bp5-entity-title-title bp5-heading">Оставьте отзыв</h5>
                                            <div class="bp5-entity-title-subtitle bp5-text-muted">Сканируй QR код</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bp5-form-group">
                                <div class="bp5-form-content">
                                    <div data-qr></div>
                                </div>
                            </div>
                            <div class="bp5-form-group">
                                <div class="bp5-form-content">
                                    <div class="bp5-text-small">{{ company.name }}</div>
                                    {% if company.address %}
                                    <span class="bp5-text-small bp5-text-muted">{{ company.address|truncatechars:'50' }}</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="bp5-button" type="submit">Загрузить</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
$(document).ready(event => {
    $("*[data-qr]").qrcode({
        height: 70,
        render: "",
        text: "https://geo.portrate.io/@{{ company.id }}?utm_source=QR",
        width: 70
    });
});
</script>
{% endblock %}
