{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}

<div class="border-b border-px border-neutral-300 flex items-center pt-20 px-6 pb-3">
    <h1 class="text-3xl">Сегодня</h1>

    <!--
<div class="flex flex-col gap-2">
    <div class="bg-white rounded-2xl p-4">
        <div class="flex flex-col gap-4">
            <div class="text-rose-700 flex gap-2 items-center">
                <span class="material-symbols-outlined text-[1rem] text-yellow-600">reviews</span>
                <span class="text-xs text-yellow-600">Негативный отзыв</span>
                <span class="ml-auto text-xs text-neutral-400">Сегодня в 11:45</span>
            </div>
            <div>
                Какой либо текст отзыва размеров в две - три строки а может и больше но я обрежу...
            </div>
            <div class="flex gap-2">
                <a class="border-black/10 border active:bg-neutral-300 px-2 py-1 rounded self-start text-center text-sm" href="#">Открыть</a>
            </div>
        </div>        
    </div>

    <div class="bg-white rounded-2xl p-4">
        <div class="flex flex-col gap-4">
            <div class="text-rose-700 flex gap-2 items-center">
                <span class="material-symbols-outlined text-[1rem] text-orange-600">mail</span>
                <span class="text-xs text-orange-600">Негативное сообщение</span>
                <span class="ml-auto text-xs text-neutral-400">Сегодня в 13:41</span>
            </div>
            <div>
                Какой либо текст отзыва размеров в две - три строки а может и больше но я обрежу...
            </div>
            <div class="flex gap-2">
                <a class="border-black/10 border active:bg-neutral-300 px-2 py-1 rounded self-start text-center text-sm" href="#">Открыть</a>
            </div>
        </div>        
    </div>

    <div class="bg-white rounded-2xl p-4">
        <div class="flex flex-col gap-4">
            <div class="text-rose-700 flex gap-2 items-center">
                <span class="material-symbols-outlined text-[1rem] text-lime-600">reviews</span>
                <span class="text-xs text-lime-600">Позитивный отзыв</span>
                <span class="ml-auto text-xs text-neutral-400">Сегодня в 14:36</span>
            </div>
            <div>
                Какой либо текст отзыва размеров в две - три строки а может и больше но я обрежу...
            </div>
            <div class="flex gap-2">
                <a class="border-black/10 border active:bg-neutral-300 px-2 py-1 rounded self-start text-center text-sm" href="#">Открыть</a>
            </div>
        </div>        
    </div>
</div>
-->

<script>
</script>

{% endblock %}
