{% extends 'dashboard/base.html' %}
{% load static %}
{% block navbar %}
<a class="bp5-active bp5-button bp5-intent-success bp5-minimal" href="{% url 'company_create_link_yandex' %}">Добавить филиал</a>
{% endblock %}
{% block content %}
<h2 class="bp5-heading">Добавление филиала</h2>
{% include "dashboard/_master_tabs.html" %}
<div class="row">
    <div class="xs-9">
        {% include 'dashboard/_master_search_form.html' %}
        {% if card_list %}
        <div class="bp5-radio-group">
            {% for card in card_list %}
            <div class="bp5-form-group">
                <div class="bp5-form-content">
                    <div class="bp5-card bp5-control-card bp5-compact bp5-radio-control-card">
                        <label class="bp5-align-right_ bp5-control bp5-inline bp5-radio">
                            <input data-id="{{ card.place_id }}"
                                   data-address="{{ card.formatted_address|default:'' }}"
                                   data-name="{{ card.name|default:'' }}"
                                   data-radio
                                   name="id"
                                   type="radio"
                            >
                            <span class="bp5-control-indicator"></span>
                            <img class="bp5-icon" height=16 src="{% static 'dashboard/images/services/google.png' %}" width=16>
                            <div class="bp5-control-card-label">
                                <div class="bp5-text-large">{{ card.name|default:'Название не найдено' }}</div>
                                <div class="bp5-text-muted">{{ card.formatted_address|default:'Адрес не найден' }}</div>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <div class="bp5-form-group">
            <div class="bp5-form-content">
                <a class="bp5-button bp5-large" href="{% url 'master_company_create' %}">Пропустить</a>
                {% if card_list %}
                <button class="bp5-button bp5-large" data-next>Далее</button>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
$(document).ready(event => {
    $("*[data-radio]").first().click();
    $("*[data-next]").click(event => {
        const radio = $("*[data-radio]:checked");
        Cookies.set("address_google", radio.data("address"));
        Cookies.set("id_google", radio.data("id"));
        Cookies.set("name_google", radio.data("name"));
        window.location.replace("{% url 'master_company_create' %}");
    });
});
</script>
{% endblock %}