{% extends 'dashboard/base.html' %}
{% load static %}
{% load tz %}
{% block content %}
{% include 'dashboard/_company_head.html' %}
{% include 'dashboard/_company_tabs.html' %}
{% if message_list %}
{% for message in message_list %}
<div class="bp5-form-group">
    <div class="bp5-card bp5-elevation-2 bp5-section">
        <div class="bp5-section-header">
            <div class="bp5-section-header-left">
                <h6 class="bp5-heading bp5-section-header-title">
                    {{message.phone}}
                </h6>
            </div>
            <div class="bp5-section-header-right">
                {% timezone user.profile.default_timezone %}
                <span class="bp5-text-muted bp5-text-small">{{message.created_at}}</span>
                {% endtimezone %}
                <img style="width:16px;" src="{% static 'logo.png' %}" alt="Портрет">
            </div>
        </div>
        <div class="bp5-section-card bp5-padded">
            {{ message.text }}
        </div>
    </div>
</div>
{% endfor %}
{% include 'dashboard/_pagination.html' %}
{% else %}
<div class="bp5-form-group">
    <div class="bp5-non-ideal-state">
        <div class="bp5-non-ideal-state-visual" style="font-size: 48px; line-height: 48px;">
            <span class="bp5-icon bp5-icon-muted bp5-icon-chat"></span>
        </div>
        <div class="bp5-non-ideal-state-text">
            <h3 class="bp5-heading">
                Сообщения
            </h3>
            <div>
                Ни одного сообщения не найдено.
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}