{% extends 'dashboard/base.html' %}
{% load static %}

{% block head %}
<h1 class="text-3xl items-center px-2 pt-6">Оповещения</h1>
{% endblock %}

{% block left %}
<div class="flex flex-col gap-2">
    {% for company in companies %}
    <a href="?company_id={{ company.id }}" class="flex items-center">
        {% if company.id == request.GET.company_id %}
            <div class="bg-orange-500 rounded w-1 h-4 mr-1"></div>
        {% else %}
            <div class="bg-neutral-200 rounded w-1 h-4 mr-1"></div>
        {% endif %}
        {{ company }}
    </a>
    {% endfor %}
</div>
{% endblock %}

{% block content %}
<div class="flex flex-col gap-2">
    {% for notification in notifications %}
    <div class="bg-white flex flex-col gap-4 p-2 rounded-2xl">
        <div class="flex gap-2 ">
            {% if notification.initiator == 'PORTRATE_NEGATIVE_MESSAGE' %}
            <div>
                <span class="material-symbols-outlined flex items-center justify-center text-rose-900 text-sm bg-rose-100 rounded-full w-5 h-5">info_i</span>
            </div>
            <div class="text-sm text-rose-900">
                Негативное сообщение в портрете, {{ notification.company }}
                <div class="text-xs text-neutral-500">
                    {{notification.created_at}}
                </div>
            </div>
            {% endif %}
        </div>
        {{ notification.text }}
        <div class="flex gap-1">
            <a class="button_widget" href="#">Открыть</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
