{% extends 'dashboard/base.html' %}
{% load static %}
{% load tz %}
{% block content %}
<h3 class="bp5-heading" style="margin-bottom:15px;">
    Оповещения
</h3>
<!-- Тулбар -->
<div style="display:flex;gap:5px;padding-bottom:15px">
    {% if user.profile.telegram_id %}
    <a class="bp5-button bp5-intent-warning" href="{% url 'extensions_telegram_notify_unsubscribe' %}?next={{ request.path }}">
        <span class="bp5-button-text">Отписаться от оповещений</span>
        <span aria-hidden="true" class="bp5-icon bp5-icon-send-message"></span>
    </a>
    {% else %}
    <a class="bp5-button bp5-intent-warning" href="http://t.me/portrate_notify_bot?start={{user.profile.api_secret}}" target="_blank">
        <span class="bp5-button-text">Подписаться на оповещения</span>
        <span aria-hidden="true" class="bp5-icon bp5-icon-send-message"></span>
    </a>
    {% endif %}
    <div class="bp5-divider"></div>
    <a class="bp5-button bp5-intent-warning" href="{% url 'pref' %}">Настройки</a>
</div>
<!-- Оповещения -->
{% for notification in notification_list %}
<div class="bp5-callout bp5-callout-has-body-content bp5-callout-icon bp5-elevation-2" style="background:white;margin-bottom:15px;">
    <span class="bp5-icon bp5-icon-issue"></span>
    <h6 class="bp5-heading">
        {% timezone user.profile.default_timezone %}
        {{ notification.created_at }}
        {% endtimezone %}
    </h6>
    <p>
        {{ notification.text }}
    </p>
    <div class="flex flex-wrap gap-1" style="display:flex;flex-wrap:wrap;gap:5px;">
        <span class="bp5-intent-primary bp5-minimal bp5-round bp5-tag">{{ notification.company }}</span>
        {% if notification.initiator == 'YANDEX_NEGATIVE_REVIEW' %}
        <span class="bp5-intent-danger bp5-minimal bp5-round bp5-tag">Негативный отзыв в Яндекс Карты</span>
        {% elif notification.initiator == 'GIS_NEGATIVE_REVIEW' %}
        <span class="bp5-intent-danger bp5-minimal bp5-round bp5-tag">Негативный отзыв в 2Гис Карты</span>
        {% elif notification.initiator == 'GOOGLE_NEGATIVE_REVIEW' %}
        <span class="bp5-intent-danger bp5-minimal bp5-round bp5-tag">Негативный отзыв в Google Карты</span>
        {% elif notification.initiator == 'PORTRATE_NEGATIVE_MESSAGE' %}
        <span class="bp5-intent-danger bp5-minimal bp5-round bp5-tag">Негативное сообщение в Портрет</span>
        {% endif %}
    </div>
</div>
{% endfor %}
<!-- Пагинация -->
{% include 'dashboard/_pagination.html' %}
{% endblock %}