{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
<div class="grid gap-2">
    <h1 class="bp5-heading">Оповещения</h1>
    <!-- Тулбар -->
    <div class="flex gap-1">
        {% if user.profile.telegram_id %}
        <a class="bp5-button bp5-intent-warning"
            href="{% url 'extensions_telegram_notify_unsubscribe' %}?next={{ request.path }}">
            <span aria-hidden="true" class="bp5-icon bp5-icon-send-message"></span>
            <span class="bp5-button-text">Отписаться от оповещений</span>
        </a>
        {% else %}
        <a class="bp5-button" href="http://t.me/portrate_notify_bot?start={{user.profile.api_secret}}" target="_blank">
            <span aria-hidden="true" class="bp5-icon bp5-icon-send-message"></span>
            <span class="bp5-button-text">Подписаться на оповещения</span>
        </a>
        {% endif %}
        <button type="button" class="bp5-button bp5-button">Настройки</button>
    </div>
    <!-- Оповещения -->
    {% for current_notification in current_notifications %}
    <div class="bp5-callout bp5-callout-has-body-content bp5-callout-icon">
        <span aria-hidden="true" class="bp5-icon bp5-icon-issue"></span>
        <h5 class="bp5-heading">
            {{current_notification.created_at}}
        </h5>
        <p>
            {{ current_notification.text }}
        </p>
        <div class="flex flex-wrap gap-1">
            <span class="bp5-tag bp5-minimal bp5-intent-primary bp5-round">{{ current_notification.company }}</span>
            <span class="bp5-tag bp5-minimal bp5-intent-danger bp5-round">Негативное сообщение в портрете</span>
        </div>
    </div>
    {% endfor %}
    <div>
        <button type="button" class="bp5-button bp5-button">
            <span aria-hidden="true" class="bp5-icon bp5-icon-arrow-left"></span>
            <span class="bp5-button-text">Новее</span>
        </button>
        <button type="button" class="bp5-button bp5-button">
            <span class="bp5-button-text">Старее</span>
            <span aria-hidden="true" class="bp5-icon bp5-icon-arrow-right"></span>
        </button>
    </div>
</div>

{% endblock %}