{% extends 'dashboard/base.html' %}
{% load static %}
{% load tz %}
{% block content %}
{% if notification_list %}
<div class="bp5-form-group">
    <div class="bp5-entity-title bp5-entity-title-heading-h3">
        <div class="bp5-entity-title-icon-container">
            <span class="bp5-icon bp5-icon-large bp5-icon-notifications bp5-text-muted"></span>
        </div>
        <div class="bp5-entity-title-text">
            <div class="bp5-entity-title-title-and-tags">
                <h3 class="bp5-heading bp5-entity-title-title">
                    Оповещения
                </h3>
            </div>
        </div>
    </div>
</div>
{% for notification in notification_list %}
<div class="bp5-callout bp5-callout-has-body-content bp5-callout-icon bp5-elevation-2" style="background:white;margin-bottom:15px;">
    <span class="bp5-icon bp5-icon-issue"></span>
    <h6 class="bp5-heading">
        {% timezone user.profile.default_timezone %}
        {{ notification.created_at }}
        {% endtimezone %}
    </h6>
    <p>
        {{ notification.text }}
    </p>
    <div style="display:flex;flex-wrap:wrap;gap:5px;">
        <span class="bp5-intent-primary bp5-minimal bp5-round bp5-tag">{{ notification.company }}</span>
        {% if notification.initiator == 'YANDEX_NEGATIVE_REVIEW' %}
        <span class="bp5-intent-danger bp5-minimal bp5-round bp5-tag">Негативный отзыв в Яндекс Карты</span>
        {% elif notification.initiator == 'GIS_NEGATIVE_REVIEW' %}
        <span class="bp5-intent-danger bp5-minimal bp5-round bp5-tag">Негативный отзыв в 2Гис Карты</span>
        {% elif notification.initiator == 'GOOGLE_NEGATIVE_REVIEW' %}
        <span class="bp5-intent-danger bp5-minimal bp5-round bp5-tag">Негативный отзыв в Google Карты</span>
        {% elif notification.initiator == 'PORTRATE_NEGATIVE_MESSAGE' %}
        <span class="bp5-intent-danger bp5-minimal bp5-round bp5-tag">Негативное сообщение в Портрет</span>
        {% endif %}
    </div>
</div>
{% endfor %}
{% include 'dashboard/_pagination.html' %}
{% else %}
<div class="bp5-form-group">
    <div class="bp5-non-ideal-state">
      <div class="bp5-non-ideal-state-visual" style="font-size: 48px; line-height: 48px;">
        <span class="bp5-icon bp5-icon-muted bp5-icon-notifications"></span>
      </div>
      <div class="bp5-non-ideal-state-text">
        <h3 class="bp5-heading">
            Оповещения
        </h3>
        <div>
            Ни одного оповещения не найдено.
        </div>
      </div>
    </div>
</div>
{% endif %}
{% endblock %}