{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<h2 class="bp5-heading">Профиль</h2>
{% include 'dashboard/_user_tabs.html' %}
<div class="row">
    <div class="xs-6">
        <form method="post" novalidate>
            {% csrf_token %}
            <div class="bp5-form-group {% if form.old_password.errors %}bp5-intent-danger{% endif %}">
                <label class="bp5-label" for="id_old_password">Старый пароль *</label>
                <div class="bp5-form-content">
                    <div class="bp5-input-group {% if form.old_password.errors %}bp5-intent-danger{% endif %}">
                        {{ form.old_password }}
                    </div>
                    {% if form.old_password.errors %}
                    <div class="bp5-form-helper-text">
                        {{ form.old_password.errors.as_text }}
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="bp5-form-group {% if form.new_password1.errors %}bp5-intent-danger{% endif %}">
                <label class="bp5-label" for="id_new_password1">Новый пароль *</label>
                <div class="bp5-form-content">
                    <div class="bp5-input-group {% if form.new_password1.errors %}bp5-intent-danger{% endif %}">
                        {{ form.new_password1 }}
                    </div>
                    <div class="bp5-form-helper-text">
                        {% if form.new_password1.errors %}
                        {{ form.new_password1.errors.as_text }}
                        {% else %}
                        Пароль не может состоять только из цифр и должен содержать как минимум 8 символов
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="bp5-form-group {% if form.new_password2.errors %}bp5-intent-danger{% endif %}">
                <label class="bp5-label" for="id_new_password2">Подтверждение нового пароля *</label>
                <div class="bp5-form-content">
                    <div class="bp5-input-group {% if form.new_password2.errors %}bp5-intent-danger{% endif %}">
                        {{ form.new_password2 }}
                    </div>
                    <div class="bp5-form-helper-text">
                        {% if form.new_password2.errors %}{{ form.new_password2.errors.as_text }}{% endif %}
                    </div>
                </div>
            </div>
            <div class="bp5-form-group">
                <div class="bp5-form-content">
                    <button class="bp5-button bp5-large" name="set_password" type="submit">Сохранить</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
