{% extends 'dashboard/base.html' %}
{% load extensions %}
{% load static %}
{% load djmoney %}
{% block content %}
<h2 class="bp5-heading">Тариф</h2>
<div class="bp5-form-group">
    <div class="bp5-form-content">
        <div class="bp5-entity-title">
            <div class="bp5-button-group bp5-minimal">
                <a class="bp5-button {% if period == 'annually' %}bp5-active{% endif %}" href="{% url 'profile_update_finance' %}" data-period-annually>Год</a>
                <a class="bp5-button {% if period == 'monthly' %}bp5-active{% endif %}" href="?period=monthly" data-period-monthly>Месяц</a>
            </div>
            <div class="bp5-large bp5-minimal bp5-tag ml-auto {% if request.user.profile.is_active%}bp5-intent-success{% else %}bp5-intent-danger{% endif %}">
                <strong>{{ request.user.profile.get_rate_display }},&nbsp;</strong>{% if request.user.profile.is_active%}активен до {{ request.user.profile.end_at }}{% else %}не активен{% endif %}
            </div>
        </div>
    </div>
</div>
<div class="bp5-form-group">
    <div class="bp5-form-content">
        <div class="row">
            <div class="xs-4">
                <div class="bp5-form-group">
                    <div class="bp5-form-content">
                        <div class="bp5-section bp5-card">
                            <div class="bp5-section-header">
                                <div class="bp5-section-header-left">
                                    <div>
                                        <h2 class="bp5-heading bp5-section-header-title">{% if period == 'annually' %}{% money_localize request.user.profile.start_price_annually_display 'RUB' %}{% else %}{% money_localize request.user.profile.start_price_monthly_display 'RUB' %}{% endif %}</h2>
                                        <div class="bp5-text-muted bp5-section-header-sub-title">в {% if period == 'annually' %}месяц - экономия 30%{% else %}месяц{% endif %}</div>
                                    </div>
                                </div>
                                <div class="bp5-section-header-right">
                                    <span class="bp5-intent-primary bp5-large bp5-minimal bp5-tag">Старт</span>
                                </div>
                            </div>
                            <div class="bp5-section-card bp5-padded">
                                <p class="bp5-entity-title">
                                    <span class="bp5-icon bp5-icon-tick bp5-intent-success"></span>
                                    <span class="bp5-text-large">1 филиал</span>
                                </p>
                                <p class="bp5-entity-title">
                                    <span class="bp5-icon bp5-icon-tick bp5-intent-success"></span>
                                    <span class="bp5-text-large">Виджет на сайт</span>
                                </p>
                                <p class="bp5-entity-title">
                                    <span class="bp5-icon bp5-icon-tick bp5-intent-success"></span>
                                    <span class="bp5-text-large">Страница для сбора отзывов</span>
                                </p>
                                <p class="bp5-entity-title">
                                    <span class="bp5-icon bp5-icon-tick bp5-intent-success"></span>
                                    <span class="bp5-text-large">Обновление отзывов ежедневно</span>
                                </p>
                                <p class="bp5-entity-title">
                                    <span class="bp5-icon bp5-icon-tick bp5-intent-success"></span>
                                    <span class="bp5-text-large">Перехват негативных отзывов</span>
                                </p>
                                <div class="bp5-entity-title">
                                    <span class="bp5-icon bp5-icon-tick bp5-intent-success"></span>
                                    <span class="bp5-text-large">Уведомление в Telegram</span>
                                </div>
                            </div>
                            <div class="bp5-section-card bp5-padded">
                                <div class="bp5-entity-title">
                                    <img height=16 src="{% static 'dashboard/images/services/yandex.png' %}" width=16>
                                    <img height=16 src="{% static 'dashboard/images/services/gis.png' %}" width=16>
                                    <img height=16 src="{% static 'dashboard/images/services/google.png' %}" width=16>
                                    <img height=16 src="{% static 'dashboard/images/services/avito.png' %}" width=16>
                                    <img height=16 src="{% static 'dashboard/images/services/zoon.png' %}" width=16>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if request.user.profile.rate != 'START' %}
                <button class="bp5-button bp5-large" data-button-start>Перейти на Старт</button>
                {% else %}
                <form action="{% url 'profile_pay' %}" method="post" novalidate>
                    {% csrf_token %}
                    <input name="rate" type="hidden" value="START">
                    <input name="period" type="hidden" value="{{ period }}">
                    <button class="bp5-button bp5-large" type="submit">Оплатить</button>
                </form>
                {% endif %}
            </div>
            <div class="xs-4">
                <div class="bp5-form-group">
                    <div class="bp5-form-content">
                        <div class="bp5-section bp5-card">
                            <div class="bp5-section-header">
                                <div class="bp5-section-header-left">
                                    <div>
                                        <h2 class="bp5-heading bp5-section-header-title">{% if period == 'annually' %}{% money_localize request.user.profile.regular_price_annually_display 'RUB' %}{% else %}{% money_localize request.user.profile.regular_price_monthly_display 'RUB' %}{% endif %}</h2>
                                        <div class="bp5-text-muted bp5-section-header-sub-title">в {% if period == 'annually' %}месяц - экономия 30%{% else %}месяц{% endif %}</div>
                                    </div>
                                </div>
                                <div class="bp5-section-header-right">
                                    <span class="bp5-intent-primary bp5-large bp5-minimal bp5-tag">Стандарт</span>
                                </div>
                            </div>
                            <div class="bp5-section-card bp5-padded">
                                <p class="bp5-entity-title">
                                    <span class="bp5-icon bp5-icon-tick bp5-intent-success"></span>
                                    <span class="bp5-text-large">До 3 филиалов</span>
                                </p>
                                <p class="bp5-entity-title">
                                    <span class="bp5-icon bp5-icon-tick bp5-intent-success"></span>
                                    <span class="bp5-text-large">Виджет на сайт</span>
                                </p>
                                <p class="bp5-entity-title">
                                    <span class="bp5-icon bp5-icon-tick bp5-intent-success"></span>
                                    <span class="bp5-text-large">Страница для сбора отзывов</span>
                                </p>
                                <p class="bp5-entity-title">
                                    <span class="bp5-icon bp5-icon-tick bp5-intent-success"></span>
                                    <span class="bp5-text-large">Обновление отзывов ежедневно</span>
                                </p>
                                <p class="bp5-entity-title">
                                    <span class="bp5-icon bp5-icon-tick bp5-intent-success"></span>
                                    <span class="bp5-text-large">Перехват негативных отзывов</span>
                                </p>
                                <div class="bp5-entity-title">
                                    <span class="bp5-icon bp5-icon-tick bp5-intent-success"></span>
                                    <span class="bp5-text-large">Уведомление в Telegram</span>
                                </div>
                            </div>
                            <div class="bp5-section-card bp5-padded">
                                <div class="bp5-entity-title">
                                    <img height=16 src="{% static 'dashboard/images/services/yandex.png' %}" width=16>
                                    <img height=16 src="{% static 'dashboard/images/services/gis.png' %}" width=16>
                                    <img height=16 src="{% static 'dashboard/images/services/google.png' %}" width=16>
                                    <img height=16 src="{% static 'dashboard/images/services/avito.png' %}" width=16>
                                    <img height=16 src="{% static 'dashboard/images/services/zoon.png' %}" width=16>
                                    <img height=16 src="{% static 'dashboard/images/services/flamp.png' %}" width=16>
                                    <img height=16 src="{% static 'dashboard/images/services/yell.png' %}" width=16>
                                    <img height=16 src="{% static 'dashboard/images/services/prodoctorov.png' %}" width=16>
                                    <img height=16 src="{% static 'dashboard/images/services/yandex_services.png' %}" width=16>
                                    <img height=16 src="{% static 'dashboard/images/services/otzovik.png' %}" width=16>
                                    <img height=16 src="{% static 'dashboard/images/services/irecommend.png' %}" width=16>
                                    <img height=16 src="{% static 'dashboard/images/services/tripadvisor.png' %}" width=16>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if request.user.profile.rate != 'REGULAR' %}
                <button class="bp5-button bp5-large" data-button-regular>Перейти на Стандарт</button>
                {% else %}
                <form action="{% url 'profile_pay' %}" method="post" novalidate>
                    {% csrf_token %}
                    <input name="rate" type="hidden" value="REGULAR">
                    <input name="period" type="hidden" value="{{ period }}">
                    <button class="bp5-button bp5-large" type="submit">Оплатить</button>
                </form>
                {% endif %}
            </div>
            <div class="xs-4">
                <div class="bp5-form-group">
                    <div class="bp5-form-content">
                        <div class="bp5-section bp5-card">
                            <div class="bp5-section-header">
                                <div class="bp5-section-header-left">
                                    <div>
                                        <h2 class="bp5-heading bp5-section-header-title">от {% if period == 'annually' %}{% money_localize request.user.profile.business_price_annually_display 'RUB' %}{% else %}{% money_localize request.user.profile.business_price_monthly_display 'RUB' %}{% endif %}</h2>
                                        <div class="bp5-text-muted bp5-section-header-sub-title">в {% if period == 'annually' %}месяц - экономия 30%{% else %}месяц{% endif %}</div>
                                    </div>
                                </div>
                                <div class="bp5-section-header-right">
                                    <span class="bp5-intent-primary bp5-large bp5-minimal bp5-tag">Бизнес</span>
                                </div>
                            </div>
                            <div class="bp5-section-card bp5-padded">
                                <p class="bp5-entity-title">
                                    <span class="bp5-icon bp5-icon-tick bp5-intent-success"></span>
                                    <span class="bp5-text-large">Множество филиалов</span>
                                </p>
                                <p class="bp5-entity-title">
                                    <span class="bp5-icon bp5-icon-tick bp5-intent-success"></span>
                                    <span class="bp5-text-large">Виджет на сайт</span>
                                </p>
                                <p class="bp5-entity-title">
                                    <span class="bp5-icon bp5-icon-tick bp5-intent-success"></span>
                                    <span class="bp5-text-large">Страница для сбора отзывов</span>
                                </p>
                                <p class="bp5-entity-title">
                                    <span class="bp5-icon bp5-icon-tick bp5-intent-success"></span>
                                    <span class="bp5-text-large">Обновление отзывов ежедневно</span>
                                </p>
                                <p class="bp5-entity-title">
                                    <span class="bp5-icon bp5-icon-tick bp5-intent-success"></span>
                                    <span class="bp5-text-large">Перехват негативных отзывов</span>
                                </p>
                                <div class="bp5-entity-title">
                                    <span class="bp5-icon bp5-icon-tick bp5-intent-success"></span>
                                    <span class="bp5-text-large">Уведомление в Telegram</span>
                                </div>
                            </div>
                            <div class="bp5-section-card bp5-padded">
                                <div class="bp5-entity-title">
                                    <img height=16 src="{% static 'dashboard/images/services/yandex.png' %}" width=16>
                                    <img height=16 src="{% static 'dashboard/images/services/gis.png' %}" width=16>
                                    <img height=16 src="{% static 'dashboard/images/services/google.png' %}" width=16>
                                    <img height=16 src="{% static 'dashboard/images/services/avito.png' %}" width=16>
                                    <img height=16 src="{% static 'dashboard/images/services/zoon.png' %}" width=16>
                                    <img height=16 src="{% static 'dashboard/images/services/flamp.png' %}" width=16>
                                    <img height=16 src="{% static 'dashboard/images/services/yell.png' %}" width=16>
                                    <img height=16 src="{% static 'dashboard/images/services/prodoctorov.png' %}" width=16>
                                    <img height=16 src="{% static 'dashboard/images/services/yandex_services.png' %}" width=16>
                                    <img height=16 src="{% static 'dashboard/images/services/otzovik.png' %}" width=16>
                                    <img height=16 src="{% static 'dashboard/images/services/irecommend.png' %}" width=16>
                                    <img height=16 src="{% static 'dashboard/images/services/tripadvisor.png' %}" width=16>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="bp5-button bp5-large" href="{% url 'profile_create_business_request' %}">Запросить</a>
            </div>
        </div>
    </div>
</div>

<!-- Переход на тариф Старт -->
<div class="bp5-overlay bp5-overlay-open bp5-overlay-scroll-container" style="display:none" data-modal_ data-modal-start>
    <div class="bp5-overlay-backdrop bp5-overlay-enter-done"></div>
    <div class="bp5-dialog-container bp5-overlay-content bp5-overlay-enter-done">
        <div class="bp5-dialog">
            <div class="bp5-dialog-header">
                <h5 class="bp5-heading">Переход на тариф — Старт</h5>
                <button class="bp5-button bp5-dialog-close-button bp5-minimal" data-button-close>
                    <span class="bp5-icon bp5-icon-cross"></span>
                </button>
            </div>
            <div class="bp5-dialog-body bp5-dialog-body-scroll-container">
                <span class="bp5-running-text bp5-text-large">Palantir Foundry radically reimagines the way enterprises interact with data by amplifying and extending the power of data integration. With Foundry, anyone can source, fuse, and transform data into any shape they desire. Business analysts become data engineers — and leaders in their organization’s data revolution.</span>
            </div>
            <div class="bp5-dialog-footer bp5-dialog-footer-fixed">
                <div class="bp5-dialog-footer-main-section"></div>
                <div class="bp5-dialog-footer-actions">
                    <form method="post" novalidate>
                        {% csrf_token %}
                        <input name="rate" type="hidden" value="START">
                        <button class="bp5-button bp5-large" type="submit">Подтвердить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Переход на тариф Стандарт -->
<div class="bp5-overlay bp5-overlay-open bp5-overlay-scroll-container" style="display:none" data-modal_ data-modal-regular>
    <div class="bp5-overlay-backdrop bp5-overlay-enter-done"></div>
    <div class="bp5-dialog-container bp5-overlay-content bp5-overlay-enter-done">
        <div class="bp5-dialog">
            <div class="bp5-dialog-header">
                <h5 class="bp5-heading">Переход на тариф — Стандарт</h5>
                <button class="bp5-button bp5-dialog-close-button bp5-minimal" data-button-close>
                    <span class="bp5-icon bp5-icon-cross"></span>
                </button>
            </div>
            <div class="bp5-dialog-body bp5-dialog-body-scroll-container">
                <span class="bp5-running-text bp5-text-large">Palantir Foundry radically reimagines the way enterprises interact with data by amplifying and extending the power of data integration. With Foundry, anyone can source, fuse, and transform data into any shape they desire. Business analysts become data engineers — and leaders in their organization’s data revolution.</span>
            </div>
            <div class="bp5-dialog-footer bp5-dialog-footer-fixed">
                <div class="bp5-dialog-footer-main-section"></div>
                <div class="bp5-dialog-footer-actions">
                    <form method="post" novalidate>
                        {% csrf_token %}
                        <input name="rate" type="hidden" value="REGULAR">
                        <button class="bp5-button bp5-large" type="submit">Подтвердить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block script %}
<script>
    $(document).ready(event => {
        $("*[data-button-start]").click(event => $("*[data-modal-start]").show());
        $("*[data-button-regular]").click(event => $("*[data-modal-regular]").show());
        $("*[data-button-close]").click(event => $("*[data-modal-start], *[data-modal-regular]").hide());
        $("*[data-modal-start], *[data-modal-regular]").find(".bp5-overlay-backdrop").click(event => $("*[data-modal-start], *[data-modal-regular]").hide());
    });
</script>
{% endblock %}
