{% extends "dashboard/base.html" %}
{% load static %}
{% block content %}
<h2 class="bp5-heading">Профиль</h2>
{% include "dashboard/_user_tabs.html" %}
<div class="row">
    <div class="xs-6">
        <form method="post" novalidate>
            {% csrf_token %}
            <div class="bp5-form-group">
                <label class="bp5-label" for="id_default_timezone">Часовой пояс</label>
                <div class="bp5-form-content">
                    <div class="bp5-fill bp5-html-select bp5-large">
                        {{form.default_timezone}}
                        <span class="bp5-icon bp5-icon-chevron-down bp5-icon-standard"></span>
                    </div>
                </div>
            </div>
            <div class="bp5-form-group">
                <label class="bp5-label" for="id_telegram_id">ID профиля Телеграм</label>
                <div class="bp5-form-content">
                    <div class="bp5-input-group">
                        <input class="bp5-input bp5-large" disabled id="id_telegram_id" type="text" value="{% if user.profile.telegram_id %}{{ user.profile.telegram_id }}{% endif %}">
                    </div>
                </div>
            </div>
            <div class="bp5-form-group">
                <div class="bp5-form-content">
                    <button class="bp5-button bp5-large" type="submit">Сохранить</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
