{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<h2 class="bp5-heading">Тариф</h2>
<div class="bp5-form-group">
    <div class="bp5-form-content">
        <div class="bp5-button-group bp5-minimal">
            <a class="bp5-button bp5-active" href="#">Ежемесячно</a>
            <a class="bp5-button" href="#">Ежегодно</a>
        </div>
    </div>
</div>
<div class="bp5-form-group">
    <div class="bp5-form-content">
        <div class="row">
            <div class="xs-4">
                <div class="bp5-section bp5-card bp5-elevation-0">
                    <div class="bp5-section-header">
                        <div class="bp5-section-header-left">
                            <div>

                            <h2 class="bp5-heading bp5-section-header-title">250 ₽</h2>
                                <div class="bp5-text-muted bp5-section-header-sub-title">оплата за 1 месяц</div>
                            </div>
                        </div>
                        <div class="bp5-section-header-right">

                        <span class="bp5-tag bp5-minimal bp5-large">Старт</span>
                        </div>
                    </div>
                    <div class="bp5-section-card bp5-padded">
                    компания с 1 филиалом
                    </div>
                    <div class="bp5-section-card bp5-padded">
                    только всплывающий виджет
                    </div>
                    <div class="bp5-section-card bp5-padded">
                    стандартная страница для сбора отзывов
                    </div>
                    <div class="bp5-section-card bp5-padded">
                    обновление отзывов ежедневно
                    </div>
                    <div class="bp5-section-card bp5-padded">
                    перехват негативных отзывов
                    </div>
                    <div class="bp5-section-card bp5-padded">
                    уведомление о новых отзывах в Telegram
                    </div>
                </div>
            </div>
            <div class="xs-4">
                <div class="bp5-section bp5-card bp5-elevation-0">
                    <div class="bp5-section-header">
                        <div class="bp5-section-header-left">
                            <div>

                            <h2 class="bp5-heading bp5-section-header-title">500 ₽</h2>
                                <div class="bp5-text-muted bp5-section-header-sub-title">оплата за 1 месяц</div>
                            </div>
                        </div>
                        <div class="bp5-section-header-right">

                        <span class="bp5-tag bp5-minimal bp5-large">Стандарт</span>
                        </div>
                    </div>
                    <div class="bp5-section-card bp5-padded">
                    компания с 1 филиалом
                    </div>
                    <div class="bp5-section-card bp5-padded">
                    только всплывающий виджет
                    </div>
                    <div class="bp5-section-card bp5-padded">
                    стандартная страница для сбора отзывов
                    </div>
                    <div class="bp5-section-card bp5-padded">
                    обновление отзывов ежедневно
                    </div>
                    <div class="bp5-section-card bp5-padded">
                    перехват негативных отзывов
                    </div>
                    <div class="bp5-section-card bp5-padded">
                    уведомление о новых отзывах в Telegram
                    </div>
                </div>

            </div>
            <div class="xs-4">
                <div class="bp5-section bp5-card bp5-elevation-0">
                    <div class="bp5-section-header">
                        <div class="bp5-section-header-left">
                            <div>

                            <h2 class="bp5-heading bp5-section-header-title">от 1500 ₽</h2>
                                <div class="bp5-text-muted bp5-section-header-sub-title">оплата за 1 месяц</div>
                            </div>
                        </div>
                        <div class="bp5-section-header-right">

                        <span class="bp5-tag bp5-minimal bp5-large">Бизнес</span>
                        </div>
                    </div>
                    <div class="bp5-section-card bp5-padded">
                    компания с 1 филиалом
                    </div>
                    <div class="bp5-section-card bp5-padded">
                    только всплывающий виджет
                    </div>
                    <div class="bp5-section-card bp5-padded">
                    стандартная страница для сбора отзывов
                    </div>
                    <div class="bp5-section-card bp5-padded">
                    обновление отзывов ежедневно
                    </div>
                    <div class="bp5-section-card bp5-padded">
                    перехват негативных отзывов
                    </div>
                    <div class="bp5-section-card bp5-padded">
                    уведомление о новых отзывах в Telegram
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}