{% extends "dashboard/base.html" %}
{% load static %}
{% block content %}
{% include "dashboard/_settings_tabs.html" %}
<div class="bp5-form-group">
    <div class="bp5-control-group">
        <button class="bp5-button bp5-intent-warning" form="PROFILE_FORM" type="submit">Сохранить</button>
        {% if request.user.profile.telegram_id %}
        <a class="bp5-button bp5-intent-warning" href="{% url 'telegram_notify_unsubscribe' %}?next={{request.path}}">Отписаться от оповещений</a>
        {% else %}
        <a class="bp5-button bp5-intent-warning" href="http://t.me/portrate_notify_bot?start={{user.profile.api_secret}}" target="_blank">Подписаться на оповещения</a>
        {% endif %}
    </div>
</div>
<!-- @TODO: inline style -->
<div style="display:grid;grid-template-columns:repeat(12,minmax(0,1fr));gap:15px">
    <!-- @TODO: inline style -->
    <div style="grid-column: span 9 / span 9;">
        <form id="PROFILE_FORM" method="post" novalidate>
            {% csrf_token %}
            <div class="bp5-form-group">
                <div class="bp5-card bp5-section">
                    <div class="bp5-section-header">
                        <div class="bp5-section-header-left">
                            <h6 class="bp5-heading bp5-section-header-title">
                                Оповещения
                            </h6>
                        </div>
                        <div class="bp5-section-header-right">
                            <span class="bp5-icon bp5-icon-issue bp5-text-muted"></span>
                        </div>
                    </div>
                    <div class="bp5-section-card">
                        <div class="bp5-card-list bp5-card">
                            <div class="bp5-card bp5-control-card bp5-interactive bp5-switch-control-card">
                                <label class="bp5-align-right bp5-control bp5-inline bp5-switch">
                                    {{form.can_notify_negative_portrate}}
                                    <span class="bp5-control-indicator"></span>
                                    <div class="bp5-control-card-label">
                                        <!-- Исключение для css (отсутп) -->
                                        <img alt="Портрет" class="bp5-icon" height=16 src="{% static 'images/dashboard/logo.png' %}" style="margin-right:5px;" width=16>
                                        Оповещения о негативных сообщениях в Портрет
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="bp5-section-card">
                        <div class="bp5-card-list bp5-card">
                            <div class="bp5-card bp5-control-card bp5-interactive bp5-switch-control-card">
                                <label class="bp5-align-right bp5-control bp5-inline bp5-switch">
                                    {{form.can_notify_negative_yandex}}
                                    <span class="bp5-control-indicator"></span>
                                    <div class="bp5-control-card-label">
                                        <!-- Исключение для css (отсутп) -->
                                        <img alt="Яндекс" class="bp5-icon" height=16 src="{% static 'images/services/yandex.svg' %}" style="margin-right:5px;" width=16>
                                        Оповещения о негативных отзывах в Яндекс
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="bp5-section-card">
                        <div class="bp5-card-list bp5-card">
                            <div class="bp5-card bp5-control-card bp5-interactive bp5-switch-control-card">
                                <label class="bp5-align-right bp5-control bp5-inline bp5-switch">
                                    {{form.can_notify_negative_gis}}
                                    <span class="bp5-control-indicator"></span>
                                    <div class="bp5-control-card-label">
                                        <!-- Исключение для css (отсутп) -->
                                        <img alt="2Гис" class="bp5-icon" height=16 src="{% static 'images/services/gis.svg' %}" style="margin-right:5px;" width=16>
                                        Оповещения о негативных отзывах в 2Гис
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="bp5-section-card">
                        <div class="bp5-card-list bp5-card">
                            <div class="bp5-card bp5-control-card bp5-interactive bp5-switch-control-card">
                                <label class="bp5-align-right bp5-control bp5-inline bp5-switch">
                                    {{form.can_notify_negative_google}}
                                    <span class="bp5-control-indicator"></span>
                                    <div class="bp5-control-card-label">
                                        <!-- Исключение для css (отсутп) -->
                                        <img alt="Google" class="bp5-icon" height=16 src="{% static 'images/services/google.svg' %}" style="margin-right:5px;" width=16>
                                        Оповещения о негативных отзывах в Google
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bp5-card bp5-section">
                <div class="bp5-section-header">
                    <div class="bp5-section-header-left">
                        <h6 class="bp5-heading bp5-section-header-title">
                            Время
                        </h6>
                    </div>
                    <div class="bp5-section-header-right">
                        <span class="bp5-icon bp5-icon-time bp5-text-muted"></span>
                    </div>
                </div>
                <div class="bp5-padded bp5-section-card">
                    <div class="bp5-form-group">
                        <label class="bp5-label">Часовой пояс</label>
                        <div class="bp5-html-select">
                            {{form.default_timezone}}
                            <span class="bp5-icon bp5-icon-double-caret-vertical"></span>
                        </div>
                    </div>
                    <div class="bp5-form-group">
                        <label class="bp5-label">Допустимое время оповещения</label>
                        <!-- @TODO: inline style -->
                        <div style="align-items:center;display:flex;gap:5px;">
                            {{form.can_notify_at_start}} - {{form.can_notify_at_end}}
                        </div>
                        {% if form.can_notify_at_start.errors %}
                        <!-- @TODO: inline style -->
                        <div class="bp5-form-helper-text" style="color:#ac2f33">Время рассылки обязательно</div>
                        {% elif form.can_notify_at_end.errors %}
                        <!-- @TODO: inline style -->
                        <div class="bp5-form-helper-text" style="color:#ac2f33">Время рассылки обязательно</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}