{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
<!--  Название  -->
{% include 'dashboard/_company_head.html' %}

<div class="grid gap-4">
    <!--  Табы  -->
    {% include 'dashboard/_company_tabs.html' %}

    <!-- Тулбар -->
    <div class="flex gap-2">
        <button type="button" class="bp5-button bp5-intent-warning">
            <span class="bp5-button-text">Скачать макет QR кода</span>
            <span aria-hidden="true" class="bp5-icon bp5-icon-code"></span>
        </button>
    </div>

    <div class="grid grid-cols-12 gap-2">
        <!-- Настройки -->
        <div class="col-span-9">
            <div class="bp5-section bp5-card bp5-elevation-2 col-span-4">
                <div class="bp5-section-card bp5-padded"></div>
            </div>
        </div>
        <!-- Меню -->
        <div class="col-span-3">
            <ul class="bp5-menu bp5-elevation-1 bg-[rgba(143,153,168,.15)]">
                <li class="bp5-menu-header">
                    <h6 class="bp5-heading">Вариант</h6>
                </li>
                <a class="bp5-menu-item {% if not dark %}bp5-active{% endif %}" href="{% url 'qr' company.id %}">
                    <div class="bp5-fill">Светлый</div>
                    <span class="bp5-icon bp5-icon-flash bp5-submenu-icon"></span>
                </a>
                <a class="bp5-menu-item {% if dark %}bp5-active{% endif %}" href="{% url 'qr' company.id %}?dark=True">
                    <div class="bp5-fill">Темный</div>
                    <span class="bp5-icon bp5-icon-moon bp5-submenu-icon"></span>
                </a>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
