{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
<!--  Название  -->
{% include 'dashboard/_company_head.html' %}

<div class="grid gap-4">
    <!--  Табы  -->
    {% include 'dashboard/_company_tabs.html' %}

    <!-- Тулбар -->
    <div class="flex gap-2">
        <button type="button" class="bp5-button bp5-intent-warning">
            <span class="bp5-button-text">Создать QR код</span>
            <span aria-hidden="true" class="bp5-icon bp5-icon-link"></span>
        </button>
        <div class="bp5-divider"></div>
        <button type="button" class="bp5-button bp5-intent-warning">Настройки</button>
    </div>
</div>
{% endblock %}
