{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
{% include 'dashboard/_company_head.html' %}
{% include 'dashboard/_company_tabs.html' %}
<div class="bp5-form-group">
    <div class="bp5-button-group">
        <button type="button" class="bp5-button bp5-intent-warning">Скопировать код виджета</button>
    </div>
</div>
<div style="display:grid;grid-template-columns:repeat(12,minmax(0,1fr));gap:15px">
    <div style="grid-column: span 9 / span 9;">
        <div class="bp5-card bp5-elevation-2 bp5-section">
            <img style="width:100%" src="{% static 'frame.svg' %}">
        </div>
    </div>
    <div style="grid-column: span 3 / span 3;">
        <ul class="bp5-menu bp5-elevation-2">
            <li class="bp5-menu-header">
                <h6 class="bp5-heading">Вариант</h6>
            </li>
            <a class="bp5-menu-item {% if theme == 'light' %}bp5-active{% endif %}" href="{% url 'rate_widget' company.id %}?theme=light&position={{position}}">
                <div class="bp5-fill">Светлый</div>
                <span class="bp5-icon bp5-icon-flash bp5-submenu-icon"></span>
            </a>
            <a class="bp5-menu-item {% if theme == 'dark' %}bp5-active{% endif %}" href="{% url 'rate_widget' company.id %}?theme=dark&position={{position}}">
                <div class="bp5-fill">Темный</div>
                <span class="bp5-icon bp5-icon-moon bp5-submenu-icon"></span>
            </a>
            <li class="bp5-menu-header">
                <h6 class="bp5-heading">Расположение</h6>
            </li>
            <a class="bp5-menu-item {% if position == 'lb' %}bp5-active{% endif %}" href="{% url 'rate_widget' company.id %}?theme={{theme}}&position=lb">
                <div class="bp5-fill">Слева снизу</div>
                <span class="bp5-icon bp5-icon-arrow-bottom-left bp5-submenu-icon"></span>
            </a>
            <a class="bp5-menu-item {% if position == 'lt' %}bp5-active{% endif %}" href="{% url 'rate_widget' company.id %}?theme={{theme}}&position=lt">
                <div class="bp5-fill">Слева сверху</div>
                <span class="bp5-icon bp5-icon-arrow-top-left bp5-submenu-icon"></span>
            </a>
            <a class="bp5-menu-item {% if position == 'rt' %}bp5-active{% endif %}" href="{% url 'rate_widget' company.id %}?theme={{theme}}&position=rt">
                <div class="bp5-fill">Справа сверху</div>
                <span class="bp5-icon bp5-icon-arrow-top-right bp5-submenu-icon"></span>
            </a>
            <a class="bp5-menu-item {% if position == 'rb' %}bp5-active{% endif %}" href="{% url 'rate_widget' company.id %}?theme={{theme}}&position=rb">
                <div class="bp5-fill">Справа снизу</div>
                <span class="bp5-icon bp5-icon-arrow-bottom-right bp5-submenu-icon"></span>
            </a>
        </ul>
    </div>
</div>
{% endblock %}