{% extends 'dashboard/base.html' %}
{% load static %}
{% load extensions %}

{% block content %}
<!--  Название  -->
{% include 'dashboard/_company_head.html' %}

<div class="grid gap-4">
    <!--  Табы  -->
    {% include 'dashboard/_company_tabs.html' %}

    <!-- Тулбар -->
    <div class="flex gap-2">
        <input class="bp5-input w-36" type="date"/>
        <div class="flex items-center">—</div>
        <input class="bp5-input w-36" type="date"/>
        <div class="bp5-divider"></div>
        <input class="bp5-input"/>
        <button type="button" class="bp5-button bp5-intent-warning">Найти</button>
        <div class="bp5-divider"></div>
        <a class="bp5-button" href="{{company.host}}/@{{company.id}}" target="_blank">
            <span class="bp5-button-text">Форма запроса отзыва</span>
            <span aria-hidden="true" class="bp5-icon bp5-icon-share"></span>
        </a>
    </div>

    <!-- Негативные сообщения -->
    <div class="grid gap-2">
        {% for review in review_list %}
        <div class="bp5-section bp5-card bp5-elevation-2">
            <div class="bp5-section-header">
                <div class="bp5-section-header-left">
                    {% if review.avatar_url %}
                    <img class="h-8 rounded w-8 bp5-elevation-1" src="{{ review.avatar_url }}" alt="{{ review.name }}">
                    {% endif %}
                    <div>
                        <h6 class="bp5-heading bp5-section-header-title">
                            {{review.name}}
                        </h6>
                        <div class="bp5-section-header-sub-title">
                            {% with ''|center:review.rate as range %}
                            {% for _ in range %}
                            <span aria-hidden="true" class="bp5-icon bp5-icon-star text-[#F0B726]"></span>
                            {% endfor %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
                <div class="bp5-section-header-right">
                    <span class="bp5-text-muted ">{{review.created_at}}</span>
                    {% if review.service == 'YANDEX' %}
                    <img class="h-4 w-4" src="{% static 'yandex.svg' %}" alt="Google">
                    {% endif %}
                    {% if review.service == 'GIS' %}
                    <img class="h-4 w-4" src="{% static 'gis.svg' %}" alt="Google">
                    {% endif %}
                    {% if review.service == 'GOOGLE' %}
                    <img class="h-4 w-4" src="{% static 'google.svg' %}" alt="Google">
                    {% endif %}
                </div>
            </div>
            <div class="bp5-section-card bp5-padded">
                {{ review.text }}
            </div>
            {% if review.answer %}
            <div class="bp5-section-card bp5-padded">
                {{ review.answer }}
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>

    <!-- Пагинация -->
    <div class="flex items-center justify-between">
        {% if page_obj.has_previous %}    
        <a class="bp5-button" href="?page={{page_obj.previous_page_number}}">
            <span aria-hidden="true" class="bp5-icon bp5-icon-arrow-left"></span>
            <span class="bp5-button-text">Назад</span>
        </a>
        {% else %}
        <button class="bp5-button bp5-disabled">
            <span aria-hidden="true" class="bp5-icon bp5-icon-arrow-left"></span>
            <span class="bp5-button-text">Назад</span>
        </button>
        {% endif %}
        {% if is_paginated %}
        <span>Страниц {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</span>
        {% else %}
        <span>1 страница</span>
        {% endif %}
        {% if page_obj.has_next %}    
        <a class="bp5-button" href="?page={{page_obj.next_page_number}}">
            <span class="bp5-button-text">Вперед</span>
            <span aria-hidden="true" class="bp5-icon bp5-icon-arrow-right"></span>    
        </a>
        {% else %}
        <button class="bp5-button bp5-disabled">
            <span class="bp5-button-text">Вперед</span>
            <span aria-hidden="true" class="bp5-icon bp5-icon-arrow-right"></span>    
        </button>
        {% endif %}
    </div>
</div>
{% endblock %}
