{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
{% include 'dashboard/_company_head.html' %}
{% include 'dashboard/_company_tabs.html' %}
<div class="bp5-form-group">
    <form>
        <div style="align-items:center;display:flex;gap:5px;">
            {{ filter.form.created_at }}
            <div class="bp5-html-select ">
                {{ filter.form.service }}
                <span class="bp5-icon bp5-icon-double-caret-vertical"></span>
            </div>
            <button class="bp5-button bp5-intent-warning" type="submit">Найти</button>
        </div>
    </form>
</div>
{% if review_list %}
{% for review in review_list %}
<div class="bp5-form-group">
    <div class="bp5-section bp5-card bp5-elevation-1">
        <div class="bp5-section-header">
            <div class="bp5-section-header-left">
                <div>
                    <h6 class="bp5-heading bp5-section-header-title {% if review.is_hidden %}bp5-text-muted{% endif %}">
                        {{review.name}}
                    </h6>
                    <div class="bp5-section-header-sub-title">
                        <img style="height:10px;width:70px;" src="{% static review.stars_svg %}" alt="*">
                    </div>
                </div>
            </div>
            <div class="bp5-section-header-right">
                <span class="bp5-text-muted bp5-text-small">{{review.created_at}}</span>
                {% if review.service == 'YANDEX' %}
                <img style="width:16px;" src="{% static 'images/services/yandex.svg' %}" alt="Яндекс">
                {% endif %}
                {% if review.service == 'GIS' %}
                <img style="width:16px;" src="{% static 'images/services/gis.svg' %}" alt="2Гис">
                {% endif %}
                {% if review.service == 'GOOGLE' %}
                <img style="width:16px;" src="{% static 'images/services/google.svg' %}" alt="Google">
                {% endif %}
                <form action="{% url 'review_update' company.id review.id %}" method="post">
                {% csrf_token %}
                    {% if review.is_hidden %}
                    <button type="submit" class="bp5-button"><span class="bp5-icon bp5-icon-eye-open"></span></button>
                    {% else %}
                    <input name="is_hidden" type="hidden" value="true">
                    <button class="bp5-button" type="submit"><span class="bp5-icon bp5-icon-eye-off"></span></button>
                    {% endif %}
                </form>
            </div>
        </div>
        <div class="bp5-padded bp5-section-card">
            <span class="{% if review.is_hidden %}bp5-text-muted{% endif %}" style="white-space: pre-wrap;">{{ review.text }}</span>
        </div>
    </div>
</div>
{% endfor %}
{% include 'dashboard/_pagination.html' %}
{% else %}
<div class="bp5-form-group">
    <div class="bp5-non-ideal-state">
        <div class="bp5-non-ideal-state-visual" style="font-size: 48px; line-height: 48px;">
            <span class="bp5-icon bp5-icon-muted bp5-icon-comment"></span>
        </div>
        <div class="bp5-non-ideal-state-text">
            <h3 class="bp5-heading">
                Отзывы
            </h3>
            <div>
                Ни одного отзыва не найдено.
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}