{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
{% include "dashboard/_settings_tabs.html" %}
<div class="bp5-form-group">
    <div class="bp5-control-group">
        <button class="bp5-button bp5-intent-warning" form="SECURITY_FORM" type="submit">Сохранить</button>
    </div>
</div>
<form id="SECURITY_FORM" method="post" novalidate>
    {% csrf_token %}
    <div class="bp5-form-group">
        <div class="bp5-card bp5-elevation-1 bp5-section">
            <div class="bp5-section-header">
                <div class="bp5-section-header-left">
                    <div>
                        <h6 class="bp5-heading bp5-section-header-title">Безопасность</h6>
                        <div class="bp5-section-header-sub-title bp5-text-muted">
                            настройки пароля пользователя
                        </div>
                    </div>
                </div>
            </div>
            <div class="bp5-padded bp5-section-card">
                <div class="bp5-form-group">
                    <label class="bp5-label">Пароль</label>
                    {{form.new_password1}}
                    <!-- Исключение для css (цвет текста) -->
                    <div class="bp5-form-helper-text" style="color:#ac2f33">
                        {{form.new_password1.errors.as_text}}
                    </div>
                </div>
                <div class="bp5-form-group">
                    <label class="bp5-label">Подтверждение пароля</label>
                    {{form.new_password2}}
                    <!-- Исключение для css (цвет текста) -->
                    <div class="bp5-form-helper-text" style="color:#ac2f33">
                        {{form.new_password2.errors.as_text}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
{% block right %}
{% endblock %}
