{% extends "dashboard/base.html" %}
{% load static %}
{% block content %}
{{ env }}
<h2 class="bp5-heading">Вход</h2>
<form method="post" novalidate>
    <div class="row">
        <div class="xs-6">
            {% csrf_token %}
            <div class="bp5-form-group {% if form.username.errors %}bp5-intent-danger{% endif %}">
                <div class="bp5-form-content">
                    <label class="bp5-label" for="id_username">Имя пользователя *</label>
                    <div class="bp5-input-group {% if form.username.errors %}bp5-intent-danger{% endif %}">
                        {{ form.username }}
                    </div>
                    {% if form.username.errors %}
                    <div class="bp5-form-helper-text">
                        {{ form.username.errors.as_text }}
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="bp5-form-group {% if form.password.errors %}bp5-intent-danger{% endif %}">
                <div class="bp5-form-content">
                    <label class="bp5-label" for="id_password">Пароль *</label>
                    <div class="bp5-input-group {% if form.password.errors %}bp5-intent-danger{% endif %}">
                        {{ form.password }}
                    </div>
                    {% if form.password.errors %}
                    <div class="bp5-form-helper-text">
                        {{ form.password.errors.as_text }}
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="bp5-form-group">
                <div class="bp5-form-content">
                    <button class="bp5-button bp5-large" type="submit">Войти</button>
                    <a class="bp5-button bp5-large bp5-minimal" href="{% url 'user_create' %}">Зарегистрироваться</a>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
