{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<h2 class="bp5-heading">Регистрация</h2>
<form method="post" novalidate>
    <div class="row">
        <div class="xs-6">
            {% csrf_token %}
            <div class="bp5-form-group {% if form.username.errors %}bp5-intent-danger{% endif %}">
                <label class="bp5-label" for="id_username">Имя пользователя *</label>
                <div class="bp5-form-content">
                    <div class="bp5-input-group {% if form.username.errors %}bp5-intent-danger{% endif %}">
                        {{ form.username }}
                    </div>
                    <div class="bp5-form-helper-text">
                        {% if form.username.errors %}{{ form.username.errors.as_text }}{% else %}Не более 150 символов. Только буквы, цифры и знаки @/./+/-/_{% endif %}
                    </div>
                </div>
            </div>
            <div class="bp5-form-group {% if form.password1.errors %}bp5-intent-danger{% endif %}">
                <label class="bp5-label">Пароль *</label>
                <div class="bp5-form-content">
                    <div class="bp5-input-group {% if form.password1.errors %}bp5-intent-danger{% endif %}">
                        {{ form.password1 }}
                    </div>
                    {% if form.password1.errors %}
                    <div class="bp5-form-helper-text">
                        {{ form.password1.errors.as_text }}
                    </div>
                    {% else %}
                    <div class="bp5-form-helper-text">
                        Пароль не может состоять только из цифр и должен содержать как минимум 8 символов
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="bp5-form-group {% if form.password2.errors %}bp5-intent-danger{% endif %}">
                <label class="bp5-label">Подтверждение пароля *</label>
                <div class="bp5-input-group {% if form.password2.errors %}bp5-intent-danger{% endif %}">
                    {{ form.password2 }}
                </div>
                {% if form.password2.errors %}
                <div class="bp5-form-helper-text">
                    {{ form.password2.errors.as_text }}
                </div>
                {% endif %}
            </div>
            <div class="bp5-form-group">
                <div class="bp5-form-content">
                    <button class="bp5-button bp5-large" type="submit">Зарегистрироваться</button>
                    <a class="bp5-button bp5-large bp5-minimal" href="{% url 'user_login' %}">Войти</a>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
