{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
{% include 'dashboard/_company_head.html' %}
{% include 'dashboard/_company_tabs.html' %}
<div class="bp5-form-group">
    <div style="display:flex;gap:5px;">
        <button id="COPY_CODE_BUTTON" type="button" class="bp5-button bp5-intent-warning">Скопировать код виджета</button>
    </div>
</div>
<div style="display:grid;grid-template-columns:repeat(12,minmax(0,1fr));gap:15px">
    <div style="grid-column:span 9 / span 9;">
        <!-- Исключение для css -->
        <div class="bp5-form-group" style="position:relative;">
            <img class="bp5-elevation-1" height=358 style="border-radius:2px;" src="{% static 'images/dashboard/frame.svg' %}" width=596>
            <!-- Исключение для css -->
            <img class="bp5-elevation-3" style="border-radius:10px;left:15px;position:absolute;top:35px;" {% if theme == 'l' %}src="{% static 'images/dashboard/widget_reviews_slider_light.svg' %}"{% else %}src="{% static 'images/dashboard/widget_reviews_slider_dark.svg' %}"{% endif %} width=95%>
        </div>
        <div class="bp5-form-group" style="margin-bottom:0;">
            <label class="bp5-label">Код виджета</label>
            <textarea readonly class="bp5-input bp5-fill bp5-monospace-text" id="CODE_INPUT" type="text"><script src="https://geo.portrate.io/widget/reviews/{{company.api_secret}}.js?theme={{theme}}&layout={{layout}}" data-{{company.api_secret}}></script></textarea>
        </div>
    </div>
    <div style="grid-column:span 3 / span 3;">
        <ul class="bp5-menu bp5-elevation-1">
            <li class="bp5-menu-header">
                <h6 class="bp5-heading">
                    Тема
                </h6>
            </li>
            <a class="bp5-menu-item {% if theme == 'l' %}bp5-active{% endif %}" href="{% url 'widget_reviews' company.id %}?theme=l&layout={{layout}}">
                <div class="bp5-fill">
                    Светлая
                </div>
                <span class="bp5-icon bp5-icon-flash bp5-submenu-icon"></span>
            </a>
            <a class="bp5-menu-item {% if theme == 'd' %}bp5-active{% endif %}" href="{% url 'widget_reviews' company.id %}?theme=d&layout={{layout}}">
                <div class="bp5-fill">
                    Темная
                </div>
                <span class="bp5-icon bp5-icon-moon bp5-submenu-icon"></span>
            </a>
        </ul>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    $("#COPY_CODE_BUTTON").click((event) => {
        $("#CODE_INPUT").select();
        document.execCommand("copy");
    });
</script>
{% endblock %}
