{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
{% include 'dashboard/_company_head.html' %}
{% include 'dashboard/_company_tabs.html' %}
<div class="bp5-form-group">
    <div class="bp5-button-group">
        <button id="COPY_CODE_BUTTON" type="button" class="bp5-button bp5-intent-warning">Скопировать код виджета</button>
    </div>
</div>
<div style="display:grid;grid-template-columns:repeat(12,minmax(0,1fr));gap:15px">
    <div style="grid-column: span 9 / span 9;">
        <div class="bp5-form-group">
            <div class="bp5-card bp5-elevation-1 bp5-section" style="position:relative;">
                <img style="{% if position == 'lb' or position == 'lt' %}left:0px;{% elif position == 'rt' or position == 'rb' %}right:0px;{% endif %}position:absolute;{% if position == 'lb' or position == 'rb' %}bottom:0px;{% elif position == 'lt' or position == 'rt' %}top:25px;{% endif %}" {% if theme == 'l' %}src="{% static 'images/dashboard/widget_rating_light.svg' %}"{% else %}src="{% static 'images/dashboard/widget_rating_dark.svg' %}"{% endif %}>
                <img style="width:100%" src="{% static 'images/dashboard/frame.svg' %}">
            </div>
        </div>
        <div class="bp5-form-group" style="margin-bottom:0;">
            <label class="bp5-label">Код виджета</label>
            <textarea class="bp5-input bp5-fill" id="CODE_INPUT" type="text"><script src="https://geo.portrate.io/widget/{{company.api_secret}}/rate.js?theme={{theme}}&position={{position}}" id="PIO_widget_rating_SCRIPT"></script></textarea>
        </div>
    </div>
    <div style="grid-column: span 3 / span 3;">
        <ul class="bp5-menu bp5-elevation-1">
            <li class="bp5-menu-header">
                <h6 class="bp5-heading">Тема</h6>
            </li>
            <a class="bp5-menu-item {% if theme == 'l' %}bp5-active{% endif %}" href="{% url 'widget_rating' company.id %}?theme=l&position={{position}}">
                <div class="bp5-fill">Светлая</div>
                <span class="bp5-icon bp5-icon-flash bp5-submenu-icon"></span>
            </a>
            <a class="bp5-menu-item {% if theme == 'd' %}bp5-active{% endif %}" href="{% url 'widget_rating' company.id %}?theme=d&position={{position}}">
                <div class="bp5-fill">Темная</div>
                <span class="bp5-icon bp5-icon-moon bp5-submenu-icon"></span>
            </a>
            <li class="bp5-menu-header">
                <h6 class="bp5-heading">Расположение</h6>
            </li>
            <a class="bp5-menu-item {% if position == 'lb' %}bp5-active{% endif %}" href="{% url 'widget_rating' company.id %}?theme={{theme}}&position=lb">
                <div class="bp5-fill">Слева снизу</div>
                <span class="bp5-icon bp5-icon-arrow-bottom-left bp5-submenu-icon"></span>
            </a>
            <a class="bp5-menu-item {% if position == 'lt' %}bp5-active{% endif %}" href="{% url 'widget_rating' company.id %}?theme={{theme}}&position=lt">
                <div class="bp5-fill">Слева сверху</div>
                <span class="bp5-icon bp5-icon-arrow-top-left bp5-submenu-icon"></span>
            </a>
            <a class="bp5-menu-item {% if position == 'rt' %}bp5-active{% endif %}" href="{% url 'widget_rating' company.id %}?theme={{theme}}&position=rt">
                <div class="bp5-fill">Справа сверху</div>
                <span class="bp5-icon bp5-icon-arrow-top-right bp5-submenu-icon"></span>
            </a>
            <a class="bp5-menu-item {% if position == 'rb' %}bp5-active{% endif %}" href="{% url 'widget_rating' company.id %}?theme={{theme}}&position=rb">
                <div class="bp5-fill">Справа снизу</div>
                <span class="bp5-icon bp5-icon-arrow-bottom-right bp5-submenu-icon"></span>
            </a>
        </ul>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    $("#COPY_CODE_BUTTON").click((event) => {
        $("#CODE_INPUT").select();
        document.execCommand("copy");
    });
</script>
{% endblock %}
