{% extends "dashboard/app.html" %}
{% load static %}
{% block content %}
{% include "dashboard/_company_head.html" %}
{% include "dashboard/_company_tabs.html" %}
<!-- @TODO: inline style -->
<div style="display:grid;grid-template-columns:repeat(12,minmax(0,1fr));gap:15px">
    <!-- @TODO: inline style -->
    <div style="grid-column:span 9 / span 9;">
        <!-- @TODO: inline style -->
        <div class="bp5-form-group" style="position:relative;">
            <img height=358 src="{% static 'images/dashboard/frame.svg' %}" width=596>
            <!-- @TODO: inline style -->
            <img style="left:8px;position:absolute;bottom:8px;width:580px;" {% if theme == "l" %}src="{% static 'images/dashboard/widget_reviews_slider_light.jpg' %}"{% else %}src="{% static 'images/dashboard/widget_reviews_slider_dark.jpg' %}"{% endif %} >
        </div>
        <div class="bp5-form-group">
            <!-- @TODO: inline style -->
            <div class="bp5-form-group" style="margin-bottom:0;">
                <label class="bp5-label">Код виджета</label>
                <textarea class="bp5-input bp5-fill bp5-monospace-text" data-code-textarea readonly type="text"><script src="https://geo.portrate.io/widget/reviews/{{company.api_secret}}.js?theme={{theme}}&layout={{layout}}" data-{{company.api_secret}}></script></textarea>
            </div>
        </div>
    </div>
    <!-- @TODO: inline style -->
    <div style="grid-column:span 3 / span 3;">
        <ul class="bp5-menu">
            <li class="bp5-menu-header">
                <h6 class="bp5-heading">
                    Тема
                </h6>
            </li>
            <a class="bp5-menu-item {% if theme == 'l' %}bp5-active{% endif %}" href="{% url 'widget_reviews' company.id %}?theme=l&layout={{layout}}">
                <div class="bp5-fill">
                    Светлая
                </div>
                <span class="bp5-icon bp5-icon-flash bp5-submenu-icon"></span>
            </a>
            <a class="bp5-menu-item {% if theme == 'd' %}bp5-active{% endif %}" href="{% url 'widget_reviews' company.id %}?theme=d&layout={{layout}}">
                <div class="bp5-fill">
                    Темная
                </div>
                <span class="bp5-icon bp5-icon-moon bp5-submenu-icon"></span>
            </a>
        </ul>
    </div>
</div>
<button class="bp5-button bp5-intent-warning" data-code-button type="button">Скопировать код виджета</button>
{% endblock %}
{% block script %}
<script>
$(document).ready(event => {
    $("button[data-code-button]").click((event) => {
        $("textarea[data-code-textarea]").select();
        document.execCommand("copy");
    });
});
</script>
{% endblock %}
