{% extends 'resources/base.html' %}
{% load static %}

{% block content %}
    <!-- Логотип -->
    {% if website.logo.file %}
        <img class="h-16 overflow-hidden rounded-lg w-16" src="{{ website.logo.file.url }}" alt="{{ website.name }}">
    {% endif %}

    <!-- Заголовок -->
    <div class="flex flex-col gap-2">
        <h1 class="font-bold text-neutral-800 text-2xl">{{ website.name }}</h1>
        <div class="text-xs text-neutral-600">{{ website.specialization }}</div>
    </div>

    <!-- Быстрые кнопки -->
    <div class="flex gap-1">
        <a class="bg-white hover:bg-white/80 flex flex-col items-center px-2 py-1 rounded-lg" href="#">
            <div class="material-symbols-outlined text-blue-500 text-[1.2rem]">arrow_outward</div>
            <div class="text-xs text-blue-500">Вебсайт</div>
        </a>
        <a class="bg-white hover:bg-white/80 flex flex-col items-center px-2 py-1 rounded-lg" href="#">
            <div class="material-symbols-outlined text-blue-500 text-[1.2rem]">call</div>
            <div class="text-xs text-blue-500">Позвонить</div>
        </a>
        <a class="bg-white hover:bg-white/80 flex flex-col items-center px-2 py-1 rounded-lg" href="#">
            <div class="material-symbols-outlined text-blue-500 text-[1.2rem]">drafts</div>
            <div class="text-xs text-blue-500">Написать</div>
        </a>
    </div>

    <!-- График работы -->
    <div class="flex flex-col gap-2">
        <div class="font-bold text-neutral-800">График работы</div>
        <div class="flex gap-1 hide-scrollbar overflow-x-scroll px-4 -mx-4 md:mx-0">
            {% if website.is_work_at_monday %}
            <div class="bg-white flex gap-1 rounded-lg px-2 py-1 whitespace-nowrap ">
                <div class="text-xs text-neutral-600">Пн</div>
                <div class="text-xs">{{ website.monday_schedule}}</div>
            </div>
            {% endif %}
            {% if website.is_work_at_tuesday %}
            <div class="bg-white flex gap-1 rounded-lg px-2 py-1 whitespace-nowrap">
                <div class="text-xs text-neutral-600">Вт</div>
                <div class="text-xs">{{ website.monday_schedule}}</div>
            </div>
            {% endif %}
            {% if website.is_work_at_wednesday %}
            <div class="bg-white flex gap-1 rounded-lg px-2 py-1 whitespace-nowrap">
                <div class="text-xs text-neutral-600">Ср</div>
                <div class="text-xs">{{ website.monday_schedule}}</div>
            </div>
            {% endif %}
            {% if website.is_work_at_thursday %}
            <div class="bg-white flex gap-1 rounded-lg px-2 py-1 whitespace-nowrap">
                <div class="text-xs text-neutral-600">Чт</div>
                <div class="text-xs">{{ website.monday_schedule}}</div>
            </div>
            {% endif %}
            {% if website.is_work_at_friday %}
            <div class="bg-white flex gap-1 rounded-lg px-2 py-1 whitespace-nowrap">
                <div class="text-xs text-neutral-600">Пт</div>
                <div class="text-xs">{{ website.monday_schedule}}</div>
            </div>
            {% endif %}
            {% if website.is_work_at_saturday %}
            <div class="bg-white flex gap-1 rounded-lg px-2 py-1 whitespace-nowrap">
                <div class="text-xs text-neutral-600">Сб</div>
                <div class="text-xs">{{ website.monday_schedule}}</div>
            </div>
            {% endif %}
            {% if website.is_work_at_sunday %}
            <div class="bg-white flex gap-1 rounded-lg px-2 py-1 whitespace-nowrap">
                <div class="text-xs text-neutral-600">Вс</div>
                <div class="text-xs">Выходной</div>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}