{% extends 'resources/base.html' %}
{% load static %}

{% block content %}
    <!-- Логотип-->
    {% if website.logo.file %}
    <div class="pt-8 px-4">
        <img class="h-16 overflow-hidden rounded-lg w-16" src="{{ website.logo.file.url }}" alt="{{ website.name }}">
    </div>
    {% endif %}
    
    <!-- Заголовок-->
    <div class="flex flex-col gap-2 px-4">
        <h1 class="font-bold text-neutral-800 text-2xl">{{ website.name }}</h1>
        <div class="text-xs text-neutral-600">{{ website.specialization }}</div>
    </div>

    <!-- Быстрые кнопки-->
    <div class="flex gap-1 px-4">
        <a class="bg-white hover:bg-white/90 flex flex-col items-center px-2 py-1 rounded-lg" href="{{ website.website.value }}" target="_blank">
            <div class="material-symbols-outlined text-blue-500 text-[1.2rem]">arrow_outward</div>
            <div class="text-xs text-blue-500">Вебсайт</div>
        </a>
        <a class="bg-white hover:bg-white/90 flex flex-col items-center px-2 py-1 rounded-lg" href="tel:{{ website.phone.value }}" target="_blank">
            <div class="material-symbols-outlined text-blue-500 text-[1.2rem]">call</div>
            <div class="text-xs text-blue-500">Позвонить</div>
        </a>
        <a class="bg-white hover:bg-white/90 flex flex-col items-center px-2 py-1 rounded-lg" href="mailto:{{ website.email.value }}" target="_blank">
            <div class="material-symbols-outlined text-blue-500 text-[1.2rem]">drafts</div>
            <div class="text-xs text-blue-500">Написать</div>
        </a>
    </div>

    <!-- Фото -->
    <div class="flex gap-1 hide-scrollbar overflow-x-scroll px-4 relative snap-x">
        {% for image in website.images %}
        <div class="overflow-hidden rounded-xl relative snap-center w-full" style="flex: 0 0 auto">
            <img class="w-full"  src="{{ image.file.url }}" alt="{{ image.name }}">
            <div class="absolute bottom-3 font-bold left-4 leading-8 right-4 text-white text-3xl">{{image.name}}</div>
        </div>
        {% endfor %}
    </div>

    <!-- Ссылки -->
    <div class="flex flex-wrap gap-1 px-4">
        {% if website.whatsapp %}
        <a class="bg-[#23B33A] shadow-md shadow-[#23B33A]/30 hover:bg-[#23B33A]/90 flex flex-col items-center px-4 py-2 rounded-lg" href="{{ website.whatsapp.value }}" target="_blank">
            <img class="h-4" src="{% static 'whatsapp_icon_logo.svg' %}" />
        </a>
        {% endif %}
        {% if website.telegram %}
        <a class="bg-[#38B0E3] shadow-md shadow-[#38B0E3]/30 hover:bg-[#38B0E3]/90 flex flex-col items-center px-4 py-2 rounded-lg" href="{{ website.telegram.value }}" target="_blank">
            <img class="h-4" src="{% static 'telegram_icon_logo.svg' %}" />
        </a>
        {% endif %}
        {% if website.viber %}
        <a class="bg-[#665CA7] shadow-md shadow-[#665CA7]/30 hover:bg-[#665CA7]/90 flex flex-col items-center px-4 py-2 rounded-lg" href="{{ website.viber.value }}" target="_blank">
            <img class="h-4" src="{% static 'viber_icon_logo.svg' %}" />
        </a>
        {% endif %}
        {% if website.vk %}
        <a class="bg-[#0077FF] shadow-md shadow-[#0077FF]/30 hover:bg-[#0077FF]/90 flex flex-col items-center px-4 py-2 rounded-lg" href="{{ website.vk.value }}" target="_blank">
            <img class="h-4" src="{% static 'vk_icon_logo.svg' %}" />
        </a>
        {% endif %}
        {% if website.ok %}
        <a class="bg-[#F7931E] shadow-md shadow-[#F7931E]/30 hover:bg-[#F7931E]/90 flex flex-col items-center px-4 py-2 rounded-lg" href="{{ website.ok.value }}" target="_blank">
            <img class="h-4" src="{% static 'ok_icon_logo.svg' %}" />
        </a>
        {% endif %}
        {% if website.x %}
        <a class="bg-[#000000] shadow-md shadow-[#000000]/30 hover:bg-[#000000]/90 flex flex-col items-center px-4 py-2 rounded-lg" href="{{ website.x.value }}" target="_blank">
            <img class="h-4" src="{% static 'x_icon_logo.svg' %}" />
        </a>
        {% endif %}
        {% if website.facebook %}
        <a class="bg-[#0062E0] shadow-md shadow-[#000000]/30 hover:bg-[#0062E0]/90 flex flex-col items-center px-4 py-2 rounded-lg" href="{{ website.facebook.value }}" target="_blank">
            <img class="h-4" src="{% static 'facebook_icon_logo.svg' %}" />
        </a>
        {% endif %}
        {% if website.instagram %}
        <a class="bg-[#C837AB] shadow-md shadow-[#000000]/30 hover:bg-[#C837AB]/90 flex flex-col items-center px-4 py-2 rounded-lg" href="{{ website.instagram.value }}" target="_blank">
            <img class="h-4" src="{% static 'instagram_icon_logo.svg' %}" />
        </a>
        {% endif %}
        {% if website.youtube %}
        <a class="bg-[#FF0000] shadow-md shadow-[#000000]/30 hover:bg-[#FF0000]/90 flex flex-col items-center px-4 py-2 rounded-lg" href="{{ website.youtube.value }}" target="_blank">
            <img class="h-4" src="{% static 'youtube_icon_logo.svg' %}" />
        </a>
        {% endif %}
        {% if website.rutube %}
        <a class="bg-[#1C293E] shadow-md shadow-[#000000]/30 hover:bg-[#1C293E]/90 flex flex-col items-center px-4 py-2 rounded-lg" href="{{ website.rutube.value }}" target="_blank">
            <img class="h-4" src="{% static 'rutube_icon_logo.svg' %}" />
        </a>       
        {% endif %}
    </div>    

    <!-- График работы -->
    <div class="flex flex-col gap-1">
        <div class="font-bold px-4 text-neutral-800">График работы</div>
        <div class="flex gap-1 hide-scrollbar overflow-x-scroll px-4">
            {% if website.is_work_at_monday %}
            <div class="bg-white flex gap-1 rounded-lg px-2 py-1 snap-start whitespace-nowrap">
                <div class="text-xs text-neutral-600">Пн</div>
                <div class="text-xs">{{ website.monday_schedule }}</div>
            </div>
            {% endif %}
            {% if website.is_work_at_tuesday %}
            <div class="bg-white flex gap-1 rounded-lg px-2 py-1 snap-start whitespace-nowrap">
                <div class="text-xs text-neutral-600">Вт</div>
                <div class="text-xs text-neutral-800">{{ website.monday_schedule }}</div>
            </div>
            {% endif %}
            {% if website.is_work_at_wednesday %}
            <div class="bg-white flex gap-1 rounded-lg px-2 py-1 snap-start whitespace-nowrap">
                <div class="text-xs text-neutral-600">Ср</div>
                <div class="text-xs text-neutral-800">{{ website.monday_schedule }}</div>
            </div>
            {% endif %}
            {% if website.is_work_at_thursday %}
            <div class="bg-white flex gap-1 rounded-lg px-2 py-1 snap-start whitespace-nowrap">
                <div class="text-xs text-neutral-600">Чт</div>
                <div class="text-xs text-neutral-800">{{ website.monday_schedule }}</div>
            </div>
            {% endif %}
            {% if website.is_work_at_friday %}
            <div class="bg-white flex gap-1 rounded-lg px-2 py-1 snap-start whitespace-nowrap">
                <div class="text-xs text-neutral-600">Пт</div>
                <div class="text-xs text-neutral-800">{{ website.monday_schedule }}</div>
            </div>
            {% endif %}
            {% if website.is_work_at_saturday %}
            <div class="bg-white flex gap-1 rounded-lg px-2 py-1 snap-start whitespace-nowrap">
                <div class="text-xs text-neutral-600">Сб</div>
                <div class="text-xs text-neutral-800">{{ website.monday_schedule }}</div>
            </div>
            {% endif %}
            {% if website.is_work_at_sunday %}
            <div class="bg-white flex gap-1 rounded-lg px-2 py-1 snap-start whitespace-nowrap">
                <div class="text-xs text-neutral-600">Вс</div>
                <div class="text-xs text-neutral-800">Выходной</div>
            </div>
            {% endif %}
        </div>        
    </div>

    <!-- Записаться -->
    <a class="shadow-md shadow-green-500/30 bg-green-500 hover:bg-green-500/90 flex items-center mx-4 px-4 py-2 rounded-lg" href="{{ website.action_button_url }}" target="_blank">
        <div class="font-bold text-lg text-white">{{ website.action_button_text }}</div>
        <div class="material-symbols-outlined  text-white ml-auto ">calendar_month</div>
    </a>

    <!-- Детали -->
    <div class="bg-white flex flex-col gap-1 mx-4 pl-4 py-3 rounded-xl">
        <div class="border-b border-neutral-200">
            <div class="pr-4 text-neutral-800">{{ website.description }}</div>
        </div>
        <div class="border-b border-neutral-200 last:border-none">
            <div class="text-xs text-neutral-600">Адрес</div>
            <div class="text-sm pr-4 text-neutral-800">{{ website.city }}, {{ website.address }}</div>
        </div>
    </div>

    <!-- Виджет рейтинга -->
    <a class="bg-gradient-to-b from-sky-900 to-sky-950 hover:from-sky-800 hover:to-sky-950 shadow-sky-900/30 px-4 pb-5 py-3 mx-4 rounded-lg" href="#">
        <div class="flex gap-4 items-center">
            <div class="text-sky-100">
                <div class="text-6xl text-center">4.9</div>
                <div class="flex gap-1 justify-center">
                <div class="text-yellow-400 text-[0.8rem]">★</div>
                <div class="text-yellow-400 text-[0.8rem]">★</div>
                <div class="text-yellow-400 text-[0.8rem]">★</div>
                <div class="text-yellow-400 text-[0.8rem]">★</div>
                <div class="text-yellow-400 text-[0.8rem]">★</div>
                </div>
            </div>
            <div class="flex flex-col flex-grow gap-1">
                <div>
                <div class="text-xs text-sky-200">Яндекс</div>
                <div class="h-1 w-[85%] bg-lime-500"></div>
                <div class="h-1 w-[10%] bg-rose-500"></div>
            </div>
            <div>
                <div class="text-xs text-sky-200">2Гис</div>
                <div class="h-1 w-full bg-lime-500"></div>
                <div class="h-1 w-[15%] bg-rose-500"></div>
            </div>
            <div>
                <div class="text-xs text-sky-200">Google</div>
                <div class="h-1 w-[80%] bg-lime-500"></div>
                <div class="h-1 w-[5%] bg-rose-500"></div>
            </div>
            
            </div>

            <div class="material-symbols-outlined text-sky-100 text-[1.2rem]">arrow_outward</div>
            

        </div>
        

    </a>
    <!-- Контакты -->
    <div class="bg-white flex flex-col gap-1 mx-4 pl-4 py-3 rounded-xl">
        {% for contact in website.contacts %}
        <div class="border-b border-neutral-200 last:border-none">
            <div class="pr-2 text-xs text-neutral-600">{{ contact.name }}</div>
            <div class="pr-2 text-neutral-800">{{ contact.value }}</div>
        </div>
        {% endfor %}
            
        {% for url in website.urls %}
        <a class="border-b border-neutral-200 last:border-none" href="{{ url.value }}" target="_blank">
            <div class="text-xs text-neutral-600">{{url.name}}</div>
            <div class="text-sm text-blue-500">{{url.value}}</div>
        </a>
        {% endfor %}
    </div>

    <!-- @TODO; !!! -->
    <div class="mb-4 text-center">
        <sapn class="text-neutral-500 text-xs">работает на</sapn> <a class="text-neutral-800 hover:text-orange-500 text-xs" href="https://portrate.io">portrate.io</a>
    </div>
{% endblock %}