{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>{{company.name}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">        
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
        <link href="{% static 'css/normalize.css' %}" rel="stylesheet" />
        <link href="{% static 'css/blueprint.css' %}" rel="stylesheet" />
        <link href="{% static 'css/blueprint-icons.css' %}" rel="stylesheet" />
        <link href="{% static 'css/feedback.css' %}" rel="stylesheet" />
        <script src="{% static 'javascript/jquery.min.js' %}"></script>
        <script src="{% static 'javascript/javascript.js' %}"></script>
        <script src="{% static 'javascript/imask.min.js' %}"></script>
    </head>
    <body>
        <div class="bp5-section bp5-card">
            <div class="bp5-padded bp5-section-card">
                {% if company.logo %}
                <div class="bp5-control-group">
                    <div class="bp5-form-group">
                        <img height=60 src="{{company.logo.url}}" alt="{{company.name}}" width=60>
                    </div>
                </div>
                {% endif %}
                <h3 class="bp5-heading">
                    {{company.name}}
                </h3>
                <div class="bp5-control-group">
                    {% if company.phone %}
                        <a class="bp5-tag bp5-minimal  bp5-round bp5-interactive" href="tel:{{company.phone}}">{{company.phone}}</a>
                    {% endif %}
                    <span class="bp5-tag bp5-minimal  bp5-round">{{company.address}}</span>
                    {% if company.form_contact_website %}
                    <a class="bp5-tag bp5-minimal  bp5-round bp5-interactive" href="{{company.form_contact_website}}" _target="blank">{{company.form_contact_website}}</a>
                    {% endif %}
                </div>
            </div>
            {% block content %}
            {% endblock %}
        </div>
        <div class="pio-made-in">
            <span class="bp5-text-muted bp5-text-small">работает на</span> <a href="https://portrate.io"><img alt="Портрет" src="{% static 'images/dashboard/logo.svg' %}" width=50></a>
        </div>
        {% block script %}
        {% endblock %}
    </body>
</html>
