{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>{{ company.name }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">        
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
        <link href="{% static 'dashboard/images/services/portrate.png' %}" rel="icon" type="image/png"/>
        <link href="{% static 'dashboard/css/normalize.css' %}" rel="stylesheet" />
        <link href="{% static 'dashboard/css/blueprint.css' %}" rel="stylesheet" />
        <link href="{% static 'dashboard/css/blueprint-icons.css' %}" rel="stylesheet" />
        <link href="{% static 'dashboard/css/flexgrid-utils.css' %}" rel="stylesheet" />
        <link href="{% static 'dashboard/css/feedback.css' %}" rel="stylesheet" />
        <script src="{% static 'dashboard/javascript/jquery.min.js' %}"></script>
        <script src="{% static 'dashboard/javascript/javascript.js' %}"></script>
        <script src="{% static 'dashboard/javascript/imask.min.js' %}"></script>
    </head>
    <body>
    <div class="container" style="padding-top:15px;">
        {% block content %}
        {% endblock %}
    </div>
    {% block script %}
    {% endblock %}
    </body>
</html>
