{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>{{ company.name }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">        
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
        <link href="{% static 'normalize.css' %}" rel="stylesheet" />
        <link href="{% static 'blueprint.css' %}" rel="stylesheet" />
        <link href="{% static 'blueprint-icons.css' %}" rel="stylesheet" />
        <script src="{% static 'jquery.min.js' %}"></script>
        <script src="{% static 'imask.min.js' %}"></script>
        <style>a{ text-decoration:none !important}</style>
    </head>
    <body style="background:#d3d8de;margin:15px;">
        <div style="margin:60px auto 30px auto;max-width:400px">
            <a style="border-radius:2px;display:block;height:60px;margin:0 auto -5px auto;width:60px" href="{% url 'feedback_rate' company_pk=company.id %}">
                {% if company.logo %}
                <img class="bp5-elevation-3" style="border-radius:2px;height:60px;width:60px" src="{{ company.logo.url }}" alt="{{ company.name }}">
                {% endif %}
            </a>
            <div class="bp5-section bp5-card bp5-elevation-3">
                <div class="bp5-padded bp5-section-card">
                    <h1 style="font-size:14px;font-weight:normal;margin:0;text-align:center">
                        {{ company.name }}
                    </h1>
                </div>
                {% block content %}
                {% endblock %}
            </div>
            <div style="font-size:10px;margin-top:15px;text-align:center;">
                <span class="bp5-text-muted">работает на</span> <a style="" href="https://portrate.io">portrate.io</a>
            </div>
        </div>
        {% block script %}
        {% endblock %}
    </body>
</html>
