{% extends 'feedback/base.html' %}
{% load static %}

{% block content %}
<h1 class="font-bold px-4 py-5 text-2xl text-center">Написать директору</h1>

<div class="px-4 pb-4">
    Расскажите что вам не понравилось и что мы можем сделать лучше.
    Директор накажет виновных, свяжется с вами и предложит решение проблемы.
</div>

<form class="px-4 pb-4" action="" method="post" novalidate>
    {% csrf_token %}

    <!-- Теги -->
    <h5 class="font-bold pb-1">Что именно вам не понравилось?</h5>
    {{ form.negative_message_tag }}

    <!-- Комментарий -->
    {{ form.text }}
    
    <!-- Контактный телефон -->
    <h5 class="font-bold pb-1">Оставьте ваш контакт <span class="text-rose-600">*</span></h5>
    {{ form.phone }}
    {% if form.phone.errors %}
    <div class="text-xs text-rose-600 pt-1">Необходимо заполнить контактный телефон </div>
    {% endif %}
    
    <button class="bg-lime-600 active:bg-lime-700 mt-4 py-2 px-4 rounded-lg text-center text-lg text-white w-full" href="{% url 'feedback_create' website_id=website.id %}" type="submit">Отправить</button>
</form>

<script>
    IMask(
        document.getElementById('id_phone'),
        {mask: '+7 000 000-00-00'}
    );

    document.querySelectorAll('.tag_widget input[type=checkbox]')
            .forEach(el => {
                if(el.checked){
                    el.parentElement.classList.add('bg-lime-600');
                    el.parentElement.classList.add('text-white');
                }
                el.addEventListener('click', event => {
                    event.target.parentElement.classList.toggle('bg-lime-600');
                    event.target.parentElement.classList.toggle('text-white');
                })
            });
</script>

{% endblock %}
