{% extends 'feedback/base.html' %}
{% load static %}
{% block content %}
<div class="bp5-padded bp5-section-card">
    <h5 class="bp5-heading pio-heading">
        Вам понравилось обслуживание?
    </h5>
    <div class="bp5-control-group bp5-fill bp5-vertical">
        <a class="bp5-button bp5-intent-success bp5-large pio-button"  href="{% url 'request' company_pk=company.id %}">Все отлично</a>
        <a class="bp5-button pio-button" href="{% url 'create' company_pk=company.id %}">Есть претензия</a>
    </div>
</div>
{% endblock %}
