{% extends 'feedback/base.html' %}
{% load static %}

{% block content %}
<div class="bp5-padded bp5-section-card">
    <h1 style="margin:0;text-align:center;">
        {{ company.request_form_home_head }}
    </h1>
</div>
<div class="bp5-padded bp5-section-card">
    <a class="bp5-button bp5-fill bp5-large bp5-intent-success" style="margin-bottom:5px;" href="{% url 'feedback_request' company_pk=company.id %}">Все отлично</a>
    <a class="bp5-button bp5-fill" href="{% url 'feedback_create' company_pk=company.id %}">Есть претензия</a>
</div>
{% endblock %}
