{% extends 'feedback/base.html' %}
{% load static %}
{% block content %}
{% include 'feedback/_company_heading.html' %}
{% include 'feedback/_company_contact.html' %}
<h5 class="bp5-heading">{{company.feedback_text_request_heading}}</h5>
<div class="bp5-form-group">
    <div class="bp5-form-content">
        <div class="bp5-control-group bp5-fill bp5-large bp5-vertical">
            {% if company.feedback_link_yandex %}
            <form method="post" novalidate>
                {% csrf_token %}
                <input name="service" value="YANDEX" type="hidden">
                <button class="bp5-button bp5-fill bp5-large bp5-align-left" type="submit">
                    <img height="16" src="{% static 'dashboard/images/services/yandex.png' %}" width="16">
                    <span class="bp5-button-text">Яндекс</span>
                </button>
            </form>
            {% endif %}
            {% if company.feedback_link_gis %}
            <form method="post" novalidate>
                {% csrf_token %}
                <input name="service" value="GIS" type="hidden">
                <button class="bp5-button bp5-fill bp5-large bp5-align-left" type="submit">
                    <img height="16" src="{% static 'dashboard/images/services/gis.png' %}" width="16">
                    <span class="bp5-button-text">2Гис</span>
                </button>
            </form>
            {% endif %}
            {% if company.feedback_link_google %}
            <form method="post" novalidate >
                {% csrf_token %}
                <input name="service" value="GOOGLE" type="hidden">
                <button class="bp5-button bp5-fill bp5-large bp5-align-left" type="submit">
                    <img height="16" src="{% static 'dashboard/images/services/google.png' %}" width="16">
                    <span class="bp5-button-text">Google</span>
                </button>
            </form>
            {% endif %}
            {% if company.feedback_link_avito %}
            <form method="post" novalidate>
                {% csrf_token %}
                <input name="service" value="AVITO" type="hidden">
                <button class="bp5-button bp5-fill bp5-large bp5-align-left" type="submit">
                    <img height="16" src="{% static 'dashboard/images/services/avito.png' %}" width="16">
                    <span class="bp5-button-text">Авито</span>
                </button>
            </form>
            {% endif %}
            {% if company.feedback_link_zoon %}
            <form method="post" novalidate>
                {% csrf_token %}
                <input name="service" value="ZOON" type="hidden">
                <button class="bp5-button bp5-fill bp5-large bp5-align-left" type="submit">
                    <img height="16" src="{% static 'dashboard/images/services/zoon.png' %}" width="16">
                    <span class="bp5-button-text">Zoon</span>
                </button>
            </form>
            {% endif %}
            {% if company.feedback_link_flamp %}
            <form method="post" novalidate>
                {% csrf_token %}
                <input name="service" value="FLAMP" type="hidden">
                <button class="bp5-button bp5-fill bp5-large bp5-align-left" type="submit">
                    <img height="16" src="{% static 'dashboard/images/services/flamp.png' %}" width="16">
                    <span class="bp5-button-text">Flamp</span>
                </button>
            </form>
            {% endif %}
            {% if company.feedback_link_yell %}
            <form method="post" novalidate>
                {% csrf_token %}
                <input name="service" value="YELL" type="hidden">
                <button class="bp5-button bp5-fill bp5-large bp5-align-left" type="submit">
                    <img height="16" src="{% static 'dashboard/images/services/yell.png' %}" width="16">
                    <span class="bp5-button-text">Yell</span>
                </button>
            </form>
            {% endif %}
            {% if company.feedback_link_prodoctorov %}
            <form method="post" novalidate>
                {% csrf_token %}
                <input name="service" value="PRODOCTOROV" type="hidden">
                <button class="bp5-button bp5-fill bp5-large bp5-align-left" type="submit">
                    <img height="16" src="{% static 'dashboard/images/services/prodoctorov.png' %}" width="16">
                    <span class="bp5-button-text">Продокторов</span>
                </button>
            </form>
            {% endif %}
            {% if company.feedback_link_yandex_services %}
            <form method="post" novalidate>
                {% csrf_token %}
                <input name="service" value="YANDEX_SERVICES" type="hidden">
                <button class="bp5-button bp5-fill bp5-large bp5-align-left" type="submit">
                    <img height="16" src="{% static 'dashboard/images/services/yandex_services.png' %}" width="16">
                    <span class="bp5-button-text">Яндекс услуги</span>
                </button>
            </form>
            {% endif %}
            {% if company.feedback_link_otzovik %}
            <form method="post" novalidate>
                {% csrf_token %}
                <input name="service" value="OTZOVIK" type="hidden">
                <button class="bp5-button bp5-fill bp5-large bp5-align-left" type="submit">
                    <img height="16" src="{% static 'dashboard/images/services/otzovik.png' %}" width="16">
                    <span class="bp5-button-text">Otzovik</span>
                </button>
            </form>
            {% endif %}
            {% if company.feedback_link_irecommend %}
            <form method="post" novalidate>
                {% csrf_token %}
                <input name="service" value="IRECOMMEND" type="hidden">
                <button class="bp5-button bp5-fill bp5-large bp5-align-left" type="submit">
                    <img height="16" src="{% static 'dashboard/images/services/irecommend.png' %}" width="16">
                    <span class="bp5-button-text">Irecommend</span>
                </button>
            </form>
            {% endif %}
            {% if company.feedback_link_tripadvisor %}
            <form method="post" novalidate>
                {% csrf_token %}
                <input name="service" value="TRIPADVISOR" type="hidden">
                <button class="bp5-button bp5-fill bp5-large bp5-align-left" type="submit">
                    <img height="16" src="{% static 'dashboard/images/services/tripadvisor.png' %}" width="16">
                    <span class="bp5-button-text">Tripadvisor</span>
                </button>
            </form>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}