a{text-decoration:none !important;}
body{background-color:white;margin:0;}

.container{width: 72rem;}

.bp5-html-table{width:100%;}
.bp5-navbar{padding:0;box-shadow:0 0 0 1px rgba(17, 20, 24, 0.15)}
.bp5-navbar-heading{padding-top:5px;}
